{% extends 'base.html' %}
{% block title %}{{ app.title }}{% endblock %}
{% block content %}
    <a href="{% url 'core:home' %}" title="Home">Home</a> |
    <a href="{% url 'course:add' %}" title="Add College">Add</a> |
    <a href="{% url 'course:export' %}" title="Export College">Export</a> |
    <a href="{% url 'course:import' %}" title="Import College">Import</a> |
    <hr>
    <h3>Manage {{ app.name }} </h3>
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <form method="get" action="{% url 'course:search' %}">
        {{ search.as_p }}
        <button type="submit">Search</button>
    </form>
    <ul>
        <li>Course List | Manage</li>
        <ul>
            {% for s in course.list %}
                <li>
                    {{ s.course }} - {{ s.description }} - {{ s.college }}
                    <a href="{% url 'course:edit' course=s.course %}" title="Edit {{ s.course }}">Edit</a> -
                    <a href="{% url 'course:delete' course=s.course %}" title="Delete {{ s.course }}">Delete</a> -
                </li>
            {% endfor %}
        </ul>
    </ul>
{% endblock %}