{% extends 'pwa/manage/common.html' %}
{% load static %}
{% block extension %}
    <section>
        <md-card ng-controller="CDT1Ctrl as cdt1">
            <div st-table="cdt1.displayed" st-pipe="cdt1.callServer">
                <md-card-title class="card-paint" ng-class="{'nf': cdt1.displayed.length == 0}">
                <md-card-title-text>
                    <span class="md-headline">Group Information Table</span>
                </md-card-title-text>
                <div>
                    <md-button class="md-icon-button" aria-label="Add" ng-click="add($event,'cdt1', 'Group')">
                        <md-tooltip direction="top">Add Group</md-tooltip>
                        <i class="material-icons">add</i>
                    </md-button>
                    <md-button class="md-icon-button" ng-click="search_panel = !search_panel">
                        <div ng-class="{'ng-hide': search_panel}">
                            <md-tooltip direction="left">Search List</md-tooltip>
                            <i class="material-icons">search</i>
                        </div>
                        <div ng-class="{'ng-hide': !search_panel}">
                            <md-tooltip direction="left">Close Search List</md-tooltip>
                            <i class="material-icons">clear</i>
                        </div>
                    </md-button>
                </div>
            </md-card-title>
                <div class="card-paint" ng-class="{'card-s-panel': search_panel, 'nf': cdt1.displayed.length == 0}"
                     layout="column" layout-align="center center" class="md-padding">
                    <div class="floating-search-box" ng-class="{'ng-hide': !search_panel}">
                        <div class="floating-search-box-wrap">
                            <input st-search="" ng-model="cdt1.search" type="text" placeholder="Search List">
                        </div>
                    </div>
                </div>
                <md-table-container>
                    <table class="md-table" st-safe-src="rowCollection">
                        <thead class="md-head">
                        <tr class="md-row card-th">
                            <th class="md-column th-pointer" st-sort="abbreviation">Abbreviation</th>
                            <th class="md-column th-pointer" st-sort="college">College</th>
                            <th class="md-column th-pointer" st-sort="name">Name</th>
                            <th class="md-column th-pointer" st-sort="type">Type</th>
                            <th class="md-column th-pointer action-th">
                                <md-button class="md-icon-button" ng-click="filter_panel = !filter_panel">
                                    <div ng-class="{'ng-hide': filter_panel}">
                                        <md-tooltip direction="left">Filter List</md-tooltip>
                                        <i class="material-icons">filter_list</i>
                                    </div>
                                    <div ng-class="{'ng-hide': !filter_panel}">
                                        <md-tooltip direction="left">Close Filter List</md-tooltip>
                                        <i class="material-icons">clear</i>
                                    </div>
                                </md-button>
                            </th>
                        </tr>
                        <tr class="md-row" ng-class="{'ng-hide': !filter_panel}">
                            <th class="md-column">
                                <md-input-container>
                                    <label>Search by Abbreviation</label>
                                    <input st-search="abbreviation" type="text">
                                </md-input-container>
                            </th>
                            <th class="md-column">
                                <md-input-container>
                                    <label>Search by College</label>
                                    <input st-search="college" type="text">
                                </md-input-container>
                            </th>
                            <th class="md-column">
                                <md-input-container>
                                    <label>Search by Name</label>
                                    <input st-search="name" type="text">
                                </md-input-container>
                            </th>
                            <th class="md-column">
                                <md-input-container>
                                    <label>Search by Group Type</label>
                                    <input st-search="type" type="text">
                                </md-input-container>
                            </th>
                        </tr>
                        </thead>
                        <thead class="md-table-progress">
                        <tr>
                            <th colspan="5">
                                <md-progress-linear ng-show="cdt1.isLoading"
                                                    md-mode="indeterminate"></md-progress-linear>
                            </th>
                        </tr>
                        </thead>
                        <tbody class="md-body">
                        <tr ng-repeat="row in cdt1.displayed" class="md-row">
                            <td data-title="Abbreviation"
                                class="md-cell">{% templatetag openvariable %}row.abbreviation{% templatetag closevariable %}</td>
                            <td data-title="College"
                                class="md-cell">{% templatetag openvariable %}row.college{% templatetag closevariable %}</td>
                            <td data-title="Name"
                                class="md-cell">{% templatetag openvariable %}row.name{% templatetag closevariable %}</td>
                            <td data-title="Type"
                                class="md-cell">{% templatetag openvariable %}row.type{% templatetag closevariable %}</td>
                            <td class="md-cell action-td">
                                <md-menu>
                                    <md-button aria-label="Open action mene" class="md-icon-button"
                                               ng-click="cdt1.openMenu($mdMenu, $event)">
                                        <i class="material-icons">more_vert</i>
                                    </md-button>
                                    <md-menu-content width="3">
                                        <md-menu-item>
                                            <md-button layout="row" layout-align="start center" aria-label="Edit Data"
                                                       class="nav-menu-item md-button md-ink-ripple"
                                                       ng-click="edit($event,'cdt1', 'Group', row)">
                                                <i class="material-icons">edit</i>
                                                <span>Edit</span>
                                            </md-button>
                                        </md-menu-item>
                                        <md-menu-item>
                                            <md-button layout="row" layout-align="start center" aria-label="Delete Data"
                                                       class="nav-menu-item md-button md-ink-ripple"
                                                       ng-click="delete($event,'cdt1', pk=row)">
                                                <i class="material-icons">delete</i>
                                                <span>Delete</span>
                                            </md-button>
                                        </md-menu-item>
                                    </md-menu-content>
                                </md-menu>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </md-table-container>
                <div ng-show="cdt1.displayed.length == 0" layout="column" layout-align="center center"
                     class="not-found">
                    <i class="material-icons">sentiment_dissatisfied</i>

                    <h3>No results found
                        <span ng-show="cdt1.search.length>0">
                            for
                        </span>
                        <em>{% templatetag openvariable %}cdt1.search{% templatetag closevariable %}</em></h3>
                </div>
                <div ng-if="cdt1.displayed.length != 0" class="pagination-controller" layout="row" layout-xs="column"
                     layout-sm="column" layout-align-xs="end stretch" layout-align-sm="end stretch"
                     layout-align="end start">
                    <div class="md-table-pagination">
                        <div class="page-select">
                            <div class="label">Row per page:</div>
                            <md-select ng-model="cdt1.itemsByPage" aria-label="Select Item per Page"
                                       class="md-table-select ">
                                <md-option ng-value="ibp" ng-repeat="ibp in cdt1.options">{% templatetag openvariable %}
                                    ibp {% templatetag closevariable %}</md-option>
                            </md-select>
                        </div>
                    </div>
                    <div class="text-center" st-pagination="" st-items-by-page="cdt1.itemsByPage"
                         st-template="{% static 'templates/pagination.tmpl.html' %}"></div>
                </div>
            </div>
        </md-card>
        <md-card ng-controller="CDT2Ctrl as cdt2">
            <div st-table="cdt2.displayed" st-pipe="cdt2.callServer">
                <md-card-title class="card-paint" ng-class="{'nf': cdt2.displayed.length == 0}">
                <md-card-title-text>
                    <span class="md-headline">Group Types</span>
                </md-card-title-text>
                <div>
                    <md-button class="md-icon-button" aria-label="Add" ng-click="add($event,'cdt2', 'Group')">
                        <md-tooltip direction="top">Add Group Type</md-tooltip>
                        <i class="material-icons">add</i>
                    </md-button>
                    <md-button class="md-icon-button" ng-click="search_panel = !search_panel">
                        <div ng-class="{'ng-hide': search_panel}">
                            <md-tooltip direction="left">Search List</md-tooltip>
                            <i class="material-icons">search</i>
                        </div>
                        <div ng-class="{'ng-hide': !search_panel}">
                            <md-tooltip direction="left">Close Search List</md-tooltip>
                            <i class="material-icons">clear</i>
                        </div>
                    </md-button>
                </div>
            </md-card-title>
                <div class="card-paint" ng-class="{'card-s-panel': search_panel, 'nf': cdt2.displayed.length == 0}"
                     layout="column" layout-align="center center" class="md-padding">
                    <div class="floating-search-box" ng-class="{'ng-hide': !search_panel}">
                        <div class="floating-search-box-wrap">
                            <input st-search="" ng-model="cdt2.search" type="text" placeholder="Search List">
                        </div>
                    </div>
                </div>
                <md-table-container>
                    <table class="md-table" st-safe-src="rowCollection">
                        <thead class="md-head">
                        <tr class="md-row card-th">
                            <th class="md-column th-pointer" st-sort="type">Type</th>
                            <th class="md-column th-pointer action-th">
                                <md-button class="md-icon-button" ng-click="filter_panel = !filter_panel">
                                    <div ng-class="{'ng-hide': filter_panel}">
                                        <md-tooltip direction="left">Filter List</md-tooltip>
                                        <i class="material-icons">filter_list</i>
                                    </div>
                                    <div ng-class="{'ng-hide': !filter_panel}">
                                        <md-tooltip direction="left">Close Filter List</md-tooltip>
                                        <i class="material-icons">clear</i>
                                    </div>
                                </md-button>
                            </th>
                        </tr>
                        <tr class="md-row" ng-class="{'ng-hide': !filter_panel}">
                            <th class="md-column">
                                <md-input-container>
                                    <label>Search by Group Type</label>
                                    <input st-search="type" type="text">
                                </md-input-container>
                            </th>
                        </tr>
                        </thead>
                        <thead class="md-table-progress">
                        <tr>
                            <th colspan="2">
                                <md-progress-linear ng-show="cdt2.isLoading"
                                                    md-mode="indeterminate"></md-progress-linear>
                            </th>
                        </tr>
                        </thead>
                        <tbody class="md-body">
                        <tr ng-repeat="row in cdt2.displayed" class="md-row">
                            <td data-title="Type"
                                class="md-cell">{% templatetag openvariable %}row.type{% templatetag closevariable %}</td>
                            <td class="md-cell action-td">
                                <md-menu>
                                    <md-button aria-label="Open action menu" class="md-icon-button"
                                               ng-click="cdt2.openMenu($mdMenu, $event)">
                                        <i class="material-icons">more_vert</i>
                                    </md-button>
                                    <md-menu-content width="3">
                                        <md-menu-item>
                                            <md-button layout="row" layout-align="start center" aria-label="Edit Data"
                                                       class="nav-menu-item md-button md-ink-ripple"
                                                       ng-click="edit($event,'cdt2', 'Group', row)">
                                                <i class="material-icons">edit</i>
                                                <span>Edit</span>
                                            </md-button>
                                        </md-menu-item>
                                        <md-menu-item>
                                            <md-button layout="row" layout-align="start center" aria-label="Delete Data"
                                                       class="nav-menu-item md-button md-ink-ripple"
                                                       ng-click="delete($event,'cdt2', pk=row)">
                                                <i class="material-icons">delete</i>
                                                <span>Delete</span>
                                            </md-button>
                                        </md-menu-item>
                                    </md-menu-content>
                                </md-menu>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </md-table-container>
                <div ng-show="cdt2.displayed.length == 0" layout="column" layout-align="center center"
                     class="not-found">
                    <i class="material-icons">sentiment_dissatisfied</i>

                    <h3>No results found
                        <span ng-show="cdt2.search.length>0">
                            for
                        </span>
                        <em>{% templatetag openvariable %}cdt2.search{% templatetag closevariable %}</em></h3>
                </div>
                <div ng-if="cdt2.displayed.length != 0" class="pagination-controller" layout="row" layout-xs="column"
                     layout-sm="column" layout-align-xs="end stretch" layout-align-sm="end stretch"
                     layout-align="end start">
                    <div class="md-table-pagination">
                        <div class="page-select">
                            <div class="label">Row per page:</div>
                            <md-select ng-model="cdt2.itemsByPage" aria-label="Select Item per Page"
                                       class="md-table-select ">
                                <md-option ng-value="ibp" ng-repeat="ibp in cdt2.options">{% templatetag openvariable %}
                                    ibp {% templatetag closevariable %}</md-option>
                            </md-select>
                        </div>
                    </div>
                    <div class="text-center" st-pagination="" st-items-by-page="cdt2.itemsByPage"
                         st-template="{% static 'templates/pagination.tmpl.html' %}"></div>
                </div>
            </div>
        </md-card>
        <md-card ng-controller="CDT3Ctrl as cdt3">
            <div st-table="cdt3.displayed" st-pipe="cdt3.callServer">
                <md-card-title class="card-paint" ng-class="{'nf': cdt3.displayed.length == 0}">
                <md-card-title-text>
                    <span class="md-headline">Group Types</span>
                </md-card-title-text>
                <div>
                    <md-button class="md-icon-button" aria-label="Add"
                               ng-click="add($event,'cdt3', 'Add User Group Position')">
                        <md-tooltip direction="top">Add Group Position</md-tooltip>
                        <i class="material-icons">add</i>
                    </md-button>
                    <md-button class="md-icon-button" ng-click="search_panel = !search_panel">
                        <div ng-class="{'ng-hide': search_panel}">
                            <md-tooltip direction="left">Search List</md-tooltip>
                            <i class="material-icons">search</i>
                        </div>
                        <div ng-class="{'ng-hide': !search_panel}">
                            <md-tooltip direction="left">Close Search List</md-tooltip>
                            <i class="material-icons">clear</i>
                        </div>
                    </md-button>
                </div>
            </md-card-title>
                <div class="card-paint" ng-class="{'card-s-panel': search_panel, 'nf': cdt3.displayed.length == 0}"
                     layout="column" layout-align="center center" class="md-padding">
                    <div class="floating-search-box" ng-class="{'ng-hide': !search_panel}">
                        <div class="floating-search-box-wrap">
                            <input st-search="" ng-model="cdt3.search" type="text" placeholder="Search List">
                        </div>
                    </div>
                </div>
                <md-table-container>
                    <table class="md-table" st-safe-src="rowCollection">
                        <thead class="md-head">
                        <tr class="md-row card-th">
                            <th class="md-column th-pointer" st-sort="type">Type</th>
                            <th class="md-column th-pointer action-th">
                                <md-button class="md-icon-button" ng-click="filter_panel = !filter_panel">
                                    <div ng-class="{'ng-hide': filter_panel}">
                                        <md-tooltip direction="left">Filter List</md-tooltip>
                                        <i class="material-icons">filter_list</i>
                                    </div>
                                    <div ng-class="{'ng-hide': !filter_panel}">
                                        <md-tooltip direction="left">Close Filter List</md-tooltip>
                                        <i class="material-icons">clear</i>
                                    </div>
                                </md-button>
                            </th>
                        </tr>
                        <tr class="md-row" ng-class="{'ng-hide': !filter_panel}">
                            <th class="md-column">
                                <md-input-container>
                                    <label>Search by Group Positions</label>
                                    <input st-search="position" type="text">
                                </md-input-container>
                            </th>
                        </tr>
                        </thead>
                        <thead class="md-table-progress">
                        <tr>
                            <th colspan="2">
                                <md-progress-linear ng-show="cdt3.isLoading"
                                                    md-mode="indeterminate"></md-progress-linear>
                            </th>
                        </tr>
                        </thead>
                        <tbody class="md-body">
                        <tr ng-repeat="row in cdt3.displayed" class="md-row">
                            <td data-title="Type"
                                class="md-cell">{% templatetag openvariable %}row.position{% templatetag closevariable %}</td>
                            <td class="md-cell action-td">
                                <md-menu>
                                    <md-button aria-label="Open action menu" class="md-icon-button"
                                               ng-click="cdt3.openMenu($mdMenu, $event)">
                                        <i class="material-icons">more_vert</i>
                                    </md-button>
                                    <md-menu-content width="3">
                                        <md-menu-item>
                                            <md-button layout="row" layout-align="start center" aria-label="Edit Data"
                                                       class="nav-menu-item md-button md-ink-ripple"
                                                       ng-click="edit($event,'cdt3', 'User Group Position', row)">
                                                <i class="material-icons">edit</i>
                                                <span>Edit</span>
                                            </md-button>
                                        </md-menu-item>
                                        <md-menu-item>
                                            <md-button layout="row" layout-align="start center" aria-label="Delete Data"
                                                       class="nav-menu-item md-button md-ink-ripple"
                                                       ng-click="delete($event,'cdt3', pk=row)">
                                                <i class="material-icons">delete</i>
                                                <span>Delete</span>
                                            </md-button>
                                        </md-menu-item>
                                    </md-menu-content>
                                </md-menu>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </md-table-container>
                <div ng-show="cdt3.displayed.length == 0" layout="column" layout-align="center center"
                     class="not-found">
                    <i class="material-icons">sentiment_dissatisfied</i>
                    <h3>No results found
                        <span ng-show="cdt3.search.length>0">
                            for
                        </span>
                        <em>{% templatetag openvariable %}cdt3.search{% templatetag closevariable %}</em></h3>
                </div>
                <div ng-if="cdt3.displayed.length != 0" class="pagination-controller" layout="row" layout-xs="column"
                     layout-sm="column" layout-align-xs="end stretch" layout-align-sm="end stretch"
                     layout-align="end start">
                    <div class="md-table-pagination">
                        <div class="page-select">
                            <div class="label">Row per page:</div>
                            <md-select ng-model="cdt3.itemsByPage" aria-label="Select Item per Page"
                                       class="md-table-select ">
                                <md-option ng-value="ibp" ng-repeat="ibp in cdt3.options">{% templatetag openvariable %}
                                    ibp {% templatetag closevariable %}</md-option>
                            </md-select>
                        </div>
                    </div>
                    <div class="text-center" st-pagination="" st-items-by-page="cdt3.itemsByPage"
                         st-template="{% static 'templates/pagination.tmpl.html' %}"></div>
                </div>
            </div>
        </md-card>
    </section>
{% endblock %}