{% extends 'pwa/manage/common.html' %}
{% load static %}
{% block extension %}
    <section>
        <md-card ng-controller="ClearanceCtrl as c">
            <div st-table="c.displayed" st-pipe="c.callServer">
                <md-card-title class="card-paint" ng-class="{'nf': c.displayed.length == 0}">
                <md-card-title-text>
                    <span class="md-headline">Clearance Table</span>
                </md-card-title-text>
                    <div>
                        <md-button class="md-icon-button" aria-label="Add" ng-click="add($event,'c', 'Clearance')">
                            <md-tooltip direction="top">Add Clearance</md-tooltip>
                            <i class="material-icons">add</i>
                        </md-button>
                        <md-button class="md-icon-button" ng-click="c.m_refresh()">
                            <md-tooltip direction="left">Manual Refresh</md-tooltip>
                            <i class="material-icons">refresh</i>
                        </md-button>
                        <md-button class="md-icon-button" target="_blank" ng-href="/admin/clearance/clearance/export/?">
                            <md-tooltip direction="left">Export List</md-tooltip>
                            <i class="material-icons">open_in_new</i>
                        </md-button>
                        <md-button class="md-icon-button" ng-click="search_panel = !search_panel">
                            <div ng-class="{'ng-hide': search_panel}">
                                <md-tooltip direction="left">Search List</md-tooltip>
                                <i class="material-icons">search</i>
                            </div>
                            <div ng-class="{'ng-hide': !search_panel}">
                                <md-tooltip direction="left">Close Search List</md-tooltip>
                                <i class="material-icons">clear</i>
                            </div>
                        </md-button>
                    </div>
            </md-card-title>
                <div class="card-paint" ng-class="{'card-s-panel': search_panel, 'nf': c.displayed.length == 0}"
                     layout="column" layout-align="center center" class="md-padding">
                    <div class="floating-search-box" ng-class="{'ng-hide': !search_panel}">
                        <div class="floating-search-box-wrap">
                            <input st-search="" ng-model="c.search" type="text" placeholder="Search List">
                        </div>
                    </div>
                </div>
                <md-table-container>
                    <table class="md-table" st-safe-src="rowCollection">
                        <thead class="md-head">
                        <tr class="md-row card-th">
                            <th class="md-column th-pointer" st-sort="status">Status</th>
                            <th class="md-column th-pointer" st-sort="name">Name</th>
                            <th class="md-column th-pointer" st-sort="semester">Semester</th>
                            <th class="md-column th-pointer action-th">
                                <md-button class="md-icon-button" ng-click="filter_panel = !filter_panel">
                                    <div ng-class="{'ng-hide': filter_panel}">
                                        <md-tooltip direction="left">Filter List</md-tooltip>
                                        <i class="material-icons">filter_list</i>
                                    </div>
                                    <div ng-class="{'ng-hide': !filter_panel}">
                                        <md-tooltip direction="left">Close Filter List</md-tooltip>
                                        <i class="material-icons">clear</i>
                                    </div>
                                </md-button>
                            </th>
                        </tr>
                        <tr class="md-row" ng-class="{'ng-hide': !filter_panel}">
                            <th class="md-column">
                                <md-input-container>
                                    <label>Search by Status</label>
                                    <input st-search="active" type="text">
                                </md-input-container>
                            </th>
                            <th class="md-column">
                                <md-input-container>
                                    <label>Search by Name</label>
                                    <input st-search="name" type="text">
                                </md-input-container>
                            </th>
                            <th class="md-column">
                                <md-input-container>
                                    <label>Search by Semester</label>
                                    <input st-search="semester" type="text">
                                </md-input-container>
                            </th>
                        </tr>
                        </thead>
                        <thead class="md-table-progress">
                        <tr>
                            <th colspan="4">
                                <md-progress-linear ng-show="c.isLoading"
                                                    md-mode="indeterminate"></md-progress-linear>
                            </th>
                        </tr>
                        </thead>
                        <tbody class="md-body">
                        <tr ng-repeat="row in c.displayed" class="md-row" layout-fill flex>
                            <td data-title="Status"
                                class="md-cell">{% templatetag openvariable %}row.active{% templatetag closevariable %}</td>
                            <td data-title="Name"
                                class="md-cell">{% templatetag openvariable %}row.name{% templatetag closevariable %}</td>
                            <td data-title="Semester"
                                class="md-cell">{% templatetag openvariable %}row.semester{% templatetag closevariable %}</td>
                            <td class="md-cell action-td">
                                <md-menu>
                                    <md-button aria-label="Open action menu" class="md-icon-button"
                                               ng-click="c.openMenu($mdMenu, $event)">
                                        <i class="material-icons">more_vert</i>
                                    </md-button>
                                    <md-menu-content width="3">
                                        <md-menu-item>
                                            <md-button layout="row" layout-align="start center"
                                                       aria-label="Issue Clearance"
                                                       class="nav-menu-item md-button md-ink-ripple"
                                                       ng-click="issue($event,'c_issue', 'Clearance', row)">
                                                <i class="material-icons">open_in_new</i>
                                                <span>Issue</span>
                                            </md-button>
                                        </md-menu-item>
                                        <md-menu-item>
                                            <md-button layout="row" layout-align="start center" aria-label="Edit Data"
                                                       class="nav-menu-item md-button md-ink-ripple"
                                                       target="_blank" ng-href="/admin/clearance/clearance/{% templatetag openvariable %}row.id{% templatetag closevariable %}/change/">
                                                <i class="material-icons">edit</i>
                                                <span>Edit</span>
                                            </md-button>
                                        </md-menu-item>
                                        <md-menu-item>
                                            <md-button layout="row" layout-align="start center" aria-label="Delate Data"
                                                       class="nav-menu-item md-button md-ink-ripple"
                                                       target="_blank" ng-href="/admin/clearance/clearance/{% templatetag openvariable %}row.id{% templatetag closevariable %}/delete/">
                                                <i class="material-icons">delete</i>
                                                <span>Delete</span>
                                            </md-button>
                                        </md-menu-item>
                                    </md-menu-content>
                                </md-menu>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </md-table-container>
                <div ng-show="c.displayed.length == 0" layout="column" layout-align="center center"
                     class="not-found">
                    <i class="material-icons">sentiment_dissatisfied</i>

                    <h3>No results found
                        <span ng-show="c.search.length>0">
                            for
                        </span>
                        <em>{% templatetag openvariable %}c.search{% templatetag closevariable %}</em></h3>
                </div>
                <div ng-if="c.displayed.length != 0" class="pagination-controller" layout="row" layout-xs="column"
                     layout-sm="column" layout-align-xs="end stretch" layout-align-sm="end stretch"
                     layout-align="end start">
                    <div class="md-table-pagination">
                        <div class="page-select">
                            <div class="label">Row per page:</div>
                            <md-select ng-model="c.itemsByPage" aria-label="Select Item per Page"
                                       class="md-table-select ">
                                <md-option ng-value="ibp" ng-repeat="ibp in c.options">{% templatetag openvariable %}
                                    ibp {% templatetag closevariable %}</md-option>
                            </md-select>
                        </div>
                    </div>
                    <div class="text-center" st-pagination="" st-items-by-page="c.itemsByPage"
                         st-template="{% static 'templates/pagination.tmpl.html' %}"></div>
                </div>
            </div>
        </md-card>
        <md-card ng-controller="ClearanceDurationCtrl as cd">
            <div st-table="cd.displayed" st-pipe="cd.callServer">
                <md-card-title class="card-paint" ng-class="{'nf': cd.displayed.length == 0}">
                <md-card-title-text>
                    <span class="md-headline">Clearance Duration Table</span>
                </md-card-title-text>
                    <div>
                        <md-button class="md-icon-button" aria-label="Add"
                                   target="_blank" ng-href="/admin/clearance/clearanceduration/add/">
                            <md-tooltip direction="top">Add Clearance Duration</md-tooltip>
                            <i class="material-icons">add</i>
                        </md-button>
                        <md-button class="md-icon-button" ng-click="cd.m_refresh()">
                            <md-tooltip direction="left">Manual Refresh</md-tooltip>
                            <i class="material-icons">refresh</i>
                        </md-button>
                        <md-button class="md-icon-button" target="_blank" ng-href="/admin/clearance/clearanceduration/export/?">
                            <md-tooltip direction="left">Export List</md-tooltip>
                            <i class="material-icons">open_in_new</i>
                        </md-button>
                        <md-button class="md-icon-button" ng-click="search_panel = !search_panel">
                            <div ng-class="{'ng-hide': search_panel}">
                                <md-tooltip direction="left">Search List</md-tooltip>
                                <i class="material-icons">search</i>
                            </div>
                            <div ng-class="{'ng-hide': !search_panel}">
                                <md-tooltip direction="left">Close Search List</md-tooltip>
                                <i class="material-icons">clear</i>
                            </div>
                        </md-button>
                    </div>
            </md-card-title>
                <div class="card-paint" ng-class="{'card-s-panel': search_panel, 'nf': cd.displayed.length == 0}"
                     layout="column" layout-align="center center" class="md-padding">
                    <div class="floating-search-box" ng-class="{'ng-hide': !search_panel}">
                        <div class="floating-search-box-wrap">
                            <input st-search="" ng-model="cd.search" type="text" placeholder="Search List">
                        </div>
                    </div>
                </div>
                <md-table-container>
                    <table class="md-table" st-safe-src="rowCollection">
                        <thead class="md-head">
                        <tr class="md-row card-th">
                            <th class="md-column th-pointer" st-sort="name">Name</th>
                            <th class="md-column th-pointer" st-sort="active">Status</th>
                            <th class="md-column th-pointer" st-sort="sem">Semester</th>
                            <th class="md-column th-pointer" st-sort="start">Clearance Start</th>
                            <th class="md-column th-pointer" st-sort="end">Clearance End</th>
                            <th class="md-column th-pointer action-th">
                                <md-button class="md-icon-button" ng-click="filter_panel = !filter_panel">
                                    <div ng-class="{'ng-hide': filter_panel}">
                                        <md-tooltip direction="left">Filter List</md-tooltip>
                                        <i class="material-icons">filter_list</i>
                                    </div>
                                    <div ng-class="{'ng-hide': !filter_panel}">
                                        <md-tooltip direction="left">Close Filter List</md-tooltip>
                                        <i class="material-icons">clear</i>
                                    </div>
                                </md-button>
                            </th>
                        </tr>
                        <tr class="md-row" ng-class="{'ng-hide': !filter_panel}">
                            <th class="md-column">
                                <md-input-container>
                                    <label>Search by name</label>
                                    <input st-search="name" type="text">
                                </md-input-container>
                            </th>
                            <th class="md-column">
                                <md-input-container>
                                    <label>Search by status</label>
                                    <input st-search="active" type="text">
                                </md-input-container>
                            </th>
                            <th class="md-column">
                                <md-input-container>
                                    <label>Search by semester</label>
                                    <input st-search="sem" type="text">
                                </md-input-container>
                            </th>
                            <th class="md-column">
                                <md-input-container>
                                    <label>Search by start date</label>
                                    <input st-search="start" type="text">
                                </md-input-container>
                            </th>
                            <th class="md-column">
                                <md-input-container>
                                    <label>Search by end date</label>
                                    <input st-search="end" type="text">
                                </md-input-container>
                            </th>
                        </tr>
                        </thead>
                        <thead class="md-table-progress">
                        <tr>
                            <th colspan="7">
                                <md-progress-linear ng-show="cd.isLoading"
                                                    md-mode="indeterminate"></md-progress-linear>
                            </th>
                        </tr>
                        </thead>
                        <tbody class="md-body">
                        <tr ng-repeat="row in cd.displayed" class="md-row" layout-fill flex>
                            <td data-title="Name"
                                class="md-cell">{% templatetag openvariable %}row.name{% templatetag closevariable %}</td>
                            <td data-title="Status"
                                class="md-cell">{% templatetag openvariable %}row.active{% templatetag closevariable %}</td>
                            <td data-title="Semester"
                                class="md-cell">{% templatetag openvariable %}row.sem{% templatetag closevariable %}</td>
                            <td data-title="Start"
                                class="md-cell">{% templatetag openvariable %}row.start{% templatetag closevariable %}</td>
                            <td data-title="End"
                                class="md-cell">{% templatetag openvariable %}row.end{% templatetag closevariable %}</td>
                            <td class="md-cell action-td">
                                <md-menu>
                                    <md-button aria-label="Open action menu" class="md-icon-button"
                                               ng-click="cd.openMenu($mdMenu, $event)">
                                        <i class="material-icons">more_vert</i>
                                    </md-button>
                                    <md-menu-content width="3">
                                        <md-menu-item>
                                            <md-button layout="row" layout-align="start center" aria-label="Edit Data"
                                                       class="nav-menu-item md-button md-ink-ripple"
                                                       target="_blank" ng-href="/admin/clearance/clearanceduration/{% templatetag openvariable %}row.id{% templatetag closevariable %}/change/">
                                                <i class="material-icons">edit</i>
                                                <span>Edit</span>
                                            </md-button>
                                        </md-menu-item>
                                        <md-menu-item>
                                            <md-button layout="row" layout-align="start center" aria-label="Delete Data"
                                                       class="nav-menu-item md-button md-ink-ripple"
                                                       target="_blank" ng-href="/admin/clearance/clearanceduration/{% templatetag openvariable %}row.id{% templatetag closevariable %}/delete/">
                                                <i class="material-icons">delete</i>
                                                <span>Delete</span>
                                            </md-button>
                                        </md-menu-item>
                                    </md-menu-content>
                                </md-menu>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </md-table-container>
                <div ng-show="cd.displayed.length == 0" layout="column" layout-align="center center"
                     class="not-found">
                    <i class="material-icons">sentiment_dissatisfied</i>

                    <h3>No results found
                        <span ng-show="cd.search.length>0">
                            for
                        </span>
                        <em>{% templatetag openvariable %}cd.search{% templatetag closevariable %}</em></h3>
                </div>
                <div ng-if="cd.displayed.length != 0" class="pagination-controller" layout="row" layout-xs="column"
                     layout-sm="column" layout-align-xs="end stretch" layout-align-sm="end stretch"
                     layout-align="end start">
                    <div class="md-table-pagination">
                        <div class="page-select">
                            <div class="label">Row per page:</div>
                            <md-select ng-model="cd.itemsByPage" aria-label="Select Item per Page"
                                       class="md-table-select ">
                                <md-option ng-value="ibp" ng-repeat="ibp in cd.options">{% templatetag openvariable %}
                                    ibp {% templatetag closevariable %}</md-option>
                            </md-select>
                        </div>
                    </div>
                    <div class="text-center" st-pagination="" st-items-by-page="cd.itemsByPage"
                         st-template="{% static 'templates/pagination.tmpl.html' %}"></div>
                </div>
            </div>
        </md-card>
    </section>
{% endblock %}