{% extends 'pwa/manage/common.html' %}
{% load static %}
{% block extension %}
    <section>
        <md-card ng-controller="ReceiptCtrl as receipt">
            <div st-table="receipt.displayed" st-pipe="receipt.callServer">
                <md-card-title class="card-paint" ng-class="{'nf': receipt.displayed.length == 0}">
                <md-card-title-text>
                    <span class="md-headline">Receipt Table</span>
                </md-card-title-text>
                    <div>
                        <md-button class="md-icon-button" ng-click="search_panel = !search_panel">
                            <div ng-class="{'ng-hide': search_panel}">
                                <md-tooltip direction="left">Search List</md-tooltip>
                                <i class="material-icons">search</i>
                            </div>
                            <div ng-class="{'ng-hide': !search_panel}">
                                <md-tooltip direction="left">Close Search List</md-tooltip>
                                <i class="material-icons">clear</i>
                            </div>
                        </md-button>
                        <md-button class="md-icon-button" ng-href="/admin/receipt/receipt/export/?" target="_blank">
                            <md-tooltip direction="left">Export List</md-tooltip>
                            <i class="material-icons">open_in_new</i>
                        </md-button>
                         <md-button class="md-icon-button" ng-click="receipt.m_refresh()">
                            <md-tooltip direction="left">Manual Refresh</md-tooltip>
                            <i class="material-icons">refresh</i>
                        </md-button>
                    </div>
            </md-card-title>
                <div class="card-paint" ng-class="{'card-s-panel': search_panel, 'nf': receipt.displayed.length == 0}"
                     layout="column" layout-align="center center" class="md-padding">
                    <div class="floating-search-box" ng-class="{'ng-hide': !search_panel}">
                        <div class="floating-search-box-wrap">
                            <input st-search="" ng-model="receipt.search" type="text" placeholder="Search List">
                        </div>
                    </div>
                </div>
                <md-table-container>
                    <table class="md-table" st-safe-src="rowCollection">
                        <thead class="md-head">
                        <tr class="md-row card-th">
                            <th class="md-column th-pointer" st-sort="receipt">Receipt</th>
                            <th class="md-column th-pointer" st-sort="number">Student I.D.</th>
                            <th class="md-column th-pointer" st-sort="remarks">Remarks</th>
                            <th class="md-column th-pointer" st-sort="is_cleared">Approval Status</th>
                            <th class="md-column th-pointer" st-sort="is_requested">Request Status</th>
                            <th class="md-column th-pointer" st-sort="requested_date">Requested Date</th>
                            <th class="md-column th-pointer" st-sort="receive_by">Receiver</th>
                            <th class="md-column th-pointer" st-sort="receive_date">Receive Date</th>
                            <th class="md-column th-pointer" st-sort="liability__clearance__name">Liability</th>
                            <th class="md-column th-pointer" st-sort="is_cleared">Digital Sign Status</th>
                            <th class="md-column th-pointer action-th">
                                <md-button class="md-icon-button" ng-click="filter_panel = !filter_panel">
                                    <div ng-class="{'ng-hide': filter_panel}">
                                        <md-tooltip direction="left">Filter List</md-tooltip>
                                        <i class="material-icons">filter_list</i>
                                    </div>
                                    <div ng-class="{'ng-hide': !filter_panel}">
                                        <md-tooltip direction="left">Close Filter List</md-tooltip>
                                        <i class="material-icons">clear</i>
                                    </div>
                                </md-button>
                            </th>
                        </tr>
                        <tr class="md-row" ng-class="{'ng-hide': !filter_panel}">
                            <th class="md-column">
                                <md-input-container>
                                    <label>Search by Receipt</label>
                                    <input st-search="receipt" type="text">
                                </md-input-container>
                            </th>
                            <th class="md-column">
                                <md-input-container>
                                    <label>Search by Student I.D.</label>
                                    <input st-search="number" type="text">
                                </md-input-container>
                            </th>
                            <th class="md-column">
                                <md-input-container>
                                    <label>Search by Remarks</label>
                                    <input st-search="remarks" type="text">
                                </md-input-container>
                            </th>
                            <th class="md-column">
                                <md-input-container>
                                    <label>Search by Approval Status</label>
                                    <input st-search="cleared" type="text">
                                </md-input-container>
                            </th>
                            <th class="md-column">
                                <md-input-container>
                                    <label>Search by Request Status</label>
                                    <input st-search="requested" type="text">
                                </md-input-container>
                            </th>
                            <th class="md-column">
                                <md-input-container>
                                    <label>Search by Requested Date</label>
                                    <input st-search="requested_date" type="text">
                                </md-input-container>
                            </th>
                            <th class="md-column">
                                <md-input-container>
                                    <label>Search by Receiver Name</label>
                                    <input st-search="receive_by" type="text">
                                </md-input-container>
                            </th>
                            <th class="md-column">
                                <md-input-container>
                                    <label>Search by Receive Date</label>
                                    <input st-search="receive_date" type="text">
                                </md-input-container>
                            </th>
                            <th class="md-column">
                                <md-input-container>
                                    <label>Search by Liability</label>
                                    <input st-search="liability" type="text">
                                </md-input-container>
                            </th>
                            <th class="md-column">
                                <md-input-container>
                                    <label>Search by Sign Status</label>
                                    <input st-search="verified" type="text">
                                </md-input-container>
                            </th>
                        </tr>
                        </thead>
                        <thead class="md-table-progress">
                        <tr>
                            <th colspan="11">
                                <md-progress-linear ng-show="receipt.isLoading"
                                                    md-mode="indeterminate"></md-progress-linear>
                            </th>
                        </tr>
                        </thead>
                        <tbody class="md-body">
                        <tr ng-repeat="row in receipt.displayed" class="md-row" flex>
                            <td data-title="Receipt"
                                class="md-cell">{% templatetag openvariable %}row.receipt{% templatetag closevariable %}</td>
                            <td data-title="Student I.D."
                                class="md-cell">{% templatetag openvariable %}row.number{% templatetag closevariable %}</td>
                            <td data-title="Remarks"
                                class="md-cell">{% templatetag openvariable %}row.remarks{% templatetag closevariable %}</td>
                            <td data-title="Approval Status"
                                class="md-cell"><span ng-if="row.cleared">Cleared</span><span ng-if="!row.cleared">Not Cleared</span></td>
                            <td data-title="Request Status"
                                class="md-cell"><span ng-if="row.requested">Requested</span><span ng-if="!row.requested">Not Requested</span></td>
                            <td data-title="Request Date"
                                class="md-cell">{% templatetag openvariable %}row.requested_date{% templatetag closevariable %}</td>
                            <td data-title="Receive By"
                                class="md-cell">{% templatetag openvariable %}row.receive_by{% templatetag closevariable %}</td>
                            <td data-title="Receive Date"
                                class="md-cell">{% templatetag openvariable %}row.receive_date{% templatetag closevariable %}</td>
                            <td data-title="Liability"
                                class="md-cell">{% templatetag openvariable %}row.liability{% templatetag closevariable %}</td>
                            <td data-title="Digital Sign Status"
                                class="md-cell"><span ng-if="row.requested">Verified</span><span ng-if="!row.verified">Not Verified</span></td>
                            <td class="md-cell action-td">
                                <md-menu>
                                    <md-button aria-label="Open action mene" class="md-icon-button"
                                               ng-click="receipt.openMenu($mdMenu, $event)">
                                        <i class="material-icons">more_vert</i>
                                    </md-button>
                                    <md-menu-content width="3">
                                        <md-menu-item>
                                            <md-button layout="row" layout-align="start center" aria-label="Export"
                                                       class="nav-menu-item md-button md-ink-ripple"
                                                       ng-click="receipt.export(row)">
                                                <i class="material-icons">open_in_new</i>
                                                <span>Download Clearance</span>
                                            </md-button>
                                        </md-menu-item>
                                    </md-menu-content>
                                </md-menu>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </md-table-container>
                <div ng-show="receipt.displayed.length == 0" layout="column" layout-align="center center"
                     class="not-found">
                    <i class="material-icons">sentiment_dissatisfied</i>

                    <h3>No results found
                        <span ng-show="receipt.search.length>0">
                            for
                        </span>
                        <em>{% templatetag openvariable %}receipt.search{% templatetag closevariable %}</em></h3>
                </div>
                <div ng-if="receipt.displayed.length != 0" class="pagination-controller" layout="row" layout-xs="column"
                     layout-sm="column" layout-align-xs="end stretch" layout-align-sm="end stretch"
                     layout-align="end start">
                    <div class="md-table-pagination">
                        <div class="page-select">
                            <div class="label">Row per page:</div>
                            <md-select ng-model="receipt.itemsByPage" aria-label="Select Item per Page"
                                       class="md-table-select ">
                                <md-option ng-value="ibp"
                                           ng-repeat="ibp in receipt.options">{% templatetag openvariable %}
                                    ibp {% templatetag closevariable %}</md-option>
                            </md-select>
                        </div>
                    </div>
                    <div class="text-center" st-pagination="" st-items-by-page="receipt.itemsByPage"
                         st-template="{% static 'templates/pagination.tmpl.html' %}"></div>
                </div>
            </div>
        </md-card>
    </section>
{% endblock %}