{% extends 'pwa/manage/common.html' %}
{% load static %}
{% block extension %}
    <section>
        <md-card ng-controller="SemesterCtrl as semester">
            <div st-table="semester.displayed" st-pipe="semester.callServer">
                <md-card-title class="card-paint" ng-class="{'nf': semester.displayed.length == 0}">
                <md-card-title-text>
                    <span class="md-headline">Semester Table</span>
                </md-card-title-text>
                    <div>
                        <md-button class="md-icon-button" aria-label="Add"
                                   ng-click="add($event,'semester', 'Semester')">
                            <md-tooltip direction="top">Add Semester</md-tooltip>
                            <i class="material-icons">add</i>
                        </md-button>
                        <md-button class="md-icon-button" ng-click="semester.m_refresh()">
                            <md-tooltip direction="left">Manual Refresh</md-tooltip>
                            <i class="material-icons">refresh</i>
                        </md-button>
                        <md-button class="md-icon-button" target="_blank" ng-href="/admin/semester/semester/export/?">
                            <md-tooltip direction="left">Export List</md-tooltip>
                            <i class="material-icons">open_in_new</i>
                        </md-button>
                        <md-button class="md-icon-button" ng-click="search_panel = !search_panel">
                            <div ng-class="{'ng-hide': search_panel}">
                                <md-tooltip direction="left">Search List</md-tooltip>
                                <i class="material-icons">search</i>
                            </div>
                            <div ng-class="{'ng-hide': !search_panel}">
                                <md-tooltip direction="left">Close Search List</md-tooltip>
                                <i class="material-icons">clear</i>
                            </div>
                        </md-button>
                    </div>
            </md-card-title>
                <div class="card-paint" ng-class="{'card-s-panel': search_panel, 'nf': semester.displayed.length == 0}"
                     layout="column" layout-align="center center" class="md-padding">
                    <div class="floating-search-box" ng-class="{'ng-hide': !search_panel}">
                        <div class="floating-search-box-wrap">
                            <input st-search="" ng-model="semester.search" type="text" placeholder="Search List">
                        </div>
                    </div>
                </div>
                <md-table-container>
                    <table class="md-table" st-safe-src="rowCollection">
                        <thead class="md-head">
                        <tr class="md-row card-th">
                            <th class="md-column th-pointer" st-sort="semester">Semester</th>
                            <th class="md-column th-pointer" st-sort="active">Status</th>
                            <th class="md-column th-pointer" st-sort="school_year">School Year</th>
                            <th class="md-column th-pointer action-th">
                                <md-button class="md-icon-button" ng-click="filter_panel = !filter_panel">
                                    <div ng-class="{'ng-hide': filter_panel}">
                                        <md-tooltip direction="left">Filter List</md-tooltip>
                                        <i class="material-icons">filter_list</i>
                                    </div>
                                    <div ng-class="{'ng-hide': !filter_panel}">
                                        <md-tooltip direction="left">Close Filter List</md-tooltip>
                                        <i class="material-icons">clear</i>
                                    </div>
                                </md-button>
                            </th>
                        </tr>
                        <tr class="md-row" ng-class="{'ng-hide': !filter_panel}">
                            <th class="md-column">
                                <md-input-container>
                                    <label>Search by Semester</label>
                                    <input st-search="semester" type="text">
                                </md-input-container>
                            </th>
                            <th class="md-column">
                                <md-input-container>
                                    <label>Search by Status</label>
                                    <input st-search="active" type="text">
                                </md-input-container>
                            </th>
                            <th class="md-column">
                                <md-input-container>
                                    <label>Search by School Year</label>
                                    <input st-search="school_year" type="text">
                                </md-input-container>
                            </th>
                        </tr>
                        </thead>
                        <thead class="md-table-progress">
                        <tr>
                            <th colspan="5">
                                <md-progress-linear ng-show="semester.isLoading"
                                                    md-mode="indeterminate"></md-progress-linear>
                            </th>
                        </tr>
                        </thead>
                        <tbody class="md-body">
                        <tr ng-repeat="row in semester.displayed" class="md-row">
                            <td data-title="Semester"
                                class="md-cell">{% templatetag openvariable %}row.semester{% templatetag closevariable %}</td>
                            <td data-title="Status"
                                class="md-cell">{% templatetag openvariable %}row.active{% templatetag closevariable %}</td>
                            <td data-title="School Year"
                                class="md-cell">{% templatetag openvariable %}row.school_year{% templatetag closevariable %}</td>
                            <td class="md-cell action-td">
                                <md-menu>
                                    <md-button aria-label="Open action mene" class="md-icon-button"
                                               ng-click="semester.openMenu($mdMenu, $event)">
                                        <i class="material-icons">more_vert</i>
                                    </md-button>
                                    <md-menu-content width="3">
                                        <md-menu-item>
                                            <md-button layout="row" layout-align="start center" aria-label="Edit Data"
                                                       class="nav-menu-item md-button md-ink-ripple"
                                                       target="_blank" ng-href="/admin/semester/semester/{% templatetag openvariable %}row.id{% templatetag closevariable %}/change/">
                                                <i class="material-icons">edit</i>
                                                <span>Edit</span>
                                            </md-button>
                                        </md-menu-item>
                                        <md-menu-item>
                                            <md-button layout="row" layout-align="start center" aria-label="Delete Data"
                                                       class="nav-menu-item md-button md-ink-ripple"
                                                       target="_blank" ng-href="/admin/semester/semester/{% templatetag openvariable %}row.id{% templatetag closevariable %}/delete/">
                                                <i class="material-icons">delete</i>
                                                <span>Delete</span>
                                            </md-button>
                                        </md-menu-item>
                                    </md-menu-content>
                                </md-menu>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </md-table-container>
                <div ng-show="semester.displayed.length == 0" layout="column" layout-align="center center"
                     class="not-found">
                    <i class="material-icons">sentiment_dissatisfied</i>

                    <h3>No results found
                        <span ng-show="semester.search.length>0">
                            for
                        </span>
                        <em>{% templatetag openvariable %}semester.search{% templatetag closevariable %}</em></h3>
                </div>
                <div ng-if="semester.displayed.length != 0" class="pagination-controller" layout="row"
                     layout-xs="column" layout-sm="column" layout-align-xs="end stretch" layout-align-sm="end stretch"
                     layout-align="end start">
                    <div class="md-table-pagination">
                        <div class="page-select">
                            <div class="label">Row per page:</div>
                            <md-select ng-model="semester.itemsByPage" aria-label="Select Item per Page"
                                       class="md-table-select ">
                                <md-option ng-value="ibp"
                                           ng-repeat="ibp in semester.options">{% templatetag openvariable %}
                                    ibp {% templatetag closevariable %}</md-option>
                            </md-select>
                        </div>
                    </div>
                    <div class="text-center" st-pagination="" st-items-by-page="semester.itemsByPage"
                         st-template="{% static 'templates/pagination.tmpl.html' %}"></div>
                </div>
            </div>
        </md-card>
    </section>
{% endblock %}