{% extends 'pwa/manage/common.html' %}
{% load static %}
{% block extension %}
    <section>
        <md-card ng-controller="StudentCtrl as student">
            <div st-table="student.displayed" st-pipe="student.callServer">
                <md-card-title class="card-paint" ng-class="{'nf': student.displayed.length == 0}">
                <md-card-title-text>
                    <span class="md-headline">Student Information Table</span>
                </md-card-title-text>
                    <div>
                        <md-button class="md-icon-button" aria-label="Add" ng-click="add($event,'student', 'Student')">
                            <md-tooltip direction="top">Add Student</md-tooltip>
                            <i class="material-icons">add</i>
                        </md-button>
                        <md-button class="md-icon-button" ng-click="search_panel = !search_panel">
                            <div ng-class="{'ng-hide': search_panel}">
                                <md-tooltip direction="left">Search List</md-tooltip>
                                <i class="material-icons">search</i>
                            </div>
                            <div ng-class="{'ng-hide': !search_panel}">
                                <md-tooltip direction="left">Close Search List</md-tooltip>
                                <i class="material-icons">clear</i>
                            </div>
                        </md-button>
                    </div>
            </md-card-title>
                <div class="card-paint" ng-class="{'card-s-panel': search_panel, 'nf': student.displayed.length == 0}"
                     layout="column" layout-align="center center" class="md-padding">
                    <div class="floating-search-box" ng-class="{'ng-hide': !search_panel}">
                        <div class="floating-search-box-wrap">
                            <input st-search="" ng-model="student.search" type="text" placeholder="Search List">
                        </div>
                    </div>
                </div>
                <md-table-container>
                    <table class="md-table" st-safe-src="rowCollection">
                        <thead class="md-head">
                        <tr class="md-row card-th">
                            <th class="md-column th-pointer" st-sort="number">I.D. Number</th>
                            <th class="md-column th-pointer" st-sort="number__first_name">Name</th>
                            <th class="md-column th-pointer" st-sort="year">Year</th>
                            <th class="md-column th-pointer" st-sort="course">Course</th>
                            <th class="md-column th-pointer" st-sort="course__department__abbreviation">Department</th>
                            <th class="md-column th-pointer" st-sort="course__college__college">College</th>
                            <th class="md-column th-pointer action-th">
                                <md-button class="md-icon-button" ng-click="filter_panel = !filter_panel">
                                    <div ng-class="{'ng-hide': filter_panel}">
                                        <md-tooltip direction="left">Filter List</md-tooltip>
                                        <i class="material-icons">filter_list</i>
                                    </div>
                                    <div ng-class="{'ng-hide': !filter_panel}">
                                        <md-tooltip direction="left">Close Filter List</md-tooltip>
                                        <i class="material-icons">clear</i>
                                    </div>
                                </md-button>
                            </th>
                        </tr>
                        <tr class="md-row" ng-class="{'ng-hide': !filter_panel}">
                            <th class="md-column">
                                <md-input-container>
                                    <label>Search by I.D Number</label>
                                    <input st-search="number" type="text">
                                </md-input-container>
                            </th>
                            <th class="md-column">
                                <md-input-container>
                                    <label>Search by Name</label>
                                    <input st-search="full_name" type="text">
                                </md-input-container>
                            </th>
                            <th class="md-column">
                                <md-input-container>
                                    <label>Search by Year</label>
                                    <input st-search="year" type="text">
                                </md-input-container>
                            </th>
                            <th class="md-column">
                                <md-input-container>
                                    <label>Search by Course</label>
                                    <input st-search="course" type="text">
                                </md-input-container>
                            </th>
                            <th class="md-column">
                                <md-input-container>
                                    <label>Search by Department</label>
                                    <input st-search="department" type="text">
                                </md-input-container>
                            </th>
                            <th class="md-column">
                                <md-input-container>
                                    <label>Search by College</label>
                                    <input st-search="college" type="text">
                                </md-input-container>
                            </th>
                        </tr>
                        </thead>
                        <thead class="md-table-progress">
                        <tr>
                            <th colspan="5">
                                <md-progress-linear ng-show="student.isLoading"
                                                    md-mode="indeterminate"></md-progress-linear>
                            </th>
                        </tr>
                        </thead>
                        <tbody class="md-body">
                        <tr ng-repeat="row in student.displayed" class="md-row">
                            <td data-title="I.D. Number"
                                class="md-cell">{% templatetag openvariable %}row.number{% templatetag closevariable %}</td>
                            <td data-title="Full Name"
                                class="md-cell">{% templatetag openvariable %}row.full_name{% templatetag closevariable %}</td>
                            <td data-title="Year"
                                class="md-cell">{% templatetag openvariable %}row.year{% templatetag closevariable %}</td>
                            <td data-title="Course"
                                class="md-cell">{% templatetag openvariable %}row.course{% templatetag closevariable %}
                                <md-tooltip
                                        direction="top">{% templatetag openvariable %}row.course_desc{% templatetag closevariable %}</md-tooltip>
                            </td>
                            <td data-title="Department"
                                class="md-cell">{% templatetag openvariable %}row.department{% templatetag closevariable %}
                                <md-tooltip
                                        direction="top">{% templatetag openvariable %}row.department_name{% templatetag closevariable %}</md-tooltip>
                            </td>
                            <td data-title="College"
                                class="md-cell">{% templatetag openvariable %}row.college{% templatetag closevariable %}
                                <md-tooltip
                                        direction="top">{% templatetag openvariable %}row.college_desc{% templatetag closevariable %}</md-tooltip>
                            </td>
                            <td class="md-cell action-td">
                                <md-menu>
                                    <md-button aria-label="Open action mene" class="md-icon-button"
                                               ng-click="student.openMenu($mdMenu, $event)">
                                        <i class="material-icons">more_vert</i>
                                    </md-button>
                                    <md-menu-content width="3">
                                        <md-menu-item>
                                            <md-button layout="row" layout-align="start center" aria-label="Edit Data"
                                                       class="nav-menu-item md-button md-ink-ripple"
                                                       ng-click="edit($event,'student', 'Group', row)">
                                                <i class="material-icons">edit</i>
                                                <span>Edit</span>
                                            </md-button>
                                        </md-menu-item>
                                        <md-menu-item>
                                            <md-button layout="row" layout-align="start center" aria-label="Delete Data"
                                                       class="nav-menu-item md-button md-ink-ripple"
                                                       ng-click="delete($event,'student', pk=row)">
                                                <i class="material-icons">delete</i>
                                                <span>Delete</span>
                                            </md-button>
                                        </md-menu-item>
                                    </md-menu-content>
                                </md-menu>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </md-table-container>
                <div ng-show="student.displayed.length == 0" layout="column" layout-align="center center"
                     class="not-found">
                    <i class="material-icons">sentiment_dissatisfied</i>

                    <h3>No results found
                        <span ng-show="student.search.length>0">
                            for
                        </span>
                        <em>{% templatetag openvariable %}student.search{% templatetag closevariable %}</em></h3>
                </div>
                <div ng-if="student.displayed.length != 0" class="pagination-controller" layout="row" layout-xs="column"
                     layout-sm="column" layout-align-xs="end stretch" layout-align-sm="end stretch"
                     layout-align="end start">
                    <div class="md-table-pagination">
                        <div class="page-select">
                            <div class="label">Row per page:</div>
                            <md-select ng-model="student.itemsByPage" aria-label="Select Item per Page"
                                       class="md-table-select ">
                                <md-option ng-value="ibp"
                                           ng-repeat="ibp in student.options">{% templatetag openvariable %}
                                    ibp {% templatetag closevariable %}</md-option>
                            </md-select>
                        </div>
                    </div>
                    <div class="text-center" st-pagination="" st-items-by-page="student.itemsByPage"
                         st-template="{% static 'templates/pagination.tmpl.html' %}"></div>
                </div>
            </div>
        </md-card>
    </section>
{% endblock %}