{% extends 'pwa/manage/common.html' %}
{% load static %}
{% block extension %}
    <section>
        <md-card ng-controller="UserCtrl as user">
            <div st-table="user.displayed" st-pipe="user.callServer">
                <md-card-title class="card-paint" ng-class="{'nf': user.displayed.length == 0}">
                <md-card-title-text>
                    <span class="md-headline">User Information Table</span>
                </md-card-title-text>
                    <div>
                        <md-button class="md-icon-button" aria-label="Add" ng-href="/admin/users/cuser/add/" target="_blank">
                            <md-tooltip direction="top">Add User</md-tooltip>
                            <i class="material-icons">add</i>
                        </md-button>
                         <md-button class="md-icon-button" ng-href="/admin/users/cusers/export/?" target="_blank">
                            <md-tooltip direction="left">Export List</md-tooltip>
                            <i class="material-icons">open_in_new</i>
                        </md-button>
                         <md-button class="md-icon-button" ng-click="user.m_refresh()">
                            <md-tooltip direction="left">Manual Refresh</md-tooltip>
                            <i class="material-icons">refresh</i>
                        </md-button>
                        <md-button class="md-icon-button" ng-click="search_panel = !search_panel">
                            <div ng-class="{'ng-hide': search_panel}">
                                <md-tooltip direction="left">Search List</md-tooltip>
                                <i class="material-icons">search</i>
                            </div>
                            <div ng-class="{'ng-hide': !search_panel}">
                                <md-tooltip direction="left">Close Search List</md-tooltip>
                                <i class="material-icons">clear</i>
                            </div>
                        </md-button>
                    </div>
            </md-card-title>
                <div class="card-paint" ng-class="{'card-s-panel': search_panel, 'nf': user.displayed.length == 0}"
                     layout="column" layout-align="center center" class="md-padding">
                    <div class="floating-search-box" ng-class="{'ng-hide': !search_panel}">
                        <div class="floating-search-box-wrap">
                            <input st-search="" ng-model="user.search" type="text" placeholder="Search List">
                        </div>
                    </div>
                </div>
                <md-table-container>
                    <table class="md-table" st-safe-src="rowCollection">
                        <thead class="md-head">
                        <tr class="md-row card-th">
                            <th class="md-column th-pointer" st-sort="number">I.D. Number</th>
                            <th class="md-column th-pointer" st-sort="first_name">Full Name</th>
                            <th class="md-column th-pointer" st-sort="address">Address</th>
                            <th class="md-column th-pointer" st-sort="type">Type</th>
                            <th class="md-column th-pointer action-th">
                                <md-button class="md-icon-button" ng-click="filter_panel = !filter_panel">
                                    <div ng-class="{'ng-hide': filter_panel}">
                                        <md-tooltip direction="left">Filter List</md-tooltip>
                                        <i class="material-icons">filter_list</i>
                                    </div>
                                    <div ng-class="{'ng-hide': !filter_panel}">
                                        <md-tooltip direction="left">Close Filter List</md-tooltip>
                                        <i class="material-icons">clear</i>
                                    </div>
                                </md-button>
                            </th>
                        </tr>
                        <tr class="md-row" ng-class="{'ng-hide': !filter_panel}">
                            <th class="md-column">
                                <md-input-container>
                                    <label>Search by I.D Number</label>
                                    <input st-search="number" type="text">
                                </md-input-container>
                            </th>
                            <th class="md-column">
                                <md-input-container>
                                    <label>Search by Name</label>
                                    <input st-search="full_name" type="text">
                                </md-input-container>
                            </th>
                            <th class="md-column">
                                <md-input-container>
                                    <label>Search by Address</label>
                                    <input st-search="address" type="text">
                                </md-input-container>
                            </th>
                            <th class="md-column">
                                <md-input-container>
                                    <label>Search by Type</label>
                                    <input st-search="type" type="text">
                                </md-input-container>
                            </th>
                        </tr>
                        </thead>
                        <thead class="md-table-progress">
                        <tr>
                            <th colspan="6">
                                <md-progress-linear ng-show="user.isLoading"
                                                    md-mode="indeterminate"></md-progress-linear>
                            </th>
                        </tr>
                        </thead>
                        <tbody class="md-body">
                        <tr ng-repeat="row in user.displayed" class="md-row">
                            <td data-title="I.D. Number"
                                class="md-cell">{% templatetag openvariable %}row.number{% templatetag closevariable %}</td>
                            <td data-title="Full Name"
                                class="md-cell">{% templatetag openvariable %}row.full_name{% templatetag closevariable %}</td>
                            <td data-title="Address"
                                class="md-cell">{% templatetag openvariable %}row.address{% templatetag closevariable %}</td>
                            <td data-title="Type"
                                class="md-cell">{% templatetag openvariable %}row.type{% templatetag closevariable %}</td>
                            <td class="md-cell action-td">
                                <md-menu>
                                    <md-button aria-label="Open action menu" class="md-icon-button"
                                               ng-click="user.openMenu($mdMenu, $event)">
                                        <i class="material-icons">more_vert</i>
                                    </md-button>
                                    <md-menu-content width="3">
                                        <md-menu-item>
                                            <md-button layout="row" layout-align="start center" aria-label="Edit Data"
                                                       class="nav-menu-item md-button md-ink-ripple"
                                                       target="_blank"
                                                       ng-href="/admin/users/cuser/{% templatetag openvariable %}row.number{% templatetag closevariable %}/change/">
                                                <i class="material-icons">edit</i>
                                                <span>Edit</span>
                                            </md-button>
                                        </md-menu-item>
                                        <md-menu-item>
                                            <md-button layout="row" layout-align="start center" aria-label="Delete Data"
                                                       class="nav-menu-item md-button md-ink-ripple"
                                                       target="_blank" ng-href="/admin/users/cuser/{% templatetag openvariable %}row.number{% templatetag closevariable %}/delete/">
                                                <i class="material-icons">delete</i>
                                                <span>Delete</span>
                                            </md-button>
                                        </md-menu-item>
                                    </md-menu-content>
                                </md-menu>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </md-table-container>
                <div ng-show="user.displayed.length == 0" layout="column" layout-align="center center"
                     class="not-found">
                    <i class="material-icons">sentiment_dissatisfied</i>

                    <h3>No results found
                        <span ng-show="user.search.length>0">
                            for
                        </span>
                        <em>{% templatetag openvariable %}user.search{% templatetag closevariable %}</em></h3>
                </div>
                <div ng-if="user.displayed.length != 0" class="pagination-controller" layout="row" layout-xs="column"
                     layout-sm="column" layout-align-xs="end stretch" layout-align-sm="end stretch"
                     layout-align="end start">
                    <div class="md-table-pagination">
                        <div class="page-select">
                            <div class="label">Row per page:</div>
                            <md-select ng-model="user.itemsByPage" aria-label="Select Item per Page"
                                       class="md-table-select ">
                                <md-option ng-value="ibp" ng-repeat="ibp in user.options">{% templatetag openvariable %}
                                    ibp {% templatetag closevariable %}</md-option>
                            </md-select>
                        </div>
                    </div>
                    <div class="text-center" st-pagination="" st-items-by-page="user.itemsByPage"
                         st-template="{% static 'templates/pagination.tmpl.html' %}"></div>
                </div>
            </div>
        </md-card>
        <md-card ng-controller="SignatoryCtrl as signatory">
            <div st-table="signatory.displayed" st-pipe="signatory.callServer">
                <md-card-title class="card-paint" ng-class="{'nf': signatory.displayed.length == 0}">
                <md-card-title-text>
                    <span class="md-headline">Signatory Information Table</span>
                </md-card-title-text>
                    <div>
                        <md-button class="md-icon-button" aria-label="Add" target="_blank"
                                   ng-href="/admin/users/usersignatory/add/">
                            <md-tooltip direction="top">Add signatory</md-tooltip>
                            <i class="material-icons">add</i>
                        </md-button>
                         <md-button class="md-icon-button" ng-href="/admin/users/usersignatory/export/?" target="_blank">
                            <md-tooltip direction="left">Export List</md-tooltip>
                            <i class="material-icons">open_in_new</i>
                        </md-button>
                         <md-button class="md-icon-button" ng-click="signatory.m_refresh()">
                            <md-tooltip direction="left">Manual Refresh</md-tooltip>
                            <i class="material-icons">refresh</i>
                        </md-button>
                        <md-button class="md-icon-button" ng-click="search_panel = !search_panel">
                            <div ng-class="{'ng-hide': search_panel}">
                                <md-tooltip direction="left">Search List</md-tooltip>
                                <i class="material-icons">search</i>
                            </div>
                            <div ng-class="{'ng-hide': !search_panel}">
                                <md-tooltip direction="left">Close Search List</md-tooltip>
                                <i class="material-icons">clear</i>
                            </div>
                        </md-button>
                    </div>
            </md-card-title>
                <div class="card-paint" ng-class="{'card-s-panel': search_panel, 'nf': signatory.displayed.length == 0}"
                     layout="column" layout-align="center center" class="md-padding">
                    <div class="floating-search-box" ng-class="{'ng-hide': !search_panel}">
                        <div class="floating-search-box-wrap">
                            <input st-search="" ng-model="signatory.search" type="text" placeholder="Search List">
                        </div>
                    </div>
                </div>
                <md-table-container>
                    <table class="md-table" st-safe-src="rowCollection">
                        <thead class="md-head">
                        <tr class="md-row card-th">
                            <th class="md-column th-pointer" st-sort="number">I.D. Number</th>
                            <th class="md-column th-pointer" st-sort="number__first_name">Full Name</th>
                            <th class="md-column th-pointer" st-sort="assign">Assign Status</th>
                            <th class="md-column th-pointer" st-sort="position__position">Position</th>
                            <th class="md-column th-pointer" st-sort="cdt1__abbreviation">Group Type</th>
                            <th class="md-column th-pointer" st-sort="cdt1__college__college">College</th>
                            <th class="md-column th-pointer action-th">
                                <md-button class="md-icon-button" ng-click="filter_panel = !filter_panel">
                                    <div ng-class="{'ng-hide': filter_panel}">
                                        <md-tooltip direction="left">Filter List</md-tooltip>
                                        <i class="material-icons">filter_list</i>
                                    </div>
                                    <div ng-class="{'ng-hide': !filter_panel}">
                                        <md-tooltip direction="left">Close Filter List</md-tooltip>
                                        <i class="material-icons">clear</i>
                                    </div>
                                </md-button>
                            </th>
                        </tr>
                        <tr class="md-row" ng-class="{'ng-hide': !filter_panel}">
                            <th class="md-column">
                                <md-input-container>
                                    <label>Search by I.D Number</label>
                                    <input st-search="number" type="text">
                                </md-input-container>
                            </th>
                            <th class="md-column">
                                <md-input-container>
                                    <label>Search by Name</label>
                                    <input st-search="full_name" type="text">
                                </md-input-container>
                            </th>
                            <th class="md-column">
                                <md-input-container>
                                    <label>Search by Assign Status</label>
                                    <input st-search="assign" type="text">
                                </md-input-container>
                            </th>
                            <th class="md-column">
                                <md-input-container>
                                    <label>Search by Position</label>
                                    <input st-search="position" type="text">
                                </md-input-container>
                            </th>
                            <th class="md-column">
                                <md-input-container>
                                    <label>Search by Type</label>
                                    <input st-search="type" type="text">
                                </md-input-container>
                            </th>
                            <th class="md-column">
                                <md-input-container>
                                    <label>Search by College</label>
                                    <input st-search="college" type="text">
                                </md-input-container>
                            </th>
                        </tr>
                        </thead>
                        <thead class="md-table-progress">
                        <tr>
                            <th colspan="7">
                                <md-progress-linear ng-show="signatory.isLoading"
                                                    md-mode="indeterminate"></md-progress-linear>
                            </th>
                        </tr>
                        </thead>
                        <tbody class="md-body">
                        <tr ng-repeat="row in signatory.displayed" class="md-row">
                            <td data-title="Username"
                                class="md-cell">{% templatetag openvariable %}row.number{% templatetag closevariable %}</td>
                            <td data-title="Full Name"
                                class="md-cell">{% templatetag openvariable %}row.full_name{% templatetag closevariable %}</td>
                            <td data-title="Assign Status"
                                class="md-cell"><span ng-if="row.assign">Assigned</span><span ng-if="!row.assign">Not Assigned</span></td>
                            <td data-title="Position"
                                class="md-cell">{% templatetag openvariable %}row.position{% templatetag closevariable %}
                            </td>
                            <td data-title="Type"
                                class="md-cell">{% templatetag openvariable %}row.type{% templatetag closevariable %}
                                <md-tooltip
                                        direction="top">{% templatetag openvariable %}row.abbreviation{% templatetag closevariable %}</md-tooltip>
                            </td>
                            <td data-title="College"
                                class="md-cell">{% templatetag openvariable %}row.college{% templatetag closevariable %}
                                <md-tooltip
                                        direction="top">{% templatetag openvariable %}row.college_desc{% templatetag closevariable %}</md-tooltip>
                            </td>
                            <td class="md-cell action-td">
                                <md-menu>
                                    <md-button aria-label="Open action mene" class="md-icon-button"
                                               ng-click="signatory.openMenu($mdMenu, $event)">
                                        <i class="material-icons">more_vert</i>
                                    </md-button>
                                    <md-menu-content width="3">
                                        <md-menu-item>
                                            <md-button layout="row" layout-align="start center" aria-label="Edit Data"
                                                       class="nav-menu-item md-button md-ink-ripple" target="_blank" ng-href="/admin/users/usersignatory/{% templatetag openvariable %}row.id{% templatetag closevariable %}/change/">
                                                <i class="material-icons">edit</i>
                                                <span>Edit</span>
                                            </md-button>
                                        </md-menu-item>
                                        <md-menu-item>
                                            <md-button layout="row" layout-align="start center" aria-label="Delete Data"
                                                       class="nav-menu-item md-button md-ink-ripple" target="_blank" ng-href="/admin/users/usersignatory/{% templatetag openvariable %}row.id{% templatetag closevariable %}/delete/">
                                                <i class="material-icons">delete</i>
                                                <span>Delete</span>
                                            </md-button>
                                        </md-menu-item>
                                    </md-menu-content>
                                </md-menu>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </md-table-container>
                <div ng-show="signatory.displayed.length == 0" layout="column" layout-align="center center"
                     class="not-found">
                    <i class="material-icons">sentiment_dissatisfied</i>

                    <h3>No results found
                        <span ng-show="signatory.search.length>0">
                            for
                        </span>
                        <em>{% templatetag openvariable %}signatory.search{% templatetag closevariable %}</em></h3>
                </div>
                <div ng-if="signatory.displayed.length != 0" class="pagination-controller" layout="row"
                     layout-xs="column" layout-sm="column" layout-align-xs="end stretch" layout-align-sm="end stretch"
                     layout-align="end start">
                    <div class="md-table-pagination">
                        <div class="page-select">
                            <div class="label">Row per page:</div>
                            <md-select ng-model="signatory.itemsByPage" aria-label="Select Item per Page"
                                       class="md-table-select ">
                                <md-option ng-value="ibp"
                                           ng-repeat="ibp in signatory.options">{% templatetag openvariable %}
                                    ibp {% templatetag closevariable %}</md-option>
                            </md-select>
                        </div>
                    </div>
                    <div class="text-center" st-pagination="" st-items-by-page="signatory.itemsByPage"
                         st-template="{% static 'templates/pagination.tmpl.html' %}"></div>
                </div>
            </div>
        </md-card>
        <md-card ng-controller="StudentCtrl as student">
            <div st-table="student.displayed" st-pipe="student.callServer">
                <md-card-title class="card-paint" ng-class="{'nf': student.displayed.length == 0}">
                <md-card-title-text>
                    <span class="md-headline">Student Information Table</span>
                </md-card-title-text>
                    <div>
                        <md-button class="md-icon-button" aria-label="Add" target="_blank" ng-href="/admin/users/userstudent/add/">
                            <md-tooltip direction="top">Add Student</md-tooltip>
                            <i class="material-icons">add</i>
                        </md-button>
                         <md-button class="md-icon-button" ng-href="/admin/users/userstudent/export/?" target="_blank">
                            <md-tooltip direction="left">Export List</md-tooltip>
                            <i class="material-icons">open_in_new</i>
                        </md-button>
                         <md-button class="md-icon-button" ng-click="student.m_refresh()">
                            <md-tooltip direction="left">Manual Refresh</md-tooltip>
                            <i class="material-icons">refresh</i>
                        </md-button>
                        <md-button class="md-icon-button" ng-click="search_panel = !search_panel">
                            <div ng-class="{'ng-hide': search_panel}">
                                <md-tooltip direction="left">Search List</md-tooltip>
                                <i class="material-icons">search</i>
                            </div>
                            <div ng-class="{'ng-hide': !search_panel}">
                                <md-tooltip direction="left">Close Search List</md-tooltip>
                                <i class="material-icons">clear</i>
                            </div>
                        </md-button>
                    </div>
            </md-card-title>
                <div class="card-paint" ng-class="{'card-s-panel': search_panel, 'nf': student.displayed.length == 0}"
                     layout="column" layout-align="center center" class="md-padding">
                    <div class="floating-search-box" ng-class="{'ng-hide': !search_panel}">
                        <div class="floating-search-box-wrap">
                            <input st-search="" ng-model="student.search" type="text" placeholder="Search List">
                        </div>
                    </div>
                </div>
                <md-table-container>
                    <table class="md-table" st-safe-src="rowCollection">
                        <thead class="md-head">
                        <tr class="md-row card-th">
                            <th class="md-column th-pointer" st-sort="number">I.D. Number</th>
                            <th class="md-column th-pointer" st-sort="number__first_name">Name</th>
                            <th class="md-column th-pointer" st-sort="year">Year</th>
                            <th class="md-column th-pointer" st-sort="course">Course</th>
                            <th class="md-column th-pointer" st-sort="course__department__abbreviation">Department</th>
                            <th class="md-column th-pointer" st-sort="course__college__college">College</th>
                            <th class="md-column th-pointer action-th">
                                <md-button class="md-icon-button" ng-click="filter_panel = !filter_panel">
                                    <div ng-class="{'ng-hide': filter_panel}">
                                        <md-tooltip direction="left">Filter List</md-tooltip>
                                        <i class="material-icons">filter_list</i>
                                    </div>
                                    <div ng-class="{'ng-hide': !filter_panel}">
                                        <md-tooltip direction="left">Close Filter List</md-tooltip>
                                        <i class="material-icons">clear</i>
                                    </div>
                                </md-button>
                            </th>
                        </tr>
                        <tr class="md-row" ng-class="{'ng-hide': !filter_panel}">
                            <th class="md-column">
                                <md-input-container>
                                    <label>Search by I.D Number</label>
                                    <input st-search="number" type="text">
                                </md-input-container>
                            </th>
                            <th class="md-column">
                                <md-input-container>
                                    <label>Search by Name</label>
                                    <input st-search="full_name" type="text">
                                </md-input-container>
                            </th>
                            <th class="md-column">
                                <md-input-container>
                                    <label>Search by Year</label>
                                    <input st-search="year" type="text">
                                </md-input-container>
                            </th>
                            <th class="md-column">
                                <md-input-container>
                                    <label>Search by Course</label>
                                    <input st-search="course" type="text">
                                </md-input-container>
                            </th>
                            <th class="md-column">
                                <md-input-container>
                                    <label>Search by Department</label>
                                    <input st-search="department" type="text">
                                </md-input-container>
                            </th>
                            <th class="md-column">
                                <md-input-container>
                                    <label>Search by College</label>
                                    <input st-search="college" type="text">
                                </md-input-container>
                            </th>
                        </tr>
                        </thead>
                        <thead class="md-table-progress">
                        <tr>
                            <th colspan="7">
                                <md-progress-linear ng-show="student.isLoading"
                                                    md-mode="indeterminate"></md-progress-linear>
                            </th>
                        </tr>
                        </thead>
                        <tbody class="md-body">
                        <tr ng-repeat="row in student.displayed" class="md-row">
                            <td data-title="I.D. Number"
                                class="md-cell">{% templatetag openvariable %}row.number{% templatetag closevariable %}</td>
                            <td data-title="Full Name"
                                class="md-cell">{% templatetag openvariable %}row.full_name{% templatetag closevariable %}</td>
                            <td data-title="Year"
                                class="md-cell">{% templatetag openvariable %}row.year{% templatetag closevariable %}</td>
                            <td data-title="Course"
                                class="md-cell">{% templatetag openvariable %}row.course{% templatetag closevariable %}
                                <md-tooltip
                                        direction="top">{% templatetag openvariable %}row.course_desc{% templatetag closevariable %}</md-tooltip>
                            </td>
                            <td data-title="Department"
                                class="md-cell">{% templatetag openvariable %}row.department{% templatetag closevariable %}
                                <md-tooltip
                                        direction="top">{% templatetag openvariable %}row.department_name{% templatetag closevariable %}</md-tooltip>
                            </td>
                            <td data-title="College"
                                class="md-cell">{% templatetag openvariable %}row.college{% templatetag closevariable %}
                                <md-tooltip
                                        direction="top">{% templatetag openvariable %}row.college_desc{% templatetag closevariable %}</md-tooltip>
                            </td>
                            <td class="md-cell action-td">
                                <md-menu>
                                    <md-button aria-label="Open action mene" class="md-icon-button"
                                               ng-click="student.openMenu($mdMenu, $event)">
                                        <i class="material-icons">more_vert</i>
                                    </md-button>
                                    <md-menu-content width="3">
                                        <md-menu-item>
                                            <md-button layout="row" layout-align="start center" aria-label="Edit Data"
                                                       class="nav-menu-item md-button md-ink-ripple"
                                                       target="_blank" ng-href="/admin/users/userstudent/{% templatetag openvariable %}row.id{% templatetag closevariable %}/change/">
                                                <i class="material-icons">edit</i>
                                                <span>Edit</span>
                                            </md-button>
                                        </md-menu-item>
                                        <md-menu-item>
                                            <md-button layout="row" layout-align="start center" aria-label="Delete Data"
                                                       class="nav-menu-item md-button md-ink-ripple"
                                                       target="_blank" ng-href="/admin/users/userstudent/{% templatetag openvariable %}row.id{% templatetag closevariable %}/delete/">
                                                <i class="material-icons">delete</i>
                                                <span>Delete</span>
                                            </md-button>
                                        </md-menu-item>
                                    </md-menu-content>
                                </md-menu>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </md-table-container>
                <div ng-show="student.displayed.length == 0" layout="column" layout-align="center center"
                     class="not-found">
                    <i class="material-icons">sentiment_dissatisfied</i>

                    <h3>No results found
                        <span ng-show="student.search.length>0">
                            for
                        </span>
                        <em>{% templatetag openvariable %}student.search{% templatetag closevariable %}</em></h3>
                </div>
                <div ng-if="student.displayed.length != 0" class="pagination-controller" layout="row" layout-xs="column"
                     layout-sm="column" layout-align-xs="end stretch" layout-align-sm="end stretch"
                     layout-align="end start">
                    <div class="md-table-pagination">
                        <div class="page-select">
                            <div class="label">Row per page:</div>
                            <md-select ng-model="student.itemsByPage" aria-label="Select Item per Page"
                                       class="md-table-select ">
                                <md-option ng-value="ibp"
                                           ng-repeat="ibp in student.options">{% templatetag openvariable %}
                                    ibp {% templatetag closevariable %}</md-option>
                            </md-select>
                        </div>
                    </div>
                    <div class="text-center" st-pagination="" st-items-by-page="student.itemsByPage"
                         st-template="{% static 'templates/pagination.tmpl.html' %}"></div>
                </div>
            </div>
        </md-card>
        <md-card ng-controller="UserTypeCtrl as type">
            <div st-table="type.displayed" st-pipe="type.callServer">
                <md-card-title class="card-paint" ng-class="{'nf': type.displayed.length == 0}">
                <md-card-title-text>
                    <span class="md-headline">User Type Table</span>
                </md-card-title-text>
                    <div>
                        <md-button class="md-icon-button" aria-label="Add" target="_blank" ng-href="/admin/users/cusertype/add/">
                            <md-tooltip direction="top">Add Type</md-tooltip>
                            <i class="material-icons">add</i>
                        </md-button>
                         <md-button class="md-icon-button" ng-href="/admin/users/cusertype/export/?" target="_blank">
                            <md-tooltip direction="left">Export List</md-tooltip>
                            <i class="material-icons">open_in_new</i>
                        </md-button>
                         <md-button class="md-icon-button" ng-click="type.m_refresh()">
                            <md-tooltip direction="left">Manual Refresh</md-tooltip>
                            <i class="material-icons">refresh</i>
                        </md-button>
                        <md-button class="md-icon-button" ng-click="search_panel = !search_panel">
                            <div ng-class="{'ng-hide': search_panel}">
                                <md-tooltip direction="left">Search List</md-tooltip>
                                <i class="material-icons">search</i>
                            </div>
                            <div ng-class="{'ng-hide': !search_panel}">
                                <md-tooltip direction="left">Close Search List</md-tooltip>
                                <i class="material-icons">clear</i>
                            </div>
                        </md-button>
                    </div>
            </md-card-title>
                <div class="card-paint" ng-class="{'card-s-panel': search_panel, 'nf': type.displayed.length == 0}"
                     layout="column" layout-align="center center" class="md-padding">
                    <div class="floating-search-box" ng-class="{'ng-hide': !search_panel}">
                        <div class="floating-search-box-wrap">
                            <input st-search="" ng-model="type.search" type="text" placeholder="Search List">
                        </div>
                    </div>
                </div>
                <md-table-container>
                    <table class="md-table" st-safe-src="rowCollection">
                        <thead class="md-head">
                        <tr class="md-row card-th">
                            <th class="md-column th-pointer" st-sort="type">Type</th>
                            <th class="md-column th-pointer action-th">
                                <md-button class="md-icon-button" ng-click="filter_panel = !filter_panel">
                                    <div ng-class="{'ng-hide': filter_panel}">
                                        <md-tooltip direction="left">Filter List</md-tooltip>
                                        <i class="material-icons">filter_list</i>
                                    </div>
                                    <div ng-class="{'ng-hide': !filter_panel}">
                                        <md-tooltip direction="left">Close Filter List</md-tooltip>
                                        <i class="material-icons">clear</i>
                                    </div>
                                </md-button>
                            </th>
                        </tr>
                        <tr class="md-row" ng-class="{'ng-hide': !filter_panel}">
                            <th class="md-column">
                                <md-input-container>
                                    <label>Search by Type</label>
                                    <input st-search="type" type="text">
                                </md-input-container>
                            </th>
                        </tr>
                        </thead>
                        <thead class="md-table-progress">
                        <tr>
                            <th colspan="2">
                                <md-progress-linear ng-show="type.isLoading"
                                                    md-mode="indeterminate"></md-progress-linear>
                            </th>
                        </tr>
                        </thead>
                        <tbody class="md-body">
                        <tr ng-repeat="row in type.displayed" class="md-row">
                            <td data-title="Type"
                                class="md-cell">{% templatetag openvariable %}row.type{% templatetag closevariable %}</td>
                            <td class="md-cell action-td">
                                <md-menu>
                                    <md-button aria-label="Open action mene" class="md-icon-button"
                                               ng-click="type.openMenu($mdMenu, $event)">
                                        <i class="material-icons">more_vert</i>
                                    </md-button>
                                    <md-menu-content width="3">
                                        <md-menu-item>
                                            <md-button layout="row" layout-align="start center" aria-label="Edit Data"
                                                       class="nav-menu-item md-button md-ink-ripple"
                                                       target="_blank" ng-href="/admin/users/cusertype/{% templatetag openvariable %}row.id{% templatetag closevariable %}/change/">
                                                <i class="material-icons">edit</i>
                                                <span>Edit</span>
                                            </md-button>
                                        </md-menu-item>
                                        <md-menu-item>
                                            <md-button layout="row" layout-align="start center" aria-label="Delete Data"
                                                       class="nav-menu-item md-button md-ink-ripple"
                                                       target="_blank" ng-href="/admin/users/cusertype/{% templatetag openvariable %}row.id{% templatetag closevariable %}/delete/">
                                                <i class="material-icons">delete</i>
                                                <span>Delete</span>
                                            </md-button>
                                        </md-menu-item>
                                    </md-menu-content>
                                </md-menu>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </md-table-container>
                <div ng-show="type.displayed.length == 0" layout="column" layout-align="center center"
                     class="not-found">
                    <i class="material-icons">sentiment_dissatisfied</i>

                    <h3>No results found
                        <span ng-show="type.search.length>0">
                            for
                        </span>
                        <em>{% templatetag openvariable %}type.search{% templatetag closevariable %}</em></h3>
                </div>
                <div ng-if="type.displayed.length != 0" class="pagination-controller" layout="row" layout-xs="column"
                     layout-sm="column" layout-align-xs="end stretch" layout-align-sm="end stretch"
                     layout-align="end start">
                    <div class="md-table-pagination">
                        <div class="page-select">
                            <div class="label">Row per page:</div>
                            <md-select ng-model="type.itemsByPage" aria-label="Select Item per Page"
                                       class="md-table-select ">
                                <md-option ng-value="ibp" ng-repeat="ibp in type.options">{% templatetag openvariable %}
                                    ibp {% templatetag closevariable %}</md-option>
                            </md-select>
                        </div>
                    </div>
                    <div class="text-center" st-pagination="" st-items-by-page="type.itemsByPage"
                         st-template="{% static 'templates/pagination.tmpl.html' %}"></div>
                </div>
            </div>
        </md-card>
    </section>
{% endblock %}>