{% extends 'pwa/manage/common.html' %}
{% load static %}
{% block extension %}
    <md-card ng-controller="ViolationCtrl as violation">
        <div st-table="violation.displayed" st-pipe="violation.callServer">
            <md-card-title class="card-paint" ng-class="{'nf': violation.displayed.length == 0}">
                <md-card-title-text>
                    <span class="md-headline">Violation List</span>
                </md-card-title-text>
                <div>
                    <md-button class="md-icon-button" target="_blank" ng-href="/admin/violation/violation/export/?">
                            <md-tooltip direction="left">Export List</md-tooltip>
                            <i class="material-icons">open_in_new</i>
                        </md-button>
                         <md-button class="md-icon-button" target="_blank" ng-href="/admin/violation/violation/add/">
                            <md-tooltip direction="left">Add Violation</md-tooltip>
                            <i class="material-icons">add</i>
                        </md-button>
                         <md-button class="md-icon-button" ng-click="violation.m_refresh()">
                            <md-tooltip direction="left">Manual Refresh</md-tooltip>
                            <i class="material-icons">refresh</i>
                        </md-button>
                    <md-button class="md-icon-button" ng-click="search_panel = !search_panel">
                        <div ng-class="{'ng-hide': search_panel}">
                            <md-tooltip direction="left">Search List</md-tooltip>
                            <i class="material-icons">search</i>
                        </div>
                        <div ng-class="{'ng-hide': !search_panel}">
                            <md-tooltip direction="left">Close Search List</md-tooltip>
                            <i class="material-icons">clear</i>
                        </div>
                    </md-button>
                </div>
            </md-card-title>
            <div class="card-paint" ng-class="{'card-s-panel': search_panel, 'nf': violation.displayed.length == 0}"
                 layout="column" layout-align="center center" class="md-padding">
                <div class="floating-search-box" ng-class="{'ng-hide': !search_panel}">
                    <div class="floating-search-box-wrap">
                        <input st-search="" ng-model="violation.search" type="text" placeholder="Search List">
                    </div>
                </div>
            </div>
            <md-table-container>
                <table class="md-table" st-safe-src="rowCollection">
                    <thead class="md-head">
                    <tr class="md-row card-th">
                        <th class="md-column th-pointer" st-sort="violation">Violation I.D.</th>
                        <th class="md-column th-pointer" st-sort="number_id">Student I.D.</th>
                        <th class="md-column th-pointer" st-sort="sys_id_id">School Year</th>
                        <th class="md-column th-pointer" st-sort="date_violated">Date of Violation</th>
                        <th class="md-column th-pointer" st-sort="resolve">Status</th>
                        <th class="md-column th-pointer" st-sort="reason">Reason</th>
                        <th class="md-column th-pointer action-th">
                            <md-button class="md-icon-button" ng-click="filter_panel = !filter_panel">
                                <div ng-class="{'ng-hide': filter_panel}">
                                    <md-tooltip direction="left">Filter List</md-tooltip>
                                    <i class="material-icons">filter_list</i>
                                </div>
                                <div ng-class="{'ng-hide': !filter_panel}">
                                    <md-tooltip direction="left">Close Filter List</md-tooltip>
                                    <i class="material-icons">clear</i>
                                </div>
                            </md-button>
                        </th>
                    </tr>
                    <tr class="md-row" ng-class="{'ng-hide': !filter_panel}">
                        <th class="md-column">
                            <md-input-container>
                                <label>Search by Violation I.D.</label>
                                <input st-search="violation" type="text">
                            </md-input-container>
                        </th>
                        <th class="md-column">
                            <md-input-container>
                                <label>Search by Student I.D.</label>
                                <input st-search="number_id" type="text">
                            </md-input-container>
                        </th>
                        <th class="md-column">
                            <md-input-container>
                                <label>Search by School Year</label>
                                <input st-search="sys_id_id" type="text">
                            </md-input-container>
                        </th>
                        <th class="md-column">
                            <md-input-container>
                                <label>Search by Violation Date</label>
                                <input st-search="date_violated" type="text">
                            </md-input-container>
                        </th>
                        <th class="md-column">
                            <md-input-container>
                                <label>Search by Status</label>
                                <input st-search="resolve" type="text">
                            </md-input-container>
                        </th>
                        <th class="md-column">
                            <md-input-container>
                                <label>Search by Reason</label>
                                <input st-search="reason" type="text">
                            </md-input-container>
                        </th>
                    </tr>
                    </thead>
                    <thead class="md-table-progress">
                    <tr>
                        <th colspan="7">
                            <md-progress-linear ng-show="violation.isLoading"
                                                md-mode="indeterminate"></md-progress-linear>
                        </th>
                    </tr>
                    </thead>
                    <tbody class="md-body">
                    <tr ng-repeat="row in violation.displayed" class="md-row">
                        <td data-title="Violation I.D"
                            class="md-cell">{% templatetag openvariable %}row.violation{% templatetag closevariable %}</td>
                        <td data-title="Student I.D."
                            class="md-cell">{% templatetag openvariable %}row.number_id{% templatetag closevariable %}</td>
                        <td data-title="School Year"
                            class="md-cell">{% templatetag openvariable %}row.sys_id_id{% templatetag closevariable %}</td>
                        <td data-title="Violation Date"
                            class="md-cell">{% templatetag openvariable %}row.date_violated{% templatetag closevariable %}</td>
                        <td data-title="Status"
                            class="md-cell">{% templatetag openvariable %}row.resolve{% templatetag closevariable %}</td>
                        <td data-title="Reason"
                            class="md-cell">{% templatetag openvariable %}row.reason{% templatetag closevariable %}</td>
                    </tr>
                    </tbody>
                </table>
            </md-table-container>
            <div ng-show="violation.displayed.length == 0" layout="column" layout-align="center center"
                 class="not-found">
                <i class="material-icons">sentiment_dissatisfied</i>

                <h3>No results found
                    <span ng-show="violation.search.length>0">
                            for
                        </span>
                    <em>{% templatetag openvariable %}violation.search{% templatetag closevariable %}</em></h3>
            </div>
            <div ng-if="violation.displayed.length != 0" class="pagination-controller" layout="row" layout-xs="column"
                 layout-sm="column" layout-align-xs="end stretch" layout-align-sm="end stretch"
                 layout-align="end start">
                <div class="md-table-pagination">
                    <div class="page-select">
                        <div class="label">Row per page:</div>
                        <md-select ng-model="violation.itemsByPage" aria-label="Select Item per Page"
                                   class="md-table-select ">
                            <md-option ng-value="ibp"
                                       ng-repeat="ibp in violation.options">{% templatetag openvariable %}
                                ibp {% templatetag closevariable %}</md-option>
                        </md-select>
                    </div>
                </div>
                <div class="text-center" st-pagination="" st-items-by-page="violation.itemsByPage"
                     st-template="{% static 'templates/pagination.tmpl.html' %}"></div>
            </div>
        </div>
    </md-card>
{% endblock %}