{% extends 'base.html' %}
{% block title %}Cleari Login{% endblock %}
{% block content %}
  <h2>Login</h2>
    {% if messages %}
        <ul class="messages">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
        </ul>
    {% endif %}
  <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
    <button type="submit">{{ title }}</button>
  </form>
{% endblock %}