{% extends 'base.html' %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
    <h2>{{ title }}</h2>
    {% if messages %}
        <ul class="messages">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
        </ul>
    {% endif %}
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    {{ form2.as_p }}
      <button type="submit">{% if submit_title %}{{ submit_title }}{% else %}Submit{% endif %}</button>
  </form>
{% endblock %}