<md-content class="home-scroll">
    <section class="semester-view" layout="column" layout-xs="column" layout-align-xs="center center">
        <div class="backdrop-box">
            <div class="backdrop"></div>
        </div>
        <div layout="row" layout-xs="column" layout-align="center stretch" layout-align-xs="center center">
             <div class="semester-content" layout="column" layout-align="center center">
                <h1>{% templatetag openvariable %}sy_sem{% templatetag closevariable %}</h1><span>Semester</span>
                <h2>{% templatetag openvariable %}sy{% templatetag closevariable %}</h2>
            </div>
            <div class="semester-divider" layout="column" layout-align="center center">
                <div></div>
            </div>
            <div ng-hide="!countdown_expired" class="clearance-closed" class="semester-countdown" layout="column"
                 layout-align="center center">
                <i class="material-icons">sentiment_very_dissatisfied</i>
                <span>Clearance signing has been closed</span>
            </div>
            <div ng-hide="countdown_expired" class="semester-countdown" layout="column" layout-align="center center">
                <span class="counter">
                    <span ng-hide="dz"><b>{% templatetag openvariable %}days{% templatetag closevariable %}</b>d</span>
                    <span ng-hide="hz"><b>{% templatetag openvariable %}hours{% templatetag closevariable %}</b>h</span>
                    <span ng-hide="mz"><b>{% templatetag openvariable %}minutes{% templatetag closevariable %}</b>m</span>
                    <span ng-hide="sz"><b>{% templatetag openvariable %}seconds{% templatetag closevariable %}</b>s</span>
                </span>
                <span class="message">until clearance signing will be closed</span>
            </div>
        </div>
    </section>
    {% block user_section %}{% endblock %}
</md-content>

