{% extends 'pwa/templates/home.html' %}
{% load static %}
{% block user_section %}
    <md-subheader class="cp_header">
        Signatory Dashboard
    </md-subheader>
    <section ng-controller="SignatoryCtrl as sc">
        <md-content>
            <md-subheader>
                Note: Students list below are only related to your group college.
            </md-subheader>
            <md-tabs md-dynamic-height md-border-bottom md-swipe-content="true">
                <md-tab label="Non Issued">
                    <md-content ng-controller="FreshCtrl as fresh">
                        <h1 class="md-display-2 md-padding md-ts" ng-class="{'md-title-shrink': search_panel}">Non
                            Issued</h1>
                        <div st-table="fresh.displayed" st-pipe="fresh.callServer" refresh-table>
                            <div class="md-search-right"
                                 ng-class="{'card-paint': search_panel, 'msr': !search_panel, 'nf': search_panel && fresh.displayed.length == 0}">
                                <md-button class="md-icon-button" ng-click="search_panel = !search_panel">
                                    <div class="fli" ng-class="{'ng-hide': search_panel}">
                                        <md-tooltip direction="left">Search List</md-tooltip>
                                        <i class="material-icons">search</i>
                                    </div>
                                    <div ng-class="{'ng-hide': !search_panel}" class="fli md-white">
                                        <md-tooltip direction="left">Close Search List</md-tooltip>
                                        <i class="material-icons">clear</i>
                                    </div>
                                </md-button>
                                <md-button class="md-icon-button" ng-click="fresh.m_refresh()">
                                    <md-tooltip direction="left">Manual Refresh</md-tooltip>
                                    <i class="material-icons">refresh</i>
                                </md-button>
                            </div>
                            <div class="card-paint"
                                 ng-class="{'card-s-panel': search_panel, 'md-s-f': search_panel, 'nf': fresh.displayed.length == 0}"
                                 layout="column" layout-align="center center" class="md-padding">
                                <div class="floating-search-box fli" ng-class="{'ng-hide': !search_panel}">
                                    <div class="floating-search-box-wrap">
                                        <input st-search="" ng-model="fresh.search" type="text"
                                               placeholder="Search List">
                                    </div>
                                </div>
                            </div>
                            <md-table-container>
                                <table class="md-table" st-safe-src="rowCollection">
                                    <thead class="md-head">
                                    <tr class="md-row card-th">
                                        <th class="md-column th-pointer" st-sort="number">I.D. Number</th>
                                        <th class="md-column th-pointer" st-sort="number__first_name">Name</th>
                                        <th class="md-column th-pointer" st-sort="year">Year</th>
                                        <th class="md-column th-pointer" st-sort="course">Course</th>
                                        <th class="md-column th-pointer" st-sort="course__department__abbreviation">
                                            Department
                                        </th>
                                        <th class="md-column th-pointer" st-sort="course__college__college">College</th>
                                        <th class="md-column th-pointer action-th">
                                            <md-button class="md-icon-button" ng-click="filter_panel = !filter_panel">
                                                <div class="fli" ng-class="{'ng-hide': filter_panel}">
                                                    <md-tooltip direction="left">Filter List</md-tooltip>
                                                    <i class="material-icons">filter_list</i>
                                                </div>
                                                <div class="fli" ng-class="{'ng-hide': !filter_panel}">
                                                    <md-tooltip direction="left">Close Filter List</md-tooltip>
                                                    <i class="material-icons">clear</i>
                                                </div>
                                            </md-button>
                                        </th>
                                    </tr>
                                    <tr class="md-row fli" ng-class="{'ng-hide': !filter_panel}">
                                        <th class="md-column">
                                            <md-input-container>
                                                <label>Search by I.D Number</label>
                                                <input st-search="number" type="text">
                                            </md-input-container>
                                        </th>
                                        <th class="md-column">
                                            <md-input-container>
                                                <label>Search by Name</label>
                                                <input st-search="full_name" type="text">
                                            </md-input-container>
                                        </th>
                                        <th class="md-column">
                                            <md-input-container>
                                                <label>Search by Year</label>
                                                <input st-search="year" type="text">
                                            </md-input-container>
                                        </th>
                                        <th class="md-column">
                                            <md-input-container>
                                                <label>Search by Course</label>
                                                <input st-search="course" type="text">
                                            </md-input-container>
                                        </th>
                                        <th class="md-column">
                                            <md-input-container>
                                                <label>Search by Department</label>
                                                <input st-search="department" type="text">
                                            </md-input-container>
                                        </th>
                                        <th class="md-column">
                                            <md-input-container>
                                                <label>Search by College</label>
                                                <input st-search="college" type="text">
                                            </md-input-container>
                                        </th>
                                    </tr>
                                    </thead>
                                    <thead class="md-table-progress">
                                    <tr>
                                        <th colspan="5">
                                            <md-progress-linear ng-show="fresh.isLoading"
                                                                md-mode="indeterminate"></md-progress-linear>
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody class="md-body">
                                    <tr ng-repeat="row in fresh.displayed" class="md-row">
                                        <td data-title="I.D. Number"
                                            class="md-cell">{% templatetag openvariable %}row.number{% templatetag closevariable %}</td>
                                        <td data-title="Full Name"
                                            class="md-cell">{% templatetag openvariable %}row.full_name{% templatetag closevariable %}</td>
                                        <td data-title="Year"
                                            class="md-cell">{% templatetag openvariable %}row.year{% templatetag closevariable %}</td>
                                        <td data-title="Course"
                                            class="md-cell">{% templatetag openvariable %}row.course{% templatetag closevariable %}
                                            <md-tooltip
                                                    direction="top">{% templatetag openvariable %}row.course_desc{% templatetag closevariable %}</md-tooltip>
                                        </td>
                                        <td data-title="Department"
                                            class="md-cell">{% templatetag openvariable %}row.department{% templatetag closevariable %}
                                            <md-tooltip
                                                    direction="top">{% templatetag openvariable %}row.department_name{% templatetag closevariable %}</md-tooltip>
                                        </td>
                                        <td data-title="College"
                                            class="md-cell">{% templatetag openvariable %}row.college{% templatetag closevariable %}
                                            <md-tooltip
                                                    direction="top">{% templatetag openvariable %}row.college_desc{% templatetag closevariable %}</md-tooltip>
                                        </td>
                                        <td class="md-cell action-td">
                                            <md-menu>
                                                <md-button aria-label="Open action mene" class="md-icon-button"
                                                           ng-click="fresh.openMenu($mdMenu, $event)">
                                                    <i class="material-icons">more_vert</i>
                                                </md-button>
                                                <md-menu-content width="3">
                                                    <md-menu-item>
                                                        <md-button layout="row" layout-align="start center"
                                                                   aria-label="View Profile"
                                                                   class="nav-menu-item md-button md-ink-ripple"
                                                                   ng-click="showProfile($event, row)">
                                                            <i class="material-icons">tag_faces</i>
                                                            <span>View Profile</span>
                                                        </md-button>
                                                    </md-menu-item>
                                                    <md-menu-item>
                                                        <md-button layout="row" layout-align="start center"
                                                                   aria-label="View Clearance"
                                                                   class="nav-menu-item md-button md-ink-ripple"
                                                                   ng-click="showClearance($event,row)">
                                                            <i class="material-icons">receipt</i>
                                                            <span>View Clearance</span>
                                                        </md-button>
                                                    </md-menu-item>
                                                </md-menu-content>
                                            </md-menu>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </md-table-container>
                            <div ng-show="fresh.displayed.length == 0" layout="column" layout-align="center center"
                                 class="not-found">
                                <i class="material-icons">sentiment_dissatisfied</i>

                                <h3>No results found
                                    <span ng-show="fresh.search.length>0">
                            for
                        </span>
                                    <em>{% templatetag openvariable %}fresh.search{% templatetag closevariable %}</em>
                                </h3>
                            </div>
                            <div ng-if="fresh.displayed.length != 0" class="pagination-controller" layout="row"
                                 layout-xs="column"
                                 layout-sm="column" layout-align-xs="end stretch" layout-align-sm="end stretch"
                                 layout-align="end start">
                                <div class="md-table-pagination">
                                    <div class="page-select">
                                        <div class="label">Row per page:</div>
                                        <md-select ng-model="fresh.itemsByPage" aria-label="Select Item per Page"
                                                   class="md-table-select ">
                                            <md-option ng-value="ibp"
                                                       ng-repeat="ibp in fresh.options">{% templatetag openvariable %}
                                                ibp {% templatetag closevariable %}</md-option>
                                        </md-select>
                                    </div>
                                </div>
                                <div class="text-center" st-pagination="" st-items-by-page="fresh.itemsByPage"
                                     st-template="{% static 'templates/pagination.tmpl.html' %}"></div>
                            </div>
                        </div>
                    </md-content>
                </md-tab>
                <md-tab label="Issued">
                    <md-content ng-controller="IssuedCtrl as issue">
                        <h1 class="md-display-2 md-padding md-ts" ng-class="{'md-title-shrink': search_panel}">
                            Issued</h1>
                        <div st-table="issue.displayed" st-pipe="issue.callServer" refresh-table>
                            <div class="md-search-right"
                                 ng-class="{'card-paint': search_panel, 'msr': !search_panel, 'nf': search_panel && issued.displayed.length == 0}">
                                <md-button class="md-icon-button" ng-click="search_panel = !search_panel">
                                    <div class="fli" ng-class="{'ng-hide': search_panel}">
                                        <md-tooltip direction="left">Search List</md-tooltip>
                                        <i class="material-icons">search</i>
                                    </div>
                                    <div ng-class="{'ng-hide': !search_panel}" class="fli md-white">
                                        <md-tooltip direction="left">Close Search List</md-tooltip>
                                        <i class="material-icons">clear</i>
                                    </div>
                                </md-button>
                                <md-button class="md-icon-button" ng-click="issue.m_refresh()">
                                    <md-tooltip direction="left">Manual Refresh</md-tooltip>
                                    <i class="material-icons">refresh</i>
                                </md-button>
                            </div>
                            <div class="card-paint"
                                 ng-class="{'card-s-panel': search_panel, 'md-s-f': search_panel, 'nf': issue.displayed.length == 0}"
                                 layout="column" layout-align="center center" class="md-padding">
                                <div class="floating-search-box fli" ng-class="{'ng-hide': !search_panel}">
                                    <div class="floating-search-box-wrap">
                                        <input st-search="" ng-model="issue.search" type="text"
                                               placeholder="Search List">
                                    </div>
                                </div>
                            </div>
                            <md-table-container>
                                <table class="md-table" st-safe-src="rowCollection">
                                    <thead class="md-head">
                                    <tr class="md-row card-th">
                                        <th class="md-column th-pointer" st-sort="number">I.D. Number</th>
                                        <th class="md-column th-pointer" st-sort="number__first_name">Name</th>
                                        <th class="md-column th-pointer" st-sort="year">Year</th>
                                        <th class="md-column th-pointer" st-sort="course">Course</th>
                                        <th class="md-column th-pointer" st-sort="course__department__abbreviation">
                                            Department
                                        </th>
                                        <th class="md-column th-pointer" st-sort="course__college__college">College</th>
                                        <th class="md-column th-pointer action-th">
                                            <md-button class="md-icon-button" ng-click="filter_panel = !filter_panel">
                                                <div class="fli" ng-class="{'ng-hide': filter_panel}">
                                                    <md-tooltip direction="left">Filter List</md-tooltip>
                                                    <i class="material-icons">filter_list</i>
                                                </div>
                                                <div class="fli" ng-class="{'ng-hide': !filter_panel}">
                                                    <md-tooltip direction="left">Close Filter List</md-tooltip>
                                                    <i class="material-icons">clear</i>
                                                </div>
                                            </md-button>
                                        </th>
                                    </tr>
                                    <tr class="md-row fli" ng-class="{'ng-hide': !filter_panel}">
                                        <th class="md-column">
                                            <md-input-container>
                                                <label>Search by I.D Number</label>
                                                <input st-search="number" type="text">
                                            </md-input-container>
                                        </th>
                                        <th class="md-column">
                                            <md-input-container>
                                                <label>Search by Name</label>
                                                <input st-search="full_name" type="text">
                                            </md-input-container>
                                        </th>
                                        <th class="md-column">
                                            <md-input-container>
                                                <label>Search by Year</label>
                                                <input st-search="year" type="text">
                                            </md-input-container>
                                        </th>
                                        <th class="md-column">
                                            <md-input-container>
                                                <label>Search by Course</label>
                                                <input st-search="course" type="text">
                                            </md-input-container>
                                        </th>
                                        <th class="md-column">
                                            <md-input-container>
                                                <label>Search by Department</label>
                                                <input st-search="department" type="text">
                                            </md-input-container>
                                        </th>
                                        <th class="md-column">
                                            <md-input-container>
                                                <label>Search by College</label>
                                                <input st-search="college" type="text">
                                            </md-input-container>
                                        </th>
                                    </tr>
                                    </thead>
                                    <thead class="md-table-progress">
                                    <tr>
                                        <th colspan="5">
                                            <md-progress-linear ng-show="issue.isLoading"
                                                                md-mode="indeterminate"></md-progress-linear>
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody class="md-body">
                                    <tr ng-repeat="row in issue.displayed" class="md-row">
                                        <td data-title="I.D. Number"
                                            class="md-cell">{% templatetag openvariable %}row.number{% templatetag closevariable %}</td>
                                        <td data-title="Full Name"
                                            class="md-cell">{% templatetag openvariable %}row.full_name{% templatetag closevariable %}</td>
                                        <td data-title="Year"
                                            class="md-cell">{% templatetag openvariable %}row.year{% templatetag closevariable %}</td>
                                        <td data-title="Course"
                                            class="md-cell">{% templatetag openvariable %}row.course{% templatetag closevariable %}
                                            <md-tooltip
                                                    direction="top">{% templatetag openvariable %}row.course_desc{% templatetag closevariable %}</md-tooltip>
                                        </td>
                                        <td data-title="Department"
                                            class="md-cell">{% templatetag openvariable %}row.department{% templatetag closevariable %}
                                            <md-tooltip
                                                    direction="top">{% templatetag openvariable %}row.department_name{% templatetag closevariable %}</md-tooltip>
                                        </td>
                                        <td data-title="College"
                                            class="md-cell">{% templatetag openvariable %}row.college{% templatetag closevariable %}
                                            <md-tooltip
                                                    direction="top">{% templatetag openvariable %}row.college_desc{% templatetag closevariable %}</md-tooltip>
                                        </td>
                                        <td class="md-cell action-td">
                                            <md-menu>
                                                <md-button aria-label="Open action mene" class="md-icon-button"
                                                           ng-click="issue.openMenu($mdMenu, $event)">
                                                    <i class="material-icons">more_vert</i>
                                                </md-button>
                                                <md-menu-content width="3">
                                                    <md-menu-item>
                                                        <md-button layout="row" layout-align="start center"
                                                                   aria-label="View Profile"
                                                                   class="nav-menu-item md-button md-ink-ripple"
                                                                   ng-click="showProfile($event, row)">
                                                            <i class="material-icons">tag_faces</i>
                                                            <span>View Profile</span>
                                                        </md-button>
                                                    </md-menu-item>
                                                    <md-menu-item>
                                                        <md-button layout="row" layout-align="start center"
                                                                   aria-label="View Clearance"
                                                                   class="nav-menu-item md-button md-ink-ripple"
                                                                   ng-click="showClearance($event,row)">
                                                            <i class="material-icons">receipt</i>
                                                            <span>View Clearance</span>
                                                        </md-button>
                                                    </md-menu-item>
                                                </md-menu-content>
                                            </md-menu>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </md-table-container>
                            <div ng-show="issue.displayed.length == 0" layout="column" layout-align="center center"
                                 class="not-found">
                                <i class="material-icons">sentiment_dissatisfied</i>

                                <h3>No results found
                                    <span ng-show="issue.search.length>0">
                            for
                        </span>
                                    <em>{% templatetag openvariable %}issue.search{% templatetag closevariable %}</em>
                                </h3>
                            </div>
                            <div ng-if="issue.displayed.length != 0" class="pagination-controller" layout="row"
                                 layout-xs="column"
                                 layout-sm="column" layout-align-xs="end stretch" layout-align-sm="end stretch"
                                 layout-align="end start">
                                <div class="md-table-pagination">
                                    <div class="page-select">
                                        <div class="label">Row per page:</div>
                                        <md-select ng-model="issue.itemsByPage" aria-label="Select Item per Page"
                                                   class="md-table-select ">
                                            <md-option ng-value="ibp"
                                                       ng-repeat="ibp in issue.options">{% templatetag openvariable %}
                                                ibp {% templatetag closevariable %}</md-option>
                                        </md-select>
                                    </div>
                                </div>
                                <div class="text-center" st-pagination="" st-items-by-page="issue.itemsByPage"
                                     st-template="{% static 'templates/pagination.tmpl.html' %}"></div>
                            </div>
                        </div>
                    </md-content>
                </md-tab>
                <md-tab label="Requesting">
                    <md-content ng-controller="RequestCtrl as requesting">
                        <h1 class="md-display-2 md-padding md-ts" ng-class="{'md-title-shrink': search_panel}">
                            Requesting</h1>
                        <div st-table="requesting.displayed" st-pipe="requesting.callServer" refresh-table>
                            <div class="md-search-right"
                                 ng-class="{'card-paint': search_panel, 'msr': !search_panel, 'nf': search_panel && requesting.displayed.length == 0}">
                                <md-button class="md-icon-button" ng-click="search_panel = !search_panel">
                                    <div class="fli" ng-class="{'ng-hide': search_panel}">
                                        <md-tooltip direction="left">Search List</md-tooltip>
                                        <i class="material-icons">search</i>
                                    </div>
                                    <div class="fli" ng-class="{'ng-hide': !search_panel}" class="md-white">
                                        <md-tooltip direction="left">Close Search List</md-tooltip>
                                        <i class="material-icons">clear</i>
                                    </div>
                                </md-button>
                                <md-button class="md-icon-button" ng-click="requesting.m_refresh()">
                                    <md-tooltip direction="left">Manual Refresh</md-tooltip>
                                    <i class="material-icons">refresh</i>
                                </md-button>
                            </div>
                            <div class="card-paint"
                                 ng-class="{'card-s-panel': search_panel, 'md-s-f': search_panel, 'nf': requesting.displayed.length == 0}"
                                 layout="column" layout-align="center center" class="md-padding">
                                <div class="floating-search-box fli" ng-class="{'ng-hide': !search_panel}">
                                    <div class="floating-search-box-wrap">
                                        <input st-search="" ng-model="requesting.search" type="text"
                                               placeholder="Search List">
                                    </div>
                                </div>
                            </div>
                            <md-table-container>
                                <table class="md-table" st-safe-src="rowCollection">
                                    <thead class="md-head">
                                    <tr class="md-row card-th">
                                        <th class="md-column th-pointer" st-sort="number">I.D. Number</th>
                                        <th class="md-column th-pointer" st-sort="number__first_name">Name</th>
                                        <th class="md-column th-pointer" st-sort="year">Year</th>
                                        <th class="md-column th-pointer" st-sort="course">Course</th>
                                        <th class="md-column th-pointer" st-sort="course__department__abbreviation">
                                            Department
                                        </th>
                                        <th class="md-column th-pointer" st-sort="course__college__college">College</th>
                                        <th class="md-column th-pointer action-th">
                                            <md-button class="md-icon-button" ng-click="filter_panel = !filter_panel">
                                                <div class="cli" ng-class="{'ng-hide': filter_panel}">
                                                    <md-tooltip direction="left">Filter List</md-tooltip>
                                                    <i class="material-icons">filter_list</i>
                                                </div>
                                                <div class="cli" ng-class="{'ng-hide': !filter_panel}">
                                                    <md-tooltip direction="left">Close Filter List</md-tooltip>
                                                    <i class="material-icons">clear</i>
                                                </div>
                                            </md-button>
                                        </th>
                                    </tr>
                                    <tr class="md-row fli" ng-class="{'ng-hide': !filter_panel}">
                                        <th class="md-column">
                                            <md-input-container>
                                                <label>Search by I.D Number</label>
                                                <input st-search="number" type="text">
                                            </md-input-container>
                                        </th>
                                        <th class="md-column">
                                            <md-input-container>
                                                <label>Search by Name</label>
                                                <input st-search="full_name" type="text">
                                            </md-input-container>
                                        </th>
                                        <th class="md-column">
                                            <md-input-container>
                                                <label>Search by Year</label>
                                                <input st-search="year" type="text">
                                            </md-input-container>
                                        </th>
                                        <th class="md-column">
                                            <md-input-container>
                                                <label>Search by Course</label>
                                                <input st-search="course" type="text">
                                            </md-input-container>
                                        </th>
                                        <th class="md-column">
                                            <md-input-container>
                                                <label>Search by Department</label>
                                                <input st-search="department" type="text">
                                            </md-input-container>
                                        </th>
                                        <th class="md-column">
                                            <md-input-container>
                                                <label>Search by College</label>
                                                <input st-search="college" type="text">
                                            </md-input-container>
                                        </th>
                                    </tr>
                                    </thead>
                                    <thead class="md-table-progress">
                                    <tr>
                                        <th colspan="5">
                                            <md-progress-linear ng-show="requesting.isLoading"
                                                                md-mode="indeterminate"></md-progress-linear>
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody class="md-body">
                                    <tr ng-repeat="row in requesting.displayed" class="md-row">
                                        <td data-title="I.D. Number"
                                            class="md-cell">{% templatetag openvariable %}row.number{% templatetag closevariable %}</td>
                                        <td data-title="Full Name"
                                            class="md-cell">{% templatetag openvariable %}row.full_name{% templatetag closevariable %}</td>
                                        <td data-title="Year"
                                            class="md-cell">{% templatetag openvariable %}row.year{% templatetag closevariable %}</td>
                                        <td data-title="Course"
                                            class="md-cell">{% templatetag openvariable %}row.course{% templatetag closevariable %}
                                            <md-tooltip
                                                    direction="top">{% templatetag openvariable %}row.course_desc{% templatetag closevariable %}</md-tooltip>
                                        </td>
                                        <td data-title="Department"
                                            class="md-cell">{% templatetag openvariable %}row.department{% templatetag closevariable %}
                                            <md-tooltip
                                                    direction="top">{% templatetag openvariable %}row.department_name{% templatetag closevariable %}</md-tooltip>
                                        </td>
                                        <td data-title="College"
                                            class="md-cell">{% templatetag openvariable %}row.college{% templatetag closevariable %}
                                            <md-tooltip
                                                    direction="top">{% templatetag openvariable %}row.college_desc{% templatetag closevariable %}</md-tooltip>
                                        </td>
                                        <td class="md-cell action-td">
                                            <md-menu>
                                                <md-button aria-label="Open action mene" class="md-icon-button"
                                                           ng-click="requesting.openMenu($mdMenu, $event)">
                                                    <i class="material-icons">more_vert</i>
                                                </md-button>
                                                <md-menu-content width="3">
                                                    <md-menu-item>
                                                        <md-button layout="row" layout-align="start center"
                                                                   aria-label="Sign Request"
                                                                   class="nav-menu-item md-button md-ink-ripple"
                                                                   ng-click="requesting.sign($event, row)">
                                                            <i class="material-icons">fingerprint</i>
                                                            <span>Sign Request</span>
                                                        </md-button>
                                                    </md-menu-item>
                                                    <md-menu-item>
                                                    <md-button layout="row" layout-align="start center"
                                                           aria-label="View Profile"
                                                           class="nav-menu-item md-button md-ink-ripple"
                                                           ng-click="showProfile($event, row)">
                                                            <i class="material-icons">tag_faces</i>
                                                            <span>View Profile</span>
                                                        </md-button>
                                                    </md-menu-item>
                                                    <md-menu-item>
                                                        <md-button layout="row" layout-align="start center"
                                                                   aria-label="View Clearance"
                                                                   class="nav-menu-item md-button md-ink-ripple"
                                                                   ng-click="showClearance($event,row)">
                                                            <i class="material-icons">receipt</i>
                                                            <span>View Clearance</span>
                                                        </md-button>
                                                    </md-menu-item>
                                                </md-menu-content>
                                            </md-menu>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </md-table-container>
                            <div ng-show="requesting.displayed.length == 0" layout="column" layout-align="center center"
                                 class="not-found">
                                <i class="material-icons">sentiment_dissatisfied</i>

                                <h3>No results found
                                    <span ng-show="requesting.search.length>0">
                            for
                        </span>
                                    <em>{% templatetag openvariable %}requesting.search{% templatetag closevariable %}</em>
                                </h3>
                            </div>
                            <div ng-if="requesting.displayed.length != 0" class="pagination-controller" layout="row"
                                 layout-xs="column"
                                 layout-sm="column" layout-align-xs="end stretch" layout-align-sm="end stretch"
                                 layout-align="end start">
                                <div class="md-table-pagination">
                                    <div class="page-select">
                                        <div class="label">Row per page:</div>
                                        <md-select ng-model="requesting.itemsByPage" aria-label="Select Item per Page"
                                                   class="md-table-select ">
                                            <md-option ng-value="ibp"
                                                       ng-repeat="ibp in requesting.options">{% templatetag openvariable %}
                                                ibp {% templatetag closevariable %}</md-option>
                                        </md-select>
                                    </div>
                                </div>
                                <div class="text-center" st-pagination="" st-items-by-page="requesting.itemsByPage"
                                     st-template="{% static 'templates/pagination.tmpl.html' %}"></div>
                            </div>
                        </div>
                    </md-content>
                </md-tab>
                <md-tab label="Signed">
                    <md-content ng-controller="SignedCtrl as signed">
                        <h1 class="md-display-2 md-padding md-ts" ng-class="{'md-title-shrink': search_panel}">
                            Signed</h1>
                        <div st-table="signed.displayed" st-pipe="signed.callServer" refresh-table>
                            <div class="md-search-right"
                                 ng-class="{'card-paint': search_panel, 'msr': !search_panel, 'nf': search_panel && signed.displayed.length == 0}">
                                <md-button class="md-icon-button" ng-click="search_panel = !search_panel">
                                    <div class="fli" ng-class="{'ng-hide': search_panel}">
                                        <md-tooltip direction="left">Search List</md-tooltip>
                                        <i class="material-icons">search</i>
                                    </div>
                                    <div ng-class="{'ng-hide': !search_panel}" class="md-white fli">
                                        <md-tooltip direction="left">Close Search List</md-tooltip>
                                        <i class="material-icons">clear</i>
                                    </div>
                                </md-button>
                                <md-button class="md-icon-button" ng-click="signed.m_refresh()">
                                    <md-tooltip direction="left">Manual Refresh</md-tooltip>
                                    <i class="material-icons">refresh</i>
                                </md-button>
                            </div>
                            <div class="card-paint"
                                 ng-class="{'card-s-panel': search_panel, 'md-s-f': search_panel, 'nf': signed.displayed.length == 0}"
                                 layout="column" layout-align="center center" class="md-padding">
                                <div class="floating-search-box fli" ng-class="{'ng-hide': !search_panel}">
                                    <div class="floating-search-box-wrap">
                                        <input st-search="" ng-model="signed.search" type="text"
                                               placeholder="Search List">
                                    </div>
                                </div>
                            </div>
                            <md-table-container>
                                <table class="md-table" st-safe-src="rowCollection">
                                    <thead class="md-head">
                                    <tr class="md-row card-th">
                                        <th class="md-column th-pointer" st-sort="number">I.D. Number</th>
                                        <th class="md-column th-pointer" st-sort="number__first_name">Name</th>
                                        <th class="md-column th-pointer" st-sort="year">Year</th>
                                        <th class="md-column th-pointer" st-sort="course">Course</th>
                                        <th class="md-column th-pointer" st-sort="course__department__abbreviation">
                                            Department
                                        </th>
                                        <th class="md-column th-pointer" st-sort="course__college__college">College</th>
                                        <th class="md-column th-pointer action-th">
                                            <md-button class="md-icon-button" ng-click="filter_panel = !filter_panel">
                                                <div class="fli" ng-class="{'ng-hide': filter_panel}">
                                                    <md-tooltip direction="left">Filter List</md-tooltip>
                                                    <i class="material-icons">filter_list</i>
                                                </div>
                                                <div class="fli" ng-class="{'ng-hide': !filter_panel}">
                                                    <md-tooltip direction="left">Close Filter List</md-tooltip>
                                                    <i class="material-icons">clear</i>
                                                </div>
                                            </md-button>
                                        </th>
                                    </tr>
                                    <tr class="md-row fli" ng-class="{'ng-hide': !filter_panel}">
                                        <th class="md-column">
                                            <md-input-container>
                                                <label>Search by I.D Number</label>
                                                <input st-search="number" type="text">
                                            </md-input-container>
                                        </th>
                                        <th class="md-column">
                                            <md-input-container>
                                                <label>Search by Name</label>
                                                <input st-search="full_name" type="text">
                                            </md-input-container>
                                        </th>
                                        <th class="md-column">
                                            <md-input-container>
                                                <label>Search by Year</label>
                                                <input st-search="year" type="text">
                                            </md-input-container>
                                        </th>
                                        <th class="md-column">
                                            <md-input-container>
                                                <label>Search by Course</label>
                                                <input st-search="course" type="text">
                                            </md-input-container>
                                        </th>
                                        <th class="md-column">
                                            <md-input-container>
                                                <label>Search by Department</label>
                                                <input st-search="department" type="text">
                                            </md-input-container>
                                        </th>
                                        <th class="md-column">
                                            <md-input-container>
                                                <label>Search by College</label>
                                                <input st-search="college" type="text">
                                            </md-input-container>
                                        </th>
                                    </tr>
                                    </thead>
                                    <thead class="md-table-progress">
                                    <tr>
                                        <th colspan="5">
                                            <md-progress-linear ng-show="signed.isLoading"
                                                                md-mode="indeterminate"></md-progress-linear>
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody class="md-body">
                                    <tr ng-repeat="row in signed.displayed" class="md-row">
                                        <td data-title="I.D. Number"
                                            class="md-cell">{% templatetag openvariable %}row.number{% templatetag closevariable %}</td>
                                        <td data-title="Full Name"
                                            class="md-cell">{% templatetag openvariable %}row.full_name{% templatetag closevariable %}</td>
                                        <td data-title="Year"
                                            class="md-cell">{% templatetag openvariable %}row.year{% templatetag closevariable %}</td>
                                        <td data-title="Course"
                                            class="md-cell">{% templatetag openvariable %}row.course{% templatetag closevariable %}
                                            <md-tooltip
                                                    direction="top">{% templatetag openvariable %}row.course_desc{% templatetag closevariable %}</md-tooltip>
                                        </td>
                                        <td data-title="Department"
                                            class="md-cell">{% templatetag openvariable %}row.department{% templatetag closevariable %}
                                            <md-tooltip
                                                    direction="top">{% templatetag openvariable %}row.department_name{% templatetag closevariable %}</md-tooltip>
                                        </td>
                                        <td data-title="College"
                                            class="md-cell">{% templatetag openvariable %}row.college{% templatetag closevariable %}
                                            <md-tooltip
                                                    direction="top">{% templatetag openvariable %}row.college_desc{% templatetag closevariable %}</md-tooltip>
                                        </td>
                                        <td class="md-cell action-td">
                                            <md-menu>
                                                <md-button aria-label="Open action mene" class="md-icon-button"
                                                           ng-click="signed.openMenu($mdMenu, $event)">
                                                    <i class="material-icons">more_vert</i>
                                                </md-button>
                                                <md-menu-content width="3">
                                                    <md-menu-item>
                                                        <md-button layout="row" layout-align="start center"
                                                                   aria-label="View Profile"
                                                                   class="nav-menu-item md-button md-ink-ripple"
                                                                   ng-click="showProfile($event, row)">
                                                            <i class="material-icons">tag_faces</i>
                                                            <span>View Profile</span>
                                                        </md-button>
                                                    </md-menu-item>
                                                    <md-menu-item>
                                                        <md-button layout="row" layout-align="start center"
                                                                   aria-label="View Clearance"
                                                                   class="nav-menu-item md-button md-ink-ripple"
                                                                   ng-click="showClearance($event,row)">
                                                            <i class="material-icons">receipt</i>
                                                            <span>View Clearance</span>
                                                        </md-button>
                                                    </md-menu-item>
                                                    <md-menu-item>
                                                        <md-button layout="row" layout-align="start center"
                                                                   aria-label="View Profile"
                                                                   class="nav-menu-item md-button md-ink-ripple"
                                                                   ng-click="downloadClearance(row)">
                                                            <i class="material-icons">cloud_download</i>
                                                            <span>Download Clearance</span>
                                                        </md-button>
                                                    </md-menu-item>
                                                </md-menu-content>
                                            </md-menu>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </md-table-container>
                            <div ng-show="signed.displayed.length == 0" layout="column" layout-align="center center"
                                 class="not-found">
                                <i class="material-icons">sentiment_dissatisfied</i>

                                <h3>No results found
                                    <span ng-show="signed.search.length>0">
                            for
                        </span>
                                    <em>{% templatetag openvariable %}signed.search{% templatetag closevariable %}</em>
                                </h3>
                            </div>
                            <div ng-if="signed.displayed.length != 0" class="pagination-controller" layout="row"
                                 layout-xs="column"
                                 layout-sm="column" layout-align-xs="end stretch" layout-align-sm="end stretch"
                                 layout-align="end start">
                                <div class="md-table-pagination">
                                    <div class="page-select">
                                        <div class="label">Row per page:</div>
                                        <md-select ng-model="signed.itemsByPage" aria-label="Select Item per Page"
                                                   class="md-table-select ">
                                            <md-option ng-value="ibp"
                                                       ng-repeat="ibp in signed.options">{% templatetag openvariable %}
                                                ibp {% templatetag closevariable %}</md-option>
                                        </md-select>
                                    </div>
                                </div>
                                <div class="text-center" st-pagination="" st-items-by-page="signed.itemsByPage"
                                     st-template="{% static 'templates/pagination.tmpl.html' %}"></div>
                            </div>
                        </div>
                    </md-content>
                </md-tab>
            </md-tabs>
        </md-content>
    </section>
{% endblock %}

<!---
<div layout="row" layout-align="right center">
                            <md-button class="md-primary md-raised" ng-click="issue($event, 'ni' ,'all')">
                                <md-tooltip direction="bottom">Issue All Students</md-tooltip>
                                <span>Mass Issue</span>
                            </md-button>
                            <md-button class="md-primary md-raised" ng-click="issue($event, 'ni' ,'all')">
                                <md-tooltip direction="bottom">Issue by Course</md-tooltip>
                                <span>Issue by Course</span>
                            </md-button>
                            <md-button class="md-primary md-raised" ng-click="issue($event, 'ni' ,'all')">
                                <md-tooltip direction="bottom">Issue by Year Level</md-tooltip>
                                <span>Issue by Year</span>
                            </md-button>
                        </div>
                        <table ng-table="issueTbl" class="table mat-table " show-filter="true">
                            <tr ng-repeat="c in $data" class="mat-header-row">
                                <td class="mat-cell cdk-column-weight mat-column-weight" title="'ID Number'"
                                    filter="{ id_number: 'text'}" sortable="'id_number'">
                                    {% templatetag openvariable %}c.id_number{% templatetag closevariable %}</td>
                                <td class="mat-cell cdk-column-weight mat-column-weight" title="'Name'"
                                    filter="{ full_name: 'text'}" sortable="'full_name'">
                                    {% templatetag openvariable %}c.full_name{% templatetag closevariable %}</td>
                                <td class="mat-cell cdk-column-weight mat-column-weight" title="'Course'"
                                    filter="{ course: 'text'}" sortable="'course'">
                                    {% templatetag openvariable %}c.course{% templatetag closevariable %}</td>
                                <td class="mat-cell cdk-column-weight mat-column-weight" title="'Year'"
                                    filter="{ year: 'text'}" sortable="'year'">
                                    {% templatetag openvariable %}c.year{% templatetag closevariable %}</td>
                                <td>
                                    <md-button class="md-primary md-raised" ng-click="issue($event, 'ni' ,c)">
                                        <md-tooltip direction="bottom">Issue All Students</md-tooltip>
                                        <span>Issue</span>
                                    </md-button>
                                </td>
                            </tr>
                        </table>
--->