{% extends 'pwa/templates/home.html' %}
{% load static %}
{% block user_section %}
    <section class="clearance-view noselect" ng-controller="StudentCtrl as stu">
        <md-subheader class="md-no-sticky">
            <div layout="row" layout-align="space-between center">
                <span>Clearance</span>
                <md-select class="sem-selection" placeholder="Select Semester" ng-model="stu.sems"
                           class="select-semester" ng-change="stu.updateSemester()">
                    <md-option ng-value="{% templatetag openvariable %}s{% templatetag closevariable %}"
                               ng-repeat="s in stu.sem">{% templatetag openvariable %}s.name{% templatetag closevariable %}</md-option>
                </md-select>
            </div>
        </md-subheader>
        <md-card>
            <div st-table="stu.displayed" st-pipe="stu.callServer" refresh-table>
                <md-card-title class="card-paint" ng-class="{'nf': stu.displayed.length == 0}">
                    <md-card-title-text>
                        <span class="md-headline">My College Clearance</span>
                    </md-card-title-text>
                    <div>
                        <md-button class="md-icon-button ng-hide-wrapper" ng-click="search_panel = !search_panel">
                            <div ng-class="{'ng-hide': search_panel}">
                                <md-tooltip direction="left">Search List</md-tooltip>
                                <i class="material-icons">search</i>
                            </div>
                            <div ng-class="{'ng-hide': !search_panel}">
                                <md-tooltip direction="left">Close Search List</md-tooltip>
                                <i class="material-icons">clear</i>
                            </div>
                        </md-button>
                        <md-button class="md-icon-button" ng-click="stu.m_refresh()">
                            <md-tooltip direction="left">Manual Refresh</md-tooltip>
                            <i class="material-icons">refresh</i>
                        </md-button>
                    </div>
                </md-card-title>
                <div class="card-paint ng-hide-wrapper" ng-class="{'card-s-panel': search_panel, 'nf': stu.displayed.length == 0}"
                     layout="column" layout-align="center center" class="md-padding">
                    <div class="floating-search-box" ng-class="{'ng-hide': !search_panel}">
                        <div class="floating-search-box-wrap">
                            <input st-search="" ng-model="stu.search" type="text" placeholder="Search List">
                        </div>
                    </div>
                </div>
                <md-table-container>
                    <table class="md-table ng-hide-wrapper" st-safe-src="rowCollection">
                        <thead class="md-head">
                        <tr class="md-row card-th">
                            <th class="md-column th-pointer" st-sort="liability">Liability</th>
                            <th class="md-column th-pointer" st-sort="status.description">Status</th>
                            <th class="md-column th-pointer" st-sort="valid.description">Validation Status</th>
                            <th class="md-column th-pointer" st-sort="office">Office</th>
                            <th class="md-column th-pointer action-th ng-hide-wrapper">
                                <md-button class="md-icon-button" ng-click="filter_panel = !filter_panel">
                                    <div ng-class="{'ng-hide': filter_panel}">
                                        <md-tooltip direction="left">Filter List</md-tooltip>
                                        <i class="material-icons">filter_list</i>
                                    </div>
                                    <div ng-class="{'ng-hide': !filter_panel}">
                                        <md-tooltip direction="left">Close Filter List</md-tooltip>
                                        <i class="material-icons">clear</i>
                                    </div>
                                </md-button>
                            </th>
                        </tr>
                        <tr class="md-row" ng-class="{'ng-hide': !filter_panel}">
                            <th class="md-column">
                                <md-input-container>
                                    <label>Search by Liability</label>
                                    <input st-search="liability" type="text">
                                </md-input-container>
                            </th>
                            <th class="md-column">
                                <md-input-container>
                                    <label>Search by Status</label>
                                    <input st-search="status.description" type="text">
                                </md-input-container>
                            </th>
                            <th class="md-column">
                                <md-input-container>
                                    <label>Search by Validation Status</label>
                                    <input st-search="valid.description" type="text">
                                </md-input-container>
                            </th>
                            <th class="md-column">
                                <md-input-container>
                                    <label>Search by Office</label>
                                    <input st-search="office" type="text">
                                </md-input-container>
                            </th>
                        </tr>
                        </thead>
                        <thead class="md-table-progress">
                        <tr>
                            <th colspan="5">
                                <md-progress-linear ng-show="stu.isLoading"
                                                    md-mode="indeterminate"></md-progress-linear>
                            </th>
                        </tr>
                        </thead>
                        <tbody class="md-body">
                        <tr ng-repeat="row in stu.displayed" class="md-row"
                            ng-class="{'requesting': row.request_status_code == 1, 'signed': row.request_status_code == 2, 'restricted': row.request_status_code == 3}">
                            <td data-title="Liability"
                                class="md-cell">{% templatetag openvariable %}row.liability{% templatetag closevariable %}</td>
                            <td data-title="Status"
                                class="md-cell">{% templatetag openvariable %}row.status.description{% templatetag closevariable %}</td>
                            <td data-title="Validation Status" class="md-cell">{% templatetag openvariable %}row.valid.description{% templatetag closevariable %}</td>
                            <td data-title="Office"
                                class="md-cell">{% templatetag openvariable %}row.office{% templatetag closevariable %}</td>
                            <td class="md-cell action-td">
                                <md-menu>
                                    <md-button aria-label="Open action menu" class="md-icon-button"
                                               ng-click="stu.openMenu($mdMenu, $event)">
                                        <i class="material-icons">more_vert</i>
                                    </md-button>
                                    <md-menu-content width="3" class="ng-hide-wrapper">
                                        <md-menu-item
                                                ng-hide="row.request_status_code == 1 || row.request_status_code == 2 || row.request_status_code == 3">
                                            <md-button layout="row" layout-align="start center" aria-label="Request"
                                                       class="nav-menu-item md-button md-ink-ripple"
                                                       ng-click="stu.request(row)">
                                                <i class="material-icons">send</i>
                                                <span>Request</span>
                                            </md-button>
                                        </md-menu-item>
                                        <md-menu-item class="ng-hide-wrapper"
                                                ng-hide="row.request_status_code == 0 || row.request_status_code == 2 || row.request_status_code == 3">
                                            <md-button layout="row" layout-align="start center"
                                                       aria-label="Cancel Request"
                                                       class="nav-menu-item md-button md-ink-ripple"
                                                       ng-click="stu.cancel(row)">
                                                <i class="material-icons">cancel</i>
                                                <span>Cancel</span>
                                            </md-button>
                                        </md-menu-item>
                                        <md-menu-item>
                                            <md-button layout="row" layout-align="start center" aria-label="Delete Data"
                                                       class="nav-menu-item md-button md-ink-ripple"
                                                       ng-click="stu.info($event, row, 's')">
                                                <i class="material-icons">info</i>
                                                <span>Signatory Info</span>
                                            </md-button>
                                        </md-menu-item>
                                        <md-menu-item>
                                            <md-button layout="row" layout-align="start center"
                                                       aria-label="View Clearance"
                                                       class="nav-menu-item md-button md-ink-ripple"
                                                       ng-click="stu.downloadClearance(row)">
                                                <i class="material-icons">cloud_download</i>
                                                <span>Download Clearance</span>
                                            </md-button>
                                        </md-menu-item>
                                    </md-menu-content>
                                </md-menu>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </md-table-container>
                <div ng-show="stu.displayed.length == 0" layout="column" layout-align="center center"
                     class="not-found">
                    <i class="material-icons">sentiment_dissatisfied</i>

                    <h3>No results found
                        <span ng-show="stu.search.length>0">
                            for
                        </span>
                        <em>{% templatetag openvariable %}stu.search{% templatetag closevariable %}</em></h3>
                </div>
                <div ng-if="stu.displayed.length != 0" class="pagination-controller" layout="row" layout-xs="column"
                     layout-sm="column" layout-align-xs="end stretch" layout-align-sm="end stretch"
                     layout-align="end start">
                    <div class="md-table-pagination">
                        <div class="page-select">
                            <div class="label">Row per page:</div>
                            <md-select ng-model="stu.itemsByPage" aria-label="Select Item per Page"
                                       class="md-table-select ">
                                <md-option ng-value="ibp" ng-repeat="ibp in stu.options">{% templatetag openvariable %}
                                    ibp {% templatetag closevariable %}</md-option>
                            </md-select>
                        </div>
                    </div>
                    <div class="text-center" st-pagination="" st-items-by-page="stu.itemsByPage"
                         st-template="{% static 'templates/pagination.tmpl.html' %}"></div>
                </div>
            </div>
        </md-card>
    </section>
{% endblock %}