{% extends 'base.html' %}
{% block title %} Home {% endblock %}
{% block content %}
    <b> Welcome to Cleari </b>
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    {% if request.user.is_authenticated %}
        <p><a href="{% url 'core:home' %}" title="Home">Home</a></p>
    {% else %}
        <p><a href="{% url 'core:login' %}" title="Login">Login</a></p>
    {% endif %}
    <p>This is a temporary page for Cleari.</p>
    <i>{{ data }}</i>
{% endblock %}