{% extends 'base.html' %}
{% block title %}{{ app.title }}{% endblock %}
{% block content %}
    <a href="{% url 'core:home' %}" title="Home">Home</a>
    <hr>
    <h3>Manage {{ app.name }} </h3>
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <ul>
        <li>Dashboard</li>
        <ul>
            {% for l in links %}
                <li><a href="{{ l.url }}" title="{{ l.title }}">{{ l.text }}</a></li>
            {% endfor %}
        </ul>
    </ul>
{% endblock %}