{% extends 'base.html' %}
{% block title %} Settings - Set Email {% endblock %}
{% block content %}
    <a href="{% url 'core:home' %}" title="Home">Home</a>
    <hr>
    <h3> Setup Email </h3>
    <p><i>Tip: Setup email so that you can recover lost password, and et notification via email</i></p>
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <form method="post">
        {% csrf_token %}
        {{ e_form.as_p }}
        <button type="submit">Save</button>
    </form>
{% endblock %}