@media (min-width: 960px) {
    .float-toolbar {
        position: relative !important;
    }
}

.tt_c {
    display: none!important;
}

.message-wrapper {
  position: relative;
  overflow: hidden;
  width: 100%;
  margin: 10.6666666667px 0;
  padding: 10.6666666667px 0;
}
.message-wrapper .circle-wrapper {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}
.message-wrapper .text-wrapper {
  padding: 6px 14px;
  margin: 0 10.6666666667px;
  border-radius: 5px;
  font-weight: 300;
  position: relative;
  word-break: break-all;
  max-width: 75%;
  opacity: 0;
}

.act-dialog {
    margin:0;
}

.act-dialog-options {
    padding: 0!important;
}

.text-wrapper span {
    font-size: 14px;
    font-weight: 400;
}
.message-wrapper.them .circle-wrapper, .message-wrapper.them .text-wrapper {
  background: #f1f0f0;
  float: left;
  color: #000000;
}
.message-wrapper.them .text-wrapper:before {
  border-width: 0 10px 10px 0;
  border-color: transparent #2196F3 transparent transparent;
  position: absolute;
  top: 0;
  left: -9px;
}


.message-wrapper.me .circle-wrapper, .message-wrapper.me .text-wrapper {
  background: #5C6BC0;
  float: right;
  color: #333333;
}
.message-wrapper.me .text-wrapper {
  border-top-right-radius: 0!important;
  background: #2196F3;
  color: white;
}
.message-wrapper.me .text-wrapper:before {
  border-width: 10px 10px 0 0;
  border-color: #ffffff transparent transparent transparent;
  position: absolute;
  top: 0;
  right: -9px;
}


.message-wrapper.me button {
    float: right;
    margin-top: -3px;
    margin-right: -10px;
    color: grey;
}

.message-wrapper.them button {
    float: left;
    margin-top: -5px;
    margin-left: -10px;
    color: grey;
}

.message-wrapper.them .text-wrapper {
    border-top-left-radius: 0 !important;
}

.message-wrapper.them .text-wrapper:before {
  border-width: 0 10px 10px 0;
  border-color: transparent #f1f0f1 transparent transparent;
  position: absolute;
  top: 0;
  left: -9px;
}

.message-wrapper.me .text-wrapper:before {
  border-width: 10px 10px 0 0;
  border-color: #2196F3 transparent transparent transparent;
  position: absolute;
  top: 0;
  right: -9px;
}

.message-wrapper .text-wrapper:before {
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
}

.action-dialog {
    width: 0;
}


.chat-footer {
    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: #80808087;
    height: auto;
}

.message-body {
    border-bottom: none !important;
}

.message-body-wrapper {
    display: block;
    margin: 7px 0 -20px 10px;
}

.message-buttons {
    color: #2196f3;
    height: 50px;
    margin: 8px;
}

.message-classic-label {
    -webkit-transform: translate3d(0,28px,0) scale(1) !important;
    transform: translate3d(0,28px,0) scale(1) !important;
}

.msg-time-divider {
    color: #2c4393;
    font-size: 12px;
    background-color: #dfe8ec;
    padding: 3px 16px;
    border-radius: 1.3em;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: auto;
}

.action-buttons button {
    width: -webkit-fill-available !important;
    text-align: left !important;
    text-transform: unset !important;
}

.md-input-has-value label {
    display: none !important;
}

.msg-time-divider {
    text-align: center;
}

.message_send_active {
    background-color: #2196f3 !important;
    color: white !important;
}


.msg-body-time {
    font-size: 10px;
    padding-top: 5px;
    margin: 0;
    text-align: right;
}

.chat {
    opacity: 1;
    height: inherit;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
}

.image-attachment {
    width: 110% !important;
    height: auto !important;
    margin-left: -15px !important;
    margin-top: -6px !important;
}

.attach-wrapper {
    overflow: hidden !important;
}

.img-src div {
    padding-top: 15px !important;
    display: -ms-inline-grid !important;
    display: inline-grid !important;
}

.img-src > div > span.thumbnail {
    position: absolute !important;
    margin-top: -75px !important;
}

.thumbnail::before{
    font-size: 50px!important;
    margin-left: 0!important;
}

.text-wrapper {
    margin-bottom: 20px !important;
}

.attach-wrapper:before {
    border-color: transparent!important;
}

.message-wrapper.me .text-wrapper.attach-wrapper,
.message-wrapper.them .text-wrapper.attach-wrapper{
    border-top-right-radius: 5px !important;
    border-top-left-radius: 5px !important;
}

.md-virtual-repeat-offsetter {
    padding: 10px !important;
}

.unite_center {
    text-align: center;
}

.unite_wrapper{
    display:  -webkit-box;
    display:  -ms-flexbox;
    display:  flex;
    width:  -webkit-fit-content;
    width:  -moz-fit-content;
    width:  fit-content;
    border-radius:  50%;
    overflow:  hidden;
    margin: auto;
}

.unite_wrapper .ch1 {
    width: 50px;
}

.unite_wrapper .ch2 {
    overflow:  hidden;
    width:  50px;
}

.unite_wrapper>.ch2 img {
    margin-left:  -50px;
}

#vertical-container {
    height: 100%;
    width: 100%;
}


.float-toolbar {
        position: fixed;
        top: 0;
        z-index: 20;
}

.repeated-item {
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
}

.hackme.repeated-item {
    height: auto !important;
}

.opac {
    opacity: 0;
}

.floating-progress {
    position: absolute;
    z-index: 1;
}

.videogular-container {
    width: 100%;
    height: 320px;
    margin: auto;
    overflow: hidden;
}

@media (min-width: 1200px) {
    .videogular-container {
        width: 1170px;
        height: 658.125px;
    }

    .videogular-container.audio {
        width: 1170px;
        height: 50px;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .videogular-container {
        width: 940px;
        height: 528.75px;
    }

    .videogular-container.audio {
        width: 940px;
        height: 50px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .videogular-container {
        width: 728px;
        height: 409.5px;
    }

    .videogular-container.audio {
        width: 728px;
        height: 50px;
    }
}





@media (max-width: 390px) {
    .message-wrapper .text-wrapper {
        max-width: 54%;
    }
}

.watch-header {
    position: absolute;
    font-weight: 400;
    font-size: 16px !important;
    z-index: 1;
    text-align: center;
    color: white;
    /* Starting position */
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
        transform: translateX(100%);
    /* Apply animation to this element */
    -webkit-animation: example1 15s linear infinite;
    animation: example1 15s linear infinite;
}

.watch-mdc {
    padding: 0 !important;
}

.watch-md {
    overflow: hidden;
}

.videogular-container {
    width: 100% !important;
}


.message-header {
    text-align: center;
}

/* Move it (define the animation) */

@-webkit-keyframes example1 {
    0% {
        -webkit-transform: translateX(100%);
    }
    100% {
        -webkit-transform: translateX(-100%);
    }
}

@keyframes example1 {
    0% { /* Firefox bug fix */
        -webkit-transform: translateX(100%); /* Firefox bug fix */
        transform: translateX(100%);
    }
    100% { /* Firefox bug fix */
        -webkit-transform: translateX(-100%); /* Firefox bug fix */
        transform: translateX(-100%);
    }
}



.floating-search-box input:not(.md-input) {
    font-size: 14px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border: none;
    -webkit-box-shadow: none;
            box-shadow: none;
    outline: none;
    background: transparent;
    width: 100%;
    padding: 0 15px;
    line-height: 40px;
    height: 40px;
}

.floating-search-box {
    background: rgb(255, 255, 255);
    border-radius: 2px;
    display: block;
    height: 40px;
    position: relative;
    overflow: visible;
    min-width: 190px;
}

.floating-search-box .floating-search-box-wrap input {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 0%;
        flex: 1 1 0%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    min-width: 0;
}

.floating-search-box-wrap {
    -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .2), 0 1px 1px 0 rgba(0, 0, 0, .14), 0 2px 1px -1px rgba(0, 0, 0, .12);
            box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .2), 0 1px 1px 0 rgba(0, 0, 0, .14), 0 2px 1px -1px rgba(0, 0, 0, .12);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
        flex-direction: row;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    position: relative;
    overflow: visible;
    height: 40px;
}

/* when hiding the thing */
.ng-hide-mod.ng-hide-add {
    -webkit-animation: 0.5s lightSpeedOut ease;
    animation: 0.5s lightSpeedOut ease;
}

/* when showing the thing */
.ng-hide-mod.ng-hide-remove {
    -webkit-animation: 0.5s flipInX ease;
    animation: 0.5s flipInX ease;
}

/* ANIMATIONS (FROM ANIMATE.CSS) */

/* flip in */
@-webkit-keyframes flipInX {
    0% {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
        transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
        -webkit-transition-timing-function: ease-in;
        transition-timing-function: ease-in;
        opacity: 0;
    }

    40% {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
        transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
        -webkit-transition-timing-function: ease-in;
        transition-timing-function: ease-in;
    }

    60% {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
        transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
        opacity: 1;
    }

    80% {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
        transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    }

    100% {
        -webkit-transform: perspective(400px);
        transform: perspective(400px);
    }
}

@keyframes flipInX {
    0% {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
        -ms-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
        transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
        -webkit-transition-timing-function: ease-in;
        -o-transition-timing-function: ease-in;
           transition-timing-function: ease-in;
        opacity: 0;
    }

    40% {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
        -ms-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
        transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
        -webkit-transition-timing-function: ease-in;
        -o-transition-timing-function: ease-in;
           transition-timing-function: ease-in;
    }

    60% {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
        -ms-transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
        transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
        opacity: 1;
    }

    80% {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
        -ms-transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
        transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    }

    100% {
        -webkit-transform: perspective(400px);
        -ms-transform: perspective(400px);
        transform: perspective(400px);
    }
}

/* light speed out */
@-webkit-keyframes lightSpeedOut {
    0% {
        opacity: 1;
    }

    100% {
        -webkit-transform: translate3d(100%, 0, 0) skewX(30deg);
        transform: translate3d(100%, 0, 0) skewX(30deg);
        opacity: 0;
    }
}

@keyframes lightSpeedOut {
    0% {
        opacity: 1;
    }

    100% {
        -webkit-transform: translate3d(100%, 0, 0) skewX(30deg);
        -ms-transform: translate3d(100%, 0, 0) skewX(30deg);
        transform: translate3d(100%, 0, 0) skewX(30deg);
        opacity: 0;
    }
}