.backdrop {
    filter: blur(7px);
    -webkit-filter: blur(7px);
    position: absolute;
    -webkit-transform: scale(1.7);
    -ms-transform: scale(1.7);
    transform: scale(1.7);
    width: 100%;
}

.backdrop-box {
    overflow: hidden;
    position: absolute;
    width: 100%;
}

.semester-view, .semester-content, .backdrop, .backdrop-box {
    height: 250px;
}

.semester-view, .backdrop {
    background: #3949AB url('../images/asset/buksu-gate.jpg') no-repeat fixed center top;
}

.semester-content, .semester-divider, .semester-countdown, .clearance-closed {
    position: relative;
}

.header {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
}

.semester-select {
    max-width: 200px;
}

.semester-view {
    background-color: #3949AB;
    color: white;
    font-weight: 300;
}

span > b {
    color: #3F51B5;
}

@media (min-width: 600px) {
    .semester-divider {
        margin: 0 60px 0 60px;
    }

    .semester-countdown .counter {
        font-size: 60px;
        font-weight: 100;
    }
}

@media (min-width: 960px) and (max-width: 1080px ) {
    .semester-countdown .counter {
        font-size: 45px !important;
        font-weight: 100 !important;
        width: 335px !important;
    }
}

@media (min-width: 660px) and (max-width: 760px ) {
    .semester-countdown .counter {
        font-size: 48px !important;
        font-weight: 100 !important;
        width: 350px !important;
    }
}

@media (min-width: 600px) and (max-width: 660px ) {
    .semester-divider {
        margin: 0 50px 0 50px;
    }

    .semester-countdown .counter {
        font-size: 36px !important;
        font-weight: 200 !important;
        width: 270px !important;
    }
}

@media (max-width: 599px) {
    .semester-content {
        height: auto !important;
    }

    .semester-divider div {
        height: 5px !important;
        margin: 15px 1px 15px 0 !important;
        width: 300px !important;
    }

    .counter {
        font-size: 35px;
    }

    .semester-view, .semester-content, .backdrop, .backdrop-box {
        height: 315px;
    }

    .backdrop-box {
        height: 378px !important;
    }
}

.clearance-closed i {
    font-size: 60px;
    padding: 10px;
}

.semester-countdown .counter {
    text-align: center;
}

.counter > span > b {
    color: white;
    font-weight: 500;
}

.semester-countdown .message {
    font-weight: 400;
}

.semester-divider div {
    background-color: #ffffff6b;
    height: 170px;
    width: 5px;
}

.select-semester {
    max-width: 100px;
    min-width: 200px;
}

.sem-selection {
    margin: 0 !important;
}

.md-subheader-inner {
    background-color: #9fa8da73;
}

.toggle_toolbar {
    color: #3F51B5 !important;
    position: fixed !important;
    -webkit-box-shadow: unset !important;
    box-shadow: unset !important;
    background-color: #ffffff4f !important;
}

.backdrop-box {
    top: 0;
    height: 313px;
}

section.semester-view {
    margin-top: 63px;
}

@media (min-width: 600px) {
    .ad-tile {
        width: 300px;
        height: 350px;
    }
}

@media (max-width: 599px) {
    .ad-tile {
        max-width: 300px;
    }
}

.ad-tile img {
    height: 170px;
    background-color: #236ebc;
}

.admin-dashboard {
    padding: 30px;
}

.chat-footer {
    height: auto;
}


.message-body-wrapper {
    /*noinspection CssInvalidPropertyValue*/
    width: -webkit-fill-available;
}


.message-dialog {
    min-width: 375px;
}

.message-buttons {
    color: #2196f3;
    height: 50px;
    margin: 8px;
}