.md-form {
    min-width: 500px;
}

.hide-title {
    pointer-events: none;
}

.liab-card {
    width: 100%;
}

.handle {
    margin: auto 15px;
    font-size: 35px;
}

md-dialog.fullscreen-dialog {
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: 100%;
    border-radius: 0;
}

.liab-box-wrapper {
    background-color: #E8EAF6;
    padding: 25px;
    border-left-style: solid;
    margin-left: -2px;
}

.layout-fill {
    min-width: unset !important;
}

.panel-info, .liab-box-wrapper {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
}

.college-picker {
    background-color: #3F51B5;
    color: white !important;
    padding: 0px 60px;
}

.non, .chosen {
    color: white;
    -webkit-transition: 5ms;
    -o-transition: 5ms;
    transition: 5ms;
}

.nc {
    color: white !important;
}

.chosen {
    background-color: #2196F3;
}

.non {
    background-color: #607D8B;
}

.lst-wrapper {
    margin: auto;
    margin-left: 2px;
}

.tog {
    width: 100%;
    height: 100%;
    background-color: #3F51B5;
    position: absolute;
    z-index: 1;
}

.tg {
    margin-left: 17px !important;
}

.tgh {
    margin: auto !important;
    margin-right: 8px !important;
}

.cb_md {
    margin-left: 11px !important;
    cursor: pointer;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
        align-items: center;
    width: auto;
    -webkit-transition: background .15s linear;
    -o-transition: background .15s linear;
    transition: background .15s linear;
    padding: 0 16px;
    height: 48px;
}

div.process {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    color: #E91E63;
}

div.process span {
    position: absolute;
    font-weight: 300;
    font-size: 30px;
    margin: 29px 0 0 26px;
}

md-card {
    overflow: hidden;
}

.card-paint {
    background-color: #03A9F4;
    color: white;
    -webkit-transition-duration: 0.5s;
         -o-transition-duration: 0.5s;
            transition-duration: 0.5s;
}

.th-pointer {
    cursor: pointer;
}

.st-sort-ascent:after {
    content: 'arrow_upward';
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    margin-top: -5px;
    padding-top: 0;
    padding-left: 7px;
    position: absolute;
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-feature-settings: 'liga';
            font-feature-settings: 'liga';
}

.st-sort-descent:after {
    content: 'arrow_downward';
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    margin-top: -5px;
    padding-top: 0;
    padding-left: 7px;
    position: absolute;
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-feature-settings: 'liga';
            font-feature-settings: 'liga';
}

.card-th {
    background: #E1F5FE;
}

.card-s-panel {
    height: 100px;
    margin-top: -25px;
}



.floating-search-box input:not(.md-input) {
    font-size: 14px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border: none;
    -webkit-box-shadow: none;
            box-shadow: none;
    outline: none;
    background: transparent;
    width: 100%;
    padding: 0 15px;
    line-height: 40px;
    height: 40px;
}

.floating-search-box {
    background: rgb(255, 255, 255);
    border-radius: 2px;
    display: block;
    height: 40px;
    position: relative;
    overflow: visible;
    min-width: 190px;
}

.floating-search-box .floating-search-box-wrap input {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 0%;
        flex: 1 1 0%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    min-width: 0;
}

.floating-search-box-wrap {
    -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .2), 0 1px 1px 0 rgba(0, 0, 0, .14), 0 2px 1px -1px rgba(0, 0, 0, .12);
            box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .2), 0 1px 1px 0 rgba(0, 0, 0, .14), 0 2px 1px -1px rgba(0, 0, 0, .12);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
        flex-direction: row;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    position: relative;
    overflow: visible;
    height: 40px;
}

.fli.ng-hide-add {
    -webkit-animation: 0.5s lightSpeedOut ease;
    animation: 0.5s lightSpeedOut ease;
}

.fli.ng-hide-remove {
    -webkit-animation: 0.5s flipInX ease;
    animation: 0.5s flipInX ease;
}

.not-found {
    padding: 30px
}

.nf {
    background-color: #9E9E9E !important;
}

.not-found i {
    font-size: 45px;
    color: #424242;
}

md-table-container {
    overflow-x: auto !important;
}

.pagination-controller {
    border-top-style: solid;
    border-top-width: 0.5px;
    border-top-color: #607d8b;
}

.action-th, .action-td {
    width: 50px;
}

.md-search-right {
    text-align: right;
    transition: 0s;
}

.md-s-f {
    margin-top: -40px;
}

@media (max-width: 600px) {
    .md-s-f {
        height: 200px;
        margin-bottom: -60px;
    }
}

.msr {
    margin-top: -40px;
}

.md-white {
    color: white;
}

.md-ts {
    transition: .2s;
}

.md-title-shrink {
    font-size: 30px;
    position: absolute;
    margin: 0;
    color: white;
}

@media (min-width: 601) {
    .md-title-shrink {
        margin-top: 9px;
    }
}