.nav-menu-item {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    padding-top: unset !important;
}

.nav-menu-item > i {
    color: #9E9E9E;
    margin-right: 20px !important;
}

@media (min-width: 960px) {
    .nav-toolbar {
        height: unset !important;
    }
}

.nav-toolbar {
    height: 200px;
}

.nav-toolbar img {
    background-color: #ffffff7a;
    border-radius: 25px;
    margin-left: 17px;
}

.nav-collapse {
    width: 57px;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
}

.nav-content {
    overflow: hidden;
}

.nav-desktop-title {
    font-size: 25px;
    margin-left: 20px;
    margin-top: 25px;
    font-family: 'ABeeZee', sans-serif;
    -webkit-transition: 100ms;
    -o-transition: 100ms;
    transition: 100ms;
    padding-left: 20px;
    opacity: 1;
}

.nav-dt-hide {
    font-size: 0;
    opacity: 0;
    position: absolute;
}

@media (min-width: 960px) {
    .nav-menu-item.revert > i {
        color: #ffffff !important;
    }

    .nav-desktop-expand {
        padding-left: 30px;
        padding-top: 25px;
        background-color: #4054b5;
        color: white;
    }
}

.togglernav {
    -webkit-transition: 120ms;
    -o-transition: 120ms;
    transition: 120ms;
}
