.profile {
    margin-bottom: 80px;
}

.backdrop {
    -webkit-filter: blur(7px);
    filter: blur(7px);
    position: absolute;
    -webkit-transform: scale(1.7);
    -ms-transform: scale(1.7);
    transform: scale(1.7);
    width: 100%;
}

.backdrop-box {
    overflow: hidden;
    position: absolute;
    width: 100%;
}

.profile, .backdrop, .backdrop-box {
    height: 250px;
}

.profile, .backdrop {
    background: #3949AB url('../images/asset/buksu-gate.jpg') no-repeat fixed center top;
}

.photo-wrapper .name {
    color: white;
    margin-left: 20px;
    margin-top: 20px;
    z-index: 3;
}

.photo .photo-wrapper img {
    background-color: #004e91;
    border-radius: 50%;
    border: 5px solid #BBDEFB;
    margin-bottom: -50px;
    margin-left: 40px;
    width: 150px;
    height: 150px;
    z-index: 5;
}

.photo .photo-wrapper button {
    position: absolute;
    margin-top: 75px;
    margin-left: 150px;
}

.edit-button button {
    margin-bottom: -28px;
    margin-right: 55px;
}

span.md-title {
    color: #757575;
    padding-left: 20px;
    font-style: italic;
}

span.f {
    margin-left: 20px;
    margin-top: 1px;
}

.card-platform {
    background-color: transparent;
}

@media (max-width: 599px) {
    .profile, .backdrop, .backdrop-box {
        height: 300px !important;
    }

    .photo-wrapper > .name > span {
        font-size: 25px !important;
        font-weight: 300 !important;
    }

    .photo-wrapper > .name > span.md-subhead {
        font-size: 15px !important;
        font-weight: 400 !important;
    }

    .photo .photo-wrapper img {
        margin-left: 0 !important;
        margin-bottom: 0 !important;
    }

    .photo .photo-wrapper button {
        margin-top: 0px;
        position: absolute;
        margin-left: 60px;
    }

    .photo-wrapper .name {
        margin-left: 0;
    }

    .photo-wrapper {
        width: 100% !important;
        position: absolute !important;
        margin-top: -25px !important;
    }

    .profile {
        margin-bottom: 20px !important;
    }
}

.md-form {
    max-width: 500px;
}

.thumb {
    width: 200px;
    height: 200px;
    border: 5px solid #9FA8DA;
    border-radius: 50%;
}

.thumb-wrapper {
    margin: 30px 0 30px;
}

md-input-container textarea[name=address] {
    height: unset !important;
}