.md-card-image {
    height: 100px;
    width: 330px;
    background-color: #E91E63;
}

.fli.ng-hide-add {
    -webkit-animation: 0.5s flipOutX ease;
    animation: 0.5s flipOutX ease;
}

.fli.ng-hide-remove {
    -webkit-animation: 0.5s flipInX ease;
    animation: 0.5s flipInX ease;
}