    /*
    Flaticon icon font: Flaticon
    Creation date: 22/06/2016 15:03
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-3dm-file-format-extension:before { content: "\f100"; }
.flaticon-3ds-open-file-format-extension:before { content: "\f101"; }
.flaticon-3g2-open-file-format:before { content: "\f102"; }
.flaticon-3gp-file-format-symbol:before { content: "\f103"; }
.flaticon-7z-file-format-symbol:before { content: "\f104"; }
.flaticon-acc-file-format-symbol:before { content: "\f105"; }
.flaticon-ai-file-format-symbol:before { content: "\f106"; }
.flaticon-aif-file-format-symbol:before { content: "\f107"; }
.flaticon-apk-open-file-format:before { content: "\f108"; }
.flaticon-app-file-format-symbol:before { content: "\f109"; }
.flaticon-asf-file-format-symbol:before { content: "\f10a"; }
.flaticon-asp-file-format-symbol:before { content: "\f10b"; }
.flaticon-aspx-file-format-symbol:before { content: "\f10c"; }
.flaticon-asx-file-format-symbol:before { content: "\f10d"; }
.flaticon-avi-video-file-format-symbol:before { content: "\f10e"; }
.flaticon-bak-file-format-symbol:before { content: "\f10f"; }
.flaticon-bat-file-format-symbol:before { content: "\f110"; }
.flaticon-bin-open-file-format:before { content: "\f111"; }
.flaticon-bmp-open-file-format:before { content: "\f112"; }
.flaticon-cab-file-format-symbol:before { content: "\f113"; }
.flaticon-cad-file-format-symbol:before { content: "\f114"; }
.flaticon-cdr-file-format-symbol:before { content: "\f115"; }
.flaticon-certificate-file-variant:before { content: "\f116"; }
.flaticon-cfg-open-file-format:before { content: "\f117"; }
.flaticon-cfm-file-format-extension-with-close-and-open-brackets:before { content: "\f118"; }
.flaticon-cgi-file-format-symbol:before { content: "\f119"; }
.flaticon-class-open-file-format:before { content: "\f11a"; }
.flaticon-com-file-format-symbol:before { content: "\f11b"; }
.flaticon-cpl-file-format-with-cogwheels:before { content: "\f11c"; }
.flaticon-cpp-file-format-symbol:before { content: "\f11d"; }
.flaticon-crx-file-format-symbol:before { content: "\f11e"; }
.flaticon-csr-open-file-format:before { content: "\f11f"; }
.flaticon-css-file-format-with-brackets:before { content: "\f120"; }
.flaticon-csv-file-variant-with-graphs:before { content: "\f121"; }
.flaticon-cue-open-file-format:before { content: "\f122"; }
.flaticon-cur-file-format-symbol:before { content: "\f123"; }
.flaticon-dat-file-format-symbol:before { content: "\f124"; }
.flaticon-db-file-format-symbol:before { content: "\f125"; }
.flaticon-dbf-open-file-format:before { content: "\f126"; }
.flaticon-dds-file-format-variant:before { content: "\f127"; }
.flaticon-dem-file-format-symbol:before { content: "\f128"; }
.flaticon-dll-system-file-interface-symbol:before { content: "\f129"; }
.flaticon-dmg-open-file-format:before { content: "\f12a"; }
.flaticon-dmp-file-format-variant:before { content: "\f12b"; }
.flaticon-doc-file-format-symbol:before { content: "\f12c"; }
.flaticon-docx-file-variant:before { content: "\f12d"; }
.flaticon-drv-file-format-symbol:before { content: "\f12e"; }
.flaticon-dtd-file-format-with-codes:before { content: "\f12f"; }
.flaticon-dwg-open-file-format:before { content: "\f130"; }
.flaticon-dxf-file-format-symbol:before { content: "\f131"; }
.flaticon-elf-file-format-symbol:before { content: "\f132"; }
.flaticon-eps-file-format-symbol:before { content: "\f133"; }
.flaticon-eps-file-format-symbol-1:before { content: "\f134"; }
.flaticon-exe-executable-file-format-interface-symbol:before { content: "\f135"; }
.flaticon-fla-open-file-format:before { content: "\f136"; }
.flaticon-flash-open-file-format:before { content: "\f137"; }
.flaticon-flv-flash-file-extension-interface-symbol:before { content: "\f138"; }
.flaticon-fnt-open-file-format:before { content: "\f139"; }
.flaticon-fon-open-file-format:before { content: "\f13a"; }
.flaticon-gam-open-file-format:before { content: "\f13b"; }
.flaticon-gbr-open-file-format:before { content: "\f13c"; }
.flaticon-ged-open-file-format:before { content: "\f13d"; }
.flaticon-gif-image-extension:before { content: "\f13e"; }
.flaticon-gpx-open-file-format:before { content: "\f13f"; }
.flaticon-gz-file-format-symbol:before { content: "\f140"; }
.flaticon-gzip-open-file-format-with-box:before { content: "\f141"; }
.flaticon-hqz-open-file-format:before { content: "\f142"; }
.flaticon-html-open-file-format:before { content: "\f143"; }
.flaticon-ibooks-symbol:before { content: "\f144"; }
.flaticon-icns-file-format-symbol:before { content: "\f145"; }
.flaticon-ico-websites-icon-file-extension:before { content: "\f146"; }
.flaticon-ics-file-format-symbol:before { content: "\f147"; }
.flaticon-iff-file-open-file-format:before { content: "\f148"; }
.flaticon-indd-file-format-symbol:before { content: "\f149"; }
.flaticon-iso-open-file-format:before { content: "\f14a"; }
.flaticon-iso-open-file-variant:before { content: "\f14b"; }
.flaticon-jar-open-file-format:before { content: "\f14c"; }
.flaticon-jpg-compressed-image-file-extension:before { content: "\f14d"; }
.flaticon-js-file-format-symbol:before { content: "\f14e"; }
.flaticon-jsp-open-file-format-with-java-logo:before { content: "\f14f"; }
.flaticon-key-open-file-format:before { content: "\f150"; }
.flaticon-kml-open-file-format:before { content: "\f151"; }
.flaticon-kmz-file-format-symbol:before { content: "\f152"; }
.flaticon-lnk-file-variant:before { content: "\f153"; }
.flaticon-log-file-format-symbol:before { content: "\f154"; }
.flaticon-lua-file-format-symbol:before { content: "\f155"; }
.flaticon-m3u-open-file-format:before { content: "\f156"; }
.flaticon-m4a-open-file-format:before { content: "\f157"; }
.flaticon-m4v-file-format-symbol:before { content: "\f158"; }
.flaticon-mach-o-executable-file-symbol:before { content: "\f159"; }
.flaticon-max-file-format-symbol:before { content: "\f15a"; }
.flaticon-mdb-file-format-symbol:before { content: "\f15b"; }
.flaticon-mdf-file-format-symbol:before { content: "\f15c"; }
.flaticon-mid-file-format-symbol:before { content: "\f15d"; }
.flaticon-mim-open-file-format:before { content: "\f15e"; }
.flaticon-mov-file-format-symbol:before { content: "\f15f"; }
.flaticon-mp3-symbol-with-disc-and-musical-note:before { content: "\f160"; }
.flaticon-mp4-file-format-symbol:before { content: "\f161"; }
.flaticon-mpa-open-file-format:before { content: "\f162"; }
.flaticon-mpg-open-file-format:before { content: "\f163"; }
.flaticon-msg-symbol-with-envelope:before { content: "\f164"; }
.flaticon-msi-file-format-symbol:before { content: "\f165"; }
.flaticon-nes-open-file-format:before { content: "\f166"; }
.flaticon-obj-open-file-format:before { content: "\f167"; }
.flaticon-odb-file-format-symbol:before { content: "\f168"; }
.flaticon-odc-open-file-format:before { content: "\f169"; }
.flaticon-odf-file-format-symbol:before { content: "\f16a"; }
.flaticon-odg-open-file-format:before { content: "\f16b"; }
.flaticon-odi-open-file-format:before { content: "\f16c"; }
.flaticon-odp-file-format-symbol:before { content: "\f16d"; }
.flaticon-ods-file-format-symbol:before { content: "\f16e"; }
.flaticon-odt-file-format-symbol:before { content: "\f16f"; }
.flaticon-odt-open-file-variant:before { content: "\f170"; }
.flaticon-odx-open-file-format:before { content: "\f171"; }
.flaticon-ogg-audio-file-format-symbol:before { content: "\f172"; }
.flaticon-otf-file-format:before { content: "\f173"; }
.flaticon-otf-open-file-format:before { content: "\f174"; }
.flaticon-pages-symbol:before { content: "\f175"; }
.flaticon-pct-open-file-format:before { content: "\f176"; }
.flaticon-pdb-file-format-symbol:before { content: "\f177"; }
.flaticon-pdf-file-format-symbol:before { content: "\f178"; }
.flaticon-php:before { content: "\f179"; }
.flaticon-pif-open-file-format:before { content: "\f17a"; }
.flaticon-pkg-open-file-format:before { content: "\f17b"; }
.flaticon-pl-file-format-symbol:before { content: "\f17c"; }
.flaticon-png-file-format-symbol-variant:before { content: "\f17d"; }
.flaticon-pps-file-format-variant:before { content: "\f17e"; }
.flaticon-ppt-open-file-format-with-pie-chart:before { content: "\f17f"; }
.flaticon-pptx-presentation-file-extension:before { content: "\f180"; }
.flaticon-ps-file-format-variant:before { content: "\f181"; }
.flaticon-psd-open-file-format:before { content: "\f182"; }
.flaticon-pub-file-format-symbol:before { content: "\f183"; }
.flaticon-py-file-format-symbol:before { content: "\f184"; }
.flaticon-ra-file-format-symbol:before { content: "\f185"; }
.flaticon-rar-file-format-symbol:before { content: "\f186"; }
.flaticon-raw-open-file-format:before { content: "\f187"; }
.flaticon-rm-open-file-format:before { content: "\f188"; }
.flaticon-rom-file-format-symbol:before { content: "\f189"; }
.flaticon-rpm-file-format-symbol:before { content: "\f18a"; }
.flaticon-rss-feed-symbol-variant:before { content: "\f18b"; }
.flaticon-rtf-open-file-format:before { content: "\f18c"; }
.flaticon-sav-open-file-variant:before { content: "\f18d"; }
.flaticon-sdf-file-format-symbol:before { content: "\f18e"; }
.flaticon-sitx-open-file-format:before { content: "\f18f"; }
.flaticon-sql-file-format-symbol:before { content: "\f190"; }
.flaticon-sql-open-file-format:before { content: "\f191"; }
.flaticon-srt-file-format-variant:before { content: "\f192"; }
.flaticon-svg-open-file-format:before { content: "\f193"; }
.flaticon-swf-open-file-format:before { content: "\f194"; }
.flaticon-sys-file-format-variant:before { content: "\f195"; }
.flaticon-tar-open-file-format:before { content: "\f196"; }
.flaticon-tex-open-file-format:before { content: "\f197"; }
.flaticon-tga-file-format:before { content: "\f198"; }
.flaticon-thm-file-format-symbol:before { content: "\f199"; }
.flaticon-tiff-image-extension-interface-symbol:before { content: "\f19a"; }
.flaticon-tmp-file-format-symbol:before { content: "\f19b"; }
.flaticon-torrent-file-format-symbol:before { content: "\f19c"; }
.flaticon-ttf-open-file-format:before { content: "\f19d"; }
.flaticon-txt-open-file-format:before { content: "\f19e"; }
.flaticon-uue-open-file-format:before { content: "\f19f"; }
.flaticon-vb-open-file-symbol:before { content: "\f1a0"; }
.flaticon-vcd-file-format-symbol:before { content: "\f1a1"; }
.flaticon-vcf-open-file-format:before { content: "\f1a2"; }
.flaticon-vob-file-format-symbol:before { content: "\f1a3"; }
.flaticon-wav-file-format-variant:before { content: "\f1a4"; }
.flaticon-wma-open-file-format:before { content: "\f1a5"; }
.flaticon-wmv-file-format-symbol:before { content: "\f1a6"; }
.flaticon-wpd-open-file-format:before { content: "\f1a7"; }
.flaticon-wps-open-file-format:before { content: "\f1a8"; }
.flaticon-wsf-open-file-format:before { content: "\f1a9"; }
.flaticon-xhtml-open-file-format:before { content: "\f1aa"; }
.flaticon-xlr-file-format-symbol:before { content: "\f1ab"; }
.flaticon-xls-open-file-format:before { content: "\f1ac"; }
.flaticon-xlsx-file-format-symbol:before { content: "\f1ad"; }
.flaticon-xml-file-format-symbol:before { content: "\f1ae"; }
.flaticon-yuv-open-file-format:before { content: "\f1af"; }
.flaticon-zip-compressed-file-format-interface-symbol:before { content: "\f1b0"; }
    
    $font-Flaticon-3dm-file-format-extension: "\f100";
    $font-Flaticon-3ds-open-file-format-extension: "\f101";
    $font-Flaticon-3g2-open-file-format: "\f102";
    $font-Flaticon-3gp-file-format-symbol: "\f103";
    $font-Flaticon-7z-file-format-symbol: "\f104";
    $font-Flaticon-acc-file-format-symbol: "\f105";
    $font-Flaticon-ai-file-format-symbol: "\f106";
    $font-Flaticon-aif-file-format-symbol: "\f107";
    $font-Flaticon-apk-open-file-format: "\f108";
    $font-Flaticon-app-file-format-symbol: "\f109";
    $font-Flaticon-asf-file-format-symbol: "\f10a";
    $font-Flaticon-asp-file-format-symbol: "\f10b";
    $font-Flaticon-aspx-file-format-symbol: "\f10c";
    $font-Flaticon-asx-file-format-symbol: "\f10d";
    $font-Flaticon-avi-video-file-format-symbol: "\f10e";
    $font-Flaticon-bak-file-format-symbol: "\f10f";
    $font-Flaticon-bat-file-format-symbol: "\f110";
    $font-Flaticon-bin-open-file-format: "\f111";
    $font-Flaticon-bmp-open-file-format: "\f112";
    $font-Flaticon-cab-file-format-symbol: "\f113";
    $font-Flaticon-cad-file-format-symbol: "\f114";
    $font-Flaticon-cdr-file-format-symbol: "\f115";
    $font-Flaticon-certificate-file-variant: "\f116";
    $font-Flaticon-cfg-open-file-format: "\f117";
    $font-Flaticon-cfm-file-format-extension-with-close-and-open-brackets: "\f118";
    $font-Flaticon-cgi-file-format-symbol: "\f119";
    $font-Flaticon-class-open-file-format: "\f11a";
    $font-Flaticon-com-file-format-symbol: "\f11b";
    $font-Flaticon-cpl-file-format-with-cogwheels: "\f11c";
    $font-Flaticon-cpp-file-format-symbol: "\f11d";
    $font-Flaticon-crx-file-format-symbol: "\f11e";
    $font-Flaticon-csr-open-file-format: "\f11f";
    $font-Flaticon-css-file-format-with-brackets: "\f120";
    $font-Flaticon-csv-file-variant-with-graphs: "\f121";
    $font-Flaticon-cue-open-file-format: "\f122";
    $font-Flaticon-cur-file-format-symbol: "\f123";
    $font-Flaticon-dat-file-format-symbol: "\f124";
    $font-Flaticon-db-file-format-symbol: "\f125";
    $font-Flaticon-dbf-open-file-format: "\f126";
    $font-Flaticon-dds-file-format-variant: "\f127";
    $font-Flaticon-dem-file-format-symbol: "\f128";
    $font-Flaticon-dll-system-file-interface-symbol: "\f129";
    $font-Flaticon-dmg-open-file-format: "\f12a";
    $font-Flaticon-dmp-file-format-variant: "\f12b";
    $font-Flaticon-doc-file-format-symbol: "\f12c";
    $font-Flaticon-docx-file-variant: "\f12d";
    $font-Flaticon-drv-file-format-symbol: "\f12e";
    $font-Flaticon-dtd-file-format-with-codes: "\f12f";
    $font-Flaticon-dwg-open-file-format: "\f130";
    $font-Flaticon-dxf-file-format-symbol: "\f131";
    $font-Flaticon-elf-file-format-symbol: "\f132";
    $font-Flaticon-eps-file-format-symbol: "\f133";
    $font-Flaticon-eps-file-format-symbol-1: "\f134";
    $font-Flaticon-exe-executable-file-format-interface-symbol: "\f135";
    $font-Flaticon-fla-open-file-format: "\f136";
    $font-Flaticon-flash-open-file-format: "\f137";
    $font-Flaticon-flv-flash-file-extension-interface-symbol: "\f138";
    $font-Flaticon-fnt-open-file-format: "\f139";
    $font-Flaticon-fon-open-file-format: "\f13a";
    $font-Flaticon-gam-open-file-format: "\f13b";
    $font-Flaticon-gbr-open-file-format: "\f13c";
    $font-Flaticon-ged-open-file-format: "\f13d";
    $font-Flaticon-gif-image-extension: "\f13e";
    $font-Flaticon-gpx-open-file-format: "\f13f";
    $font-Flaticon-gz-file-format-symbol: "\f140";
    $font-Flaticon-gzip-open-file-format-with-box: "\f141";
    $font-Flaticon-hqz-open-file-format: "\f142";
    $font-Flaticon-html-open-file-format: "\f143";
    $font-Flaticon-ibooks-symbol: "\f144";
    $font-Flaticon-icns-file-format-symbol: "\f145";
    $font-Flaticon-ico-websites-icon-file-extension: "\f146";
    $font-Flaticon-ics-file-format-symbol: "\f147";
    $font-Flaticon-iff-file-open-file-format: "\f148";
    $font-Flaticon-indd-file-format-symbol: "\f149";
    $font-Flaticon-iso-open-file-format: "\f14a";
    $font-Flaticon-iso-open-file-variant: "\f14b";
    $font-Flaticon-jar-open-file-format: "\f14c";
    $font-Flaticon-jpg-compressed-image-file-extension: "\f14d";
    $font-Flaticon-js-file-format-symbol: "\f14e";
    $font-Flaticon-jsp-open-file-format-with-java-logo: "\f14f";
    $font-Flaticon-key-open-file-format: "\f150";
    $font-Flaticon-kml-open-file-format: "\f151";
    $font-Flaticon-kmz-file-format-symbol: "\f152";
    $font-Flaticon-lnk-file-variant: "\f153";
    $font-Flaticon-log-file-format-symbol: "\f154";
    $font-Flaticon-lua-file-format-symbol: "\f155";
    $font-Flaticon-m3u-open-file-format: "\f156";
    $font-Flaticon-m4a-open-file-format: "\f157";
    $font-Flaticon-m4v-file-format-symbol: "\f158";
    $font-Flaticon-mach-o-executable-file-symbol: "\f159";
    $font-Flaticon-max-file-format-symbol: "\f15a";
    $font-Flaticon-mdb-file-format-symbol: "\f15b";
    $font-Flaticon-mdf-file-format-symbol: "\f15c";
    $font-Flaticon-mid-file-format-symbol: "\f15d";
    $font-Flaticon-mim-open-file-format: "\f15e";
    $font-Flaticon-mov-file-format-symbol: "\f15f";
    $font-Flaticon-mp3-symbol-with-disc-and-musical-note: "\f160";
    $font-Flaticon-mp4-file-format-symbol: "\f161";
    $font-Flaticon-mpa-open-file-format: "\f162";
    $font-Flaticon-mpg-open-file-format: "\f163";
    $font-Flaticon-msg-symbol-with-envelope: "\f164";
    $font-Flaticon-msi-file-format-symbol: "\f165";
    $font-Flaticon-nes-open-file-format: "\f166";
    $font-Flaticon-obj-open-file-format: "\f167";
    $font-Flaticon-odb-file-format-symbol: "\f168";
    $font-Flaticon-odc-open-file-format: "\f169";
    $font-Flaticon-odf-file-format-symbol: "\f16a";
    $font-Flaticon-odg-open-file-format: "\f16b";
    $font-Flaticon-odi-open-file-format: "\f16c";
    $font-Flaticon-odp-file-format-symbol: "\f16d";
    $font-Flaticon-ods-file-format-symbol: "\f16e";
    $font-Flaticon-odt-file-format-symbol: "\f16f";
    $font-Flaticon-odt-open-file-variant: "\f170";
    $font-Flaticon-odx-open-file-format: "\f171";
    $font-Flaticon-ogg-audio-file-format-symbol: "\f172";
    $font-Flaticon-otf-file-format: "\f173";
    $font-Flaticon-otf-open-file-format: "\f174";
    $font-Flaticon-pages-symbol: "\f175";
    $font-Flaticon-pct-open-file-format: "\f176";
    $font-Flaticon-pdb-file-format-symbol: "\f177";
    $font-Flaticon-pdf-file-format-symbol: "\f178";
    $font-Flaticon-php: "\f179";
    $font-Flaticon-pif-open-file-format: "\f17a";
    $font-Flaticon-pkg-open-file-format: "\f17b";
    $font-Flaticon-pl-file-format-symbol: "\f17c";
    $font-Flaticon-png-file-format-symbol-variant: "\f17d";
    $font-Flaticon-pps-file-format-variant: "\f17e";
    $font-Flaticon-ppt-open-file-format-with-pie-chart: "\f17f";
    $font-Flaticon-pptx-presentation-file-extension: "\f180";
    $font-Flaticon-ps-file-format-variant: "\f181";
    $font-Flaticon-psd-open-file-format: "\f182";
    $font-Flaticon-pub-file-format-symbol: "\f183";
    $font-Flaticon-py-file-format-symbol: "\f184";
    $font-Flaticon-ra-file-format-symbol: "\f185";
    $font-Flaticon-rar-file-format-symbol: "\f186";
    $font-Flaticon-raw-open-file-format: "\f187";
    $font-Flaticon-rm-open-file-format: "\f188";
    $font-Flaticon-rom-file-format-symbol: "\f189";
    $font-Flaticon-rpm-file-format-symbol: "\f18a";
    $font-Flaticon-rss-feed-symbol-variant: "\f18b";
    $font-Flaticon-rtf-open-file-format: "\f18c";
    $font-Flaticon-sav-open-file-variant: "\f18d";
    $font-Flaticon-sdf-file-format-symbol: "\f18e";
    $font-Flaticon-sitx-open-file-format: "\f18f";
    $font-Flaticon-sql-file-format-symbol: "\f190";
    $font-Flaticon-sql-open-file-format: "\f191";
    $font-Flaticon-srt-file-format-variant: "\f192";
    $font-Flaticon-svg-open-file-format: "\f193";
    $font-Flaticon-swf-open-file-format: "\f194";
    $font-Flaticon-sys-file-format-variant: "\f195";
    $font-Flaticon-tar-open-file-format: "\f196";
    $font-Flaticon-tex-open-file-format: "\f197";
    $font-Flaticon-tga-file-format: "\f198";
    $font-Flaticon-thm-file-format-symbol: "\f199";
    $font-Flaticon-tiff-image-extension-interface-symbol: "\f19a";
    $font-Flaticon-tmp-file-format-symbol: "\f19b";
    $font-Flaticon-torrent-file-format-symbol: "\f19c";
    $font-Flaticon-ttf-open-file-format: "\f19d";
    $font-Flaticon-txt-open-file-format: "\f19e";
    $font-Flaticon-uue-open-file-format: "\f19f";
    $font-Flaticon-vb-open-file-symbol: "\f1a0";
    $font-Flaticon-vcd-file-format-symbol: "\f1a1";
    $font-Flaticon-vcf-open-file-format: "\f1a2";
    $font-Flaticon-vob-file-format-symbol: "\f1a3";
    $font-Flaticon-wav-file-format-variant: "\f1a4";
    $font-Flaticon-wma-open-file-format: "\f1a5";
    $font-Flaticon-wmv-file-format-symbol: "\f1a6";
    $font-Flaticon-wpd-open-file-format: "\f1a7";
    $font-Flaticon-wps-open-file-format: "\f1a8";
    $font-Flaticon-wsf-open-file-format: "\f1a9";
    $font-Flaticon-xhtml-open-file-format: "\f1aa";
    $font-Flaticon-xlr-file-format-symbol: "\f1ab";
    $font-Flaticon-xls-open-file-format: "\f1ac";
    $font-Flaticon-xlsx-file-format-symbol: "\f1ad";
    $font-Flaticon-xml-file-format-symbol: "\f1ae";
    $font-Flaticon-yuv-open-file-format: "\f1af";
    $font-Flaticon-zip-compressed-file-format-interface-symbol: "\f1b0";