<md-dialog aria-label="Clearance Interactive Form" class="md-form fullscreen-dialog">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>{% templatetag openvariable %}title{% templatetag closevariable %}</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="cancel()">
                <md-tooltip direction="bottom">Close Dialog</md-tooltip>
                <i class="material-icons">close</i>
            </md-button>
        </div>
    </md-toolbar>
    <div class="college-picker">
        <md-select placeholder="Select College" ng-model="college" md-on-open="loadCollege()" ng-change="onChange()"
                   style="min-width: 200px;">
            <md-option ng-value="c"
                       ng-repeat="c in colleges">{% templatetag openvariable %}c.description{% templatetag closevariable %}</md-option>
        </md-select>
    </div>
    <md-dialog-content>
        <md-tabs md-dynamic-height flex>
            <md-tab label="Create">
                <md-content ng-hide="loaded_data" layout="row" layout-sm="column" flex>
                    <div ng-repeat="list in lists" class="liab-box-wrapper" flex layout-fill layout-wrap>
            <div class="panel-heading">
                <h4 class="panel-title">List
                    of {% templatetag openvariable %}list.label{% templatetag closevariable %}</h4>
            </div>
            <div class="panel-body">
                <div layout="column"
                     dnd-list="list.liabilities">
                    <md-list>
                        <md-list-item
                                class="md-3-line liab-card {% templatetag openvariable %}list.type{% templatetag closevariable %}"
                                ng-repeat="cdt in list.liabilities" dnd-draggable="cdt"
                                dnd-moved="list.liabilities.splice($index, 1)" flex>
                            <div layout="row" class="lst-wrapper">
                                <div class="handle">
                                    <i dnd-handle class="material-icons">drag_handle</i>
                                </div>
                                <div class="md-list-item-text">
                                    <dnd-nodrag>
                                        <h3 class="nc">{% templatetag openvariable %}cdt.name{% templatetag closevariable %}</h3>
                                        <h3 class="nc">{% templatetag openvariable %}cdt.abbreviation{% templatetag closevariable %}</h3>
                                    </dnd-nodrag>
                                </div>
                                <md-button class="md-secondary tgh" ng-click="cdt.collapsed = !cdt.collapsed">View
                                    Details
                                </md-button>
                            </div>
                            <div ng-class="{'ng-hide' : !cdt.collapsed, 'tog' : cdt.collapsed }" layout="row">
                                <div class="md-list-item-text tg" layout="column">
                                    <h3 class="nc">{% templatetag openvariable %}cdt.signatories["0"][1][1]{% templatetag closevariable %}</h3>
                                    <h3 class="nc">{% templatetag openvariable %}cdt.signatories["0"][2][1]{% templatetag closevariable %}</h3>
                                </div>
                                <md-button class="md-icon-button tgh" ng-click="cdt.collapsed = !cdt.collapsed">
                                    <i class="material-icons">clear</i>
                                </md-button>
                            </div>
                            <md-divider ng-if="!$last"></md-divider>
                        </md-list-item>
                    </md-list>
                    <md-list flex>
                        <md-list-item layout="row" layout-align="center center">
                            <div class="md-list-item-text" layout="column">

                            </div>
                        </md-list-item>
                    </md-list>

                </div>
                <section layout="row" layout-align="space-around start" layout-wrap layout-fill>
                    <div class="dndPlaceholder">
                        Drop any <strong>{% templatetag openvariable %}list.allowedTypes.join(' or
                        '){% templatetag closevariable %}</strong> here
                    </div>
                </section>
            </div>
            </div>
                </md-content>
            </md-tab>
            <md-tab label="Save" ng-disabled="toggler">
                <md-content layout-gt-sm="row" layout-padding>
                    <div>
                        <h2>Clearance for <span ng-bind="college.description"></span></h2>
                        <input type='hidden' value="{{ csrf }}" ng-init="form.csrfmiddlewaretoken='{{ csrf }}'">
                        <input class="ng-hide" name="semester_id" ng-model="form.semester_id">
                        <input class="ng-hide" name="semester_id" ng-model="form.college_id">
                        <input class="ng-hide" name="signatory_list" ng-model="form.signatory_list">
                        <input class="ng-hide" name="liability_list" ng-model="form.liability_list">
                        <div layout="row" layout-xs="column">
                            <md-input-container>
                                <label>Clearance Name</label>
                                <input name="name" ng-model="form.name">
                            </md-input-container>
                            <md-input-container>
                                <label>Semester</label>
                                <md-select class="sem-selection" placeholder="Select Semester" ng-model="sems"
                                           class="select-semester">
                                    <md-option
                                            ng-value="{% templatetag openvariable %}s.id{% templatetag closevariable %}"
                                            ng-repeat="s in sem">{% templatetag openvariable %}s.name{% templatetag closevariable %}</md-option>
                                </md-select>
                            </md-input-container>
                        </div>
                        <md-button class="md-primary md-raised" ng-click="save()">Save</md-button>
                    </div>
                </md-content>
            </md-tab>
        </md-tabs>
    </md-dialog-content>
</md-dialog>
