{% extends 'base.html' %}
{% load indexer %}
{% load humanize %}
{% block title %}Search Results for {{ data.title }}{% endblock %}
{% block content %}
    <a href="{% url 'core:home' %}" title="Home">Home</a>
    <hr>
    <h2>Search results</h2>
    <form method="get" action="{{ data.action }}">
        {{ data.search.as_p }}
        <button type="submit">Search</button>
    </form>
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    {% if data.results.count > 0 %}
        <p>{{ data.results.count }} result{% if data.results.count != 1 %}s{% endif %} found.</p>
    {% elif data.rls_count %}
        <p>{{ data.rls_count }} result{% if data.rls_count != 1 %}s{% endif %} found.</p>
    {% elif data.results.s_count %}
        <p>{{ data.results.s_count }} result{% if data.results.s_count != 1 %}s{% endif %} found.</p>
    {% else %}
        <p>Found Nothing</p>
    {% endif %}
    <hr>
    {% if data.has_results %}
        {% for s in data.results %}
            {% if data.referer == 'client' %}
                <p>{{ s.user.number }} - {{ s.full_name }} - {{ s.type }} -
                {% if s.user_type == 'Student' %}
                    {{ s.userstudent.course }} - {{ s.userstudent.year_level }} - {{ s.userstudent.course.college }} -
                {% elif s.user_type == 'Signatory' %}
                    {{ s.usersignatory.signatory }} - {{ s.usersignatory.signatory.office }} -
                {% endif %}
                {% if s.user.is_active %}
                    Active -
                    <a href="{% url 'clients:deactivate_user' username=s.number %}"
                       title="Deactivate {{ s.full_name }}">Deactivate</a> -
                {% else %}
                    Inactive -
                    <a href="{% url 'clients:activate_user' username=s.number %}" title="Activate {{ s.full_name }}">Activate</a>
                    -
                {% endif %}
                <a href="{% url 'clients:edit_user' username=s.number %}" title="Edit {{ s.full_name }}">Edit</a> -
                <a href="{% url 'clients:delete_user' username=s.number %}" title="Delete {{ s.full_name }}">Delete</a>
                </p>
            {% elif data.referer == 'college' %}
                {{ s.college }} - {{ s.description }} -
                <a href="{% url 'college:edit' college=s.college %}" title="Edit {{ s.college }}">Edit</a> -
                <a href="{% url 'college:delete' college=s.college %}" title="Delete {{ s.college }}">Delete</a>
            {% elif data.referer == 'course' %}
                {{ s.course }} - {{ s.description }} - {{ s.college }}
                <a href="{% url 'course:edit' course=s.course %}" title="Edit {{ s.course }}">Edit</a> -
                <a href="{% url 'course:delete' course=s.course %}" title="Delete {{ s.course }}">Delete</a>
            {% elif data.referer == 'liability' %}
                {{ s.liability }} - {{ s.description }} - {{ s.signatory }} - {{ s.course }} - {{ s.sys }}
                <a href="{% url 'liability:edit' liability=s.liability %}"
                   title="Edit {{ s.liability }}">Edit</a> -
                <a href="{% url 'liability:delete' liability=s.liability %}" title="Delete {{ s.liability }}">Delete</a>
            {% elif data.referer == 'office' %}
                {{ s.office }} - {{ s.description }} - {{ s.college }}
                <a href="{% url 'office:edit' office=s.office %}"
                   title="Edit {{ s.office }}">Edit</a> -
                <a href="{% url 'office:delete' office=s.office %}" title="Delete {{ s.office }}">Delete</a>
            {% elif data.referer == 'receipt' %}
                {{ s.receipt }} - {{ s.number }} - {{ s.remarks }} -
                {% if s.is_cleared %} Cleared {% else %} Not Cleared {% endif %}
                - {{ s.received_by }} - {{ s.received_date }} - {{ s.liability }}
                <a href="{% url 'receipt:export_receipt' receipt=s.receipt sys_id=s.liability.sys %}"
                   title="Export {{ s.receipt }}">Export</a>
            {% elif data.referer == 'semester' %}
                S.Y.20{{ s.school_year|split_start:2 }}-20{{ s.school_year|split_end:2 }} {{ s.semester|ordinal }}
                Semester -
                {% if s.active == None or s.active == False %}Inactive -
                    <a href="{% url 'semester:activate_semester' sem=s.sys %}">Activate</a>
                {% else %}
                    Active <a href="{% url 'semester:deactivate_semester' sem=s.sys %}">Deactivate</a>
                {% endif %}
                - <a href="{% url 'semester:delete_semester' sem=s.sys %}">Delete</a>
                - <a href="{% url 'semester:edit_semester' sem=s.sys %}">Edit</a>
            {% elif data.referer == 'signatory' %}
                {{ s.signatory }} - {{ s.details }} - {{ s.office }} -
                <a href="{% url 'signatory:edit' signatory=s.signatory %}"
                   title="Edit {{ s.signatory }}">Edit</a> -
                <a href="{% url 'signatory:delete' signatory=s.signatory %}" title="Delete {{ s.signatory }}">Delete</a>
            {% elif data.referer == 'core' %}
                {{ s.type }}
                {% if s.type == 'liability' %}
                    - {{ s.liability.id }} - {{ s.liability.description }} - {{ s.liability.semester }} <br/>
                {% elif s.type == 'signatory' %}
                    - {{ s.signatory.id }} - {{ s.signatory.description }} - {{ s.signatory.office }} -
                    {{ s.signatory.assignee }} <br/>
                {% elif s.type == 'receipt' %}
                    {% if s.receipt.id|validate_receipt %} Valid Signature {% else %} Invalid
                        Signature
                    {% endif %}
                    - {{ s.receipt.id }} - {{ s.receipt.number }} - {{ s.receipt.liability }} - {{ s.receipt.cleared }}
                    - {{ s.receipt.remarks }} - {{ s.receipt.received_by }} - {{ s.receipt.received_date }} <br/>
                {% endif %}
            {% endif %}
        {% endfor %}
        {% if data.referer == 'signatory_student' %}
            {% if data.results.clients.fresh.exists %}
                {% for f in data.results.clients.fresh %}
                    <p>{{ f.number }} - {{ f.first_name }} - {{ f.last_name }} - No Liability Issued</p>
                {% endfor %}
            {% endif %}
            {% if data.results.clients.issued.exists %}
                {% for f in data.results.clients.issued %}
                    <p>{{ f.number }} - {{ f.first_name }} - {{ f.last_name }} -
                        {% for l1 in f.receipt_set.all %}{{ l1.receipt }} - {{ l1.amount }}{% endfor %}</p>
                {% endfor %}
            {% endif %}
            {% if data.results.clients.requesting.exists %}
                {% for f in data.results.clients.requesting %}
                    <p>{{ f.number }} - {{ f.first_name }} - {{ f.last_name }} -
                    <form id="{{ f.number }}" action="{% url 'core:sign_request' %}" method="post">
                        {% csrf_token %}
                        {% for l1 in f.receipt_set.all %}{{ l1.receipt }} - {{ l1.amount }} - {{ l1.is_requested }}
                            <input type="hidden" name="signatory_id" value="{{ user.signatory_id }}">
                            <input type="hidden" name="liability_id" value="{{ l1.liability }}">
                            <input type="hidden" name="number_id" value="{{ f.number }}">
                            <input type="hidden" name="receipt_id" value="{{ l1.receipt }}">
                        {% endfor %}
                        <a onclick="document.getElementById('{{ f.number }}').submit();"
                           style="cursor: pointer">Sign</a>
                    </form>
                    </p>
                {% endfor %}
            {% endif %}
            {% if data.results.clients.signed.exists %}
                {% for f in data.results.clients.signed %}
                    <p>{{ f.number }} - {{ f.first_name }} - {{ f.last_name }} -
                        {% for l1 in f.receipt_set.all %}{{ l1.receipt }} - {{ l1.amount }} - {{ l1.is_cleared }} -
                            {% if l1.receipt|validate_receipt %} Valid Signature {% else %} Invalid
                                Signature
                            {% endif %}
                        {% endfor %}
                    </p>
                {% endfor %}
            {% endif %}
            {% if not data.results.clients.fresh.exists and not data.results.clients.issued.exists and not data.results.clients.requesting.exist and not data.results.clients.signed.exists %}
                <p>No Student Found</p>
                <i>Tip: You can Search by Student ID Number, Name, Email, Course</i>
            {% endif %}
        {% endif %}
    {% endif %}
{% endblock %}