{% load indexer %}
<md-dialog aria-label=" Form" class="md-form">
    <form method="post" ng-submit="submit(t)" ng-cloak>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>{% templatetag openvariable %}title{% templatetag closevariable %}</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-tooltip direction="bottom">Close Dialog</md-tooltip>
                    <i class="material-icons">close</i>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            {% autoescape off %}
                <div class="md-dialog-content" layout="column">
                    <div ng-bind-html="server_errors"></div>
                    <input type='hidden' value="{{ csrf }}" ng-init="form.csrfmiddlewaretoken='{{ csrf }}'"
                           ng-model="form.csrfmiddlewaretoken"/>
                    {% if not pure_file %}
                        {% for field in form %}
                            <md-input-container>
                                {{ field.errors }}
                                {{ field.label_tag }}{{ field | angular_tags }}
                            </md-input-container>
                        {% endfor %}
                    {% else %}
                        {% for field in form %}
                            {{ field.label_tag }}{{ field.errors }}{{ field | angular_tags }}
                        {% endfor %}
                        <div layout="column" layout-align="center center" class="thumb-wrapper">
                            <img ng{{ '-' }}show="form.{{ field_name }}[0] != null" ngf-src="form.{{ field_name }}[0]"
                                 class="thumb">
                            <img ng{{ '-' }}show="form.{{ field_name }}[0] == null"
                                 ng-src="{% templatetag openvariable %}profile{% templatetag closevariable %}"
                                 class="thumb">
                        </div>
                    {% endif %}
                </div>
            {% endautoescape %}
        </md-dialog-content>
        <md-dialog-actions layout="row" md-padding>
            <md-button type="submit" name="{{ referer }}" class="md-raised md-primary">
                {% templatetag openvariable %}submit_name{% templatetag closevariable %}
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>