{% load indexer %}
<md-dialog aria-label=" Form" class="md-form">
    <form method="post" ng-submit="submit(t)" ng-cloak>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>{% templatetag openvariable %}title{% templatetag closevariable %}</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-tooltip direction="bottom">Close Dialog</md-tooltip>
                    <i class="material-icons">close</i>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            {% autoescape off %}
                <div class="md-dialog-content" layout="column">
                    <div ng-bind-html="server_errors"></div>
                    <input type='hidden' value="{{ csrf }}" ng-init="form.csrfmiddlewaretoken='{{ csrf }}'"
                           ng-model="form.csrfmiddlewaretoken"/>
                    {% for field in form %}
                        <md-input-container>
                            {{ field.errors }}
                            {{ field.label_tag }}{{ field | angular_tags }}
                        </md-input-container>
                    {% endfor %}
                </div>
            {% endautoescape %}
        </md-dialog-content>
        <md-dialog-actions layout="row" md-padding>
            <md-button type="submit" name="{{ referer }}" class="md-raised md-primary">
                {% templatetag openvariable %}submit_name{% templatetag closevariable %}
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>

