<section layout="row" layout-align="space-around start" class="report-dashboard" layout-wrap layout-fill>
    <md-card class="ad-tile" ng-repeat="l in privilege_list" ng-click="open(l, $event)">
        <img ng-src="{% templatetag openvariable %}l.src{% templatetag closevariable %}" class="md-card-image"
             alt="{% templatetag openvariable %}l.name{% templatetag closevariable %}">
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline">{% templatetag openvariable %}l.name{% templatetag closevariable %}</span>
            </md-card-title-text>
        </md-card-title>
        <md-card-content>
            <p>{% templatetag openvariable %}l.description{% templatetag closevariable %}</p>
        </md-card-content>
        <md-card-actions layout="row" layout-align="end center" ng-repeat="i in l.href">
            <md-button
                    ng-href="{% templatetag openvariable %}i.href{% templatetag closevariable %}">{% templatetag openvariable %}i.name{% templatetag closevariable %}</md-button>
        </md-card-actions>
    </md-card>
</section>