{% extends 'base.html' %}
{% load indexer %}
{% load humanize %}
{% block title %}Add New Liability{% endblock %}
{% block content %}
    <a href="{% url 'core:home' %}" title="Home">Home</a>
    <hr>
    <h2>Issue Liability</h2>
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <hr>
    <p>Signatory ID: <b>{{ data.signatory.id }}</b></p>
    <p>College: <b>{{ data.signatory.college }}</b></p>
    <p>Office: <b>{{ data.signatory.office }}</b></p>
    <p>Semester: <b>{{ data.school.semester }}</b></p>
    <hr>
    <fieldset>
        {% for i in data.school.college.course_list %}
            <p><a href="{% url 'receipt:issue_filter' course=i.course %}" title="{{ i.course }}">{{ i.course }}</a></p>
        {% endfor %}
    </fieldset>

    {% if data.clients.filtered.bool %}
        <p>Students Filtered by Course: {{ clients.filtered.query }}</p>
        <ul>
            <li>Available Liabilities</li>
            <li>
                <ul>
                    {% for i in data.signatory.liabilities %}
                        <li>{{ i.liability }} - {{ i.description }} - {{ i.course }} :
                            {% if data.clients.fresh.exists %}
                                <form action="{% url 'receipt:issue_receipt' %}" method="post">
                                    {% csrf_token %}
                                    <button type="submit" name="all" value="{{ i.liability }}"> Issue to
                                        all {{ i.course }} Student{% if data.clients.fresh.count > 1 %}
                                            s{% endif %}</button>
                                </form>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            </li>
        </ul>
    {% else %}
        <p>Showing all students without liability issued</p>
    {% endif %}
    <hr>
    {% if data.clients.fresh.exists %}
        <form action="{% url 'receipt:issue_receipt' %}" method="post">
            {% csrf_token %}
            {% for f in data.clients.fresh %}
                <li>{{ f.number }} - {{ f.first_name }} - {{ f.last_name }} - {{ f.userstudent.course_id }} -
                    {% for i in data.signatory.liabilities %}
                        {% if f.userstudent.course_id|compare:i.course %}
                            <button type="submit" name="selected" value="{{ f.number }}-{{ i.liability }}">
                                Issue {{ i.liability }}</button>
                        {% endif %}
                    {% endfor %}
                </li>
            {% endfor %}
        </form>
    {% else %}
        <li>No Students Found without Liabilities</li>
    {% endif %}
{% endblock %}