{% extends 'base.html' %}
{% load indexer %}
{% load humanize %}
{% block title %}Add New Liability{% endblock %}
{% block content %}
    <a href="{% url 'core:home' %}" title="Home">Home</a>
    <hr>
    <h2>Add Liability</h2>
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <form method="post">
        {% csrf_token %}
        {{ liability_form.as_p }}
        <p>
            <select name="signatory" id="signatory">
                {% for val in context.signatory %}
                    <option value="{{ val.signatory }}">{{ val.signatory }}</option>
                {% endfor %}
            </select>
            <label for="signatory">Select Signatory</label>
        </p>
        <p>
            <select name="semester" id="semester">
                {% for val in context.semester %}
                    <option value="{{ val.semester }}{{ val.school_year }}">
                        S.Y.20{{ val.school_year|split_start:2 }}-20{{ val.school_year|split_end:2 }} {{ val.semester|ordinal }}
                        Semester
                    </option>
                {% endfor %}
            </select>
            <label for="semester">Select Semester</label>
        </p>
        {% for val in context.course %}
            <input id="{{ val.course }}" value="{{ val.course }}" name="{{ val.course }}" type="checkbox">
            <label for="{{ val.course }}">{{ val.course }}</label>
        {% endfor %}
        <button type="submit">Add Liability</button>
    </form>
{% endblock %}