    <md-toolbar class="float-toolbar">
      <div class="md-toolbar-tools">
        <md-button ng-hide="menu_button" class="md-icon-button md-button md-ink-ripple"
                       ng-click="go_back()"
                       aria-label="Go back">
                <i class="material-icons">arrow_back</i>
        </md-button>
        <h2 flex ng-class="{'ng-hide': search_panel}" class="ng-hide-mod message-header" md-truncate>{% templatetag openvariable %}recipient_name{% templatetag closevariable %}</h2>
        <div flex class="ng-hide-mod floating-search-box" ng-class="{'ng-hide': !search_panel}">
            <div flex class="floating-search-box-wrap">
                <input type="text" placeholder="Search Conversation" ng-model="search_convo">
            </div>
        </div>
        <md-button ng-class="{'ng-hide': !search_panel}" class="ng-hide-mod md-icon-button" aria-label="Search Messages" ng-click="search_panel = !search_panel">
            <md-tooltip md-direction="bottom">
                Close
            </md-tooltip>
            <i class="material-icons">cancel</i>
        </md-button>
        <md-button ng-class="{'ng-hide': search_panel}" class="ng-hide-mod md-icon-button" aria-label="Search Messages" ng-click="search_panel = !search_panel">
            <md-tooltip md-direction="bottom">
                Search Messages
            </md-tooltip>
            <i class="material-icons">search</i>
        </md-button>
        <md-menu>
            <md-button aria-label="Open menu" ng-click="$mdMenu.open($event)" ng-class="{'ng-hide': search_panel}" class="ng-hide-mod md-icon-button">
                <i class="material-icons">more_vert</i>
            </md-button>
            <md-menu-content width="4">
                <md-menu-item class="ng-hide">
                    <md-button ng-click="convo_delete()" layout="row" layout-align="start center"
                               class="nav-menu-item md-button md-ink-ripple"
                               role="menuitem">
                        <i class="material-icons">delete</i>
                        <span>Delete Conversation</span>
                    </md-button>
                </md-menu-item>
                <md-menu-item>
                    <md-button ng-click="convo_info()" layout="row" layout-align="start center"
                               class="nav-menu-item md-button md-ink-ripple"
                               role="menuitem">
                        <i class="material-icons">info</i>
                        <span>Info</span>
                    </md-button>
                </md-menu-item>
            </md-menu-content>
        </md-menu>
      </div>
    </md-toolbar>
    <md-progress-linear class="floating-progress" ng-hide="chat_box" md-mode="indeterminate"></md-progress-linear>
    <md-progress-linear class="floating-progress" ng-show="chat_progress" md-mode="indeterminate"></md-progress-linear>
    <md-content class="chat noselect"
                ng-class="{'layout-row':chat_list==undefined || chat_list<1, 'layout-align-center-center':chat_list==undefined || chat_list<1, 'opac':!chat_box}">
        <md-virtual-repeat-container id="vertical-container" ng-scroll-bottom="chat_list"
                                     exec-on-scroll-to-top="load_old">
            <div md-virtual-repeat="c in chat_list | filter:search_convo" style="height: 100px;" class="repeated-item"
                 ng-class="{'ng-hide':chat_list==undefined || chat_list<1, 'hackme':c!=undefined}">
            <div class="msg-time-divider" ng-show="c.is_first==1">
                <span>{% templatetag openvariable %}c.created | date:"fullDate"{% templatetag closevariable %}</span>
            </div>
            <div class="message-wrapper" ng-class="{me:c.placeholder.from == 'me', them:c.placeholder.from == 'them'}">
              <div class="circle-wrapper">
                  <img class="circle-wrapper animated bounceIn"
                       ng-src="{% templatetag openvariable %}chat_head(c.placeholder.from){% templatetag closevariable %}">
                  <md-tooltip direction="left">{% templatetag openvariable %}c.placeholder.user{% templatetag closevariable %}</md-tooltip>
              </div>
              <div class="text-wrapper animated fadeIn pressable-element" ng-click="action($event, c)" tabindex="none">
                  <span>{% templatetag openvariable %}c.body{% templatetag closevariable %}</span>
                  <p class="msg-body-time" ng-hide="(c.created | amTimeAgo) == 'a day ago'">{% templatetag openvariable %}c.created | amTimeAgo{% templatetag closevariable %}</p>
                  <p class="msg-body-time" ng-show="(c.created | amTimeAgo) == 'a day ago'">{% templatetag openvariable %}c.created | amCalendar{% templatetag closevariable %}</p>
              </div>
                <div class="attach-wrapper text-wrapper animated fadeIn pressable-element"
                     ng-click="action_file($event, c)"
                     ng-class="{'img-src':c.attachment.ext == 'jpg' || c.attachment.ext == 'png' || c.attachment.ext == 'gif' || c.attachment.ext == 'svg'}"
                     tabindex="none" ng-show="c.attachment">
                    <img ng-show="c.attachment.ext == 'jpg' || c.attachment.ext == 'png' || c.attachment.ext == 'gif' || c.attachment.ext == 'svg'"
                         class="image-attachment thumbnail ft-{% templatetag openvariable %}c.attachment.ext{% templatetag closevariable %}"
                         ng-src="{% templatetag openvariable %}files_base_url{% templatetag closevariable %}{% templatetag openvariable %}c.attachment.blob_url{% templatetag closevariable %}">
                  <div layout="column" layout-align="center center">
                      <span class="thumbnail ft-{% templatetag openvariable %}c.attachment.ext{% templatetag closevariable %}"></span>
                      <span class="t">{% templatetag openvariable %}c.attachment.name{% templatetag closevariable %}</span>
                      <span class="t">{% templatetag openvariable %}bth(c.attachment.size){% templatetag closevariable %}</span>
                  </div>
                  <p class="msg-body-time" ng-hide="(c.created | amTimeAgo) == 'a day ago'">{% templatetag openvariable %}c.created | amTimeAgo{% templatetag closevariable %}</p>
                  <p class="msg-body-time" ng-show="(c.created | amTimeAgo) == 'a day ago'">{% templatetag openvariable %}c.created | amCalendar{% templatetag closevariable %}</p>
              </div>
            </div>
        </div>
        </md-virtual-repeat-container>
    </md-content>
    <div class="chat-footer">
        <form ng-submit="reply()">
            <input type='hidden' name="csrfmiddlewaretoken" ng-model="csrfmiddlewaretoken"
                   ng-init="csrfmiddlewaretoken='test'"/>
            <md-input-container class="message-body-wrapper">
            <label class="message-classic-label noselect">Write a message</label>
                <textarea class="message-body" ng-model="body" max-rows="10"></textarea>
            </md-input-container>
            <div class="message-buttons" layout="row" layout-align="end center" flex>
                <span ng-bind="nmc.attachment['0'].name"></span>
                <input class="ng-hide" type="file" id="fileSelector" ng-model="attachment" ngf-select="">
                <md-button class="md-icon-button" ng-click="add_attachment()">
                    <md-tooltip md-direction="top">Attach File</md-tooltip>
                    <i class="material-icons">attachment</i>
                </md-button>
                <md-button type="submit" class="md-icon-button md-raised" ng-class="{message_send_active:body.length>0}"
                           ng-disabled="body.length<1 || body === undefined">
                    <md-tooltip md-direction="top">Send Message</md-tooltip>
                    <i class="material-icons">send</i>
                </md-button>
            </div>
        </form>
    </div>
