<section class="message-list">
        <md-toolbar class="float-toolbar">
      <div class="md-toolbar-tools">
        <md-button  hide-md hide-lg ng-hide="menu_button" class=" md-icon-button md-button md-ink-ripple"
                       ng-click="toggleLeft()"
                       aria-label="Menu">
                <i class="material-icons">menu</i>
        </md-button>
        <h2 flex  hide-md hide-lg class="ng-hide-mod" ng-class="{'ng-hide': search_panel}" md-truncate>My Messages</h2>
        <div flex class="ng-hide-mod floating-search-box" ng-class="{'ng-hide': !search_panel}">
            <div flex class="floating-search-box-wrap">
                <input type="text" placeholder="Search Messages" ng-model="search_msg">
            </div>
        </div>
        <md-button ng-class="{'ng-hide': !search_panel}" class="ng-hide-mod md-icon-button" aria-label="Search Messages" ng-click="search_panel = !search_panel">
            <md-tooltip md-direction="bottom">
                Close
            </md-tooltip>
            <i class="material-icons">cancel</i>
        </md-button>
        <md-button ng-class="{'ng-hide': search_panel}" class="ng-hide-mod md-icon-button" aria-label="Search Messages" ng-click="search_panel = !search_panel">
            <md-tooltip md-direction="bottom">
                Search Messages
            </md-tooltip>
            <i class="material-icons">search</i>
        </md-button>
        <md-button ng-class="{'ng-hide': search_panel}" class="ng-hide-mod md-icon-button" aria-label="Write new Message" ng-click="new_message($event)">
            <md-tooltip md-direction="bottom">
                Write new Message
            </md-tooltip>
          <i class="material-icons">create</i>
        </md-button>
      </div>
    </md-toolbar>
    <md-content ng-class="{'layout-row':messages.length<1, 'layout-align-center-center':messages<1, 'empty':messages<1}">
        <md-list ng-hide="messages<1">
            <md-virtual-repeat-container id="vertical-container">
                <md-list-item class="md-3-line"  md-virtual-repeat="message in messages | filter:search_msg" on-long-press="itemOnLongPress(message)" on-touch-end="itemOnTouchEnd(message)"
                          ng-href="#/inbox/chat/{% templatetag openvariable %}message.msg_id{% templatetag closevariable %}">
                <img ng-src="{% templatetag openvariable %}message.placeholder.profile{% templatetag closevariable %}"
                     class="md-avatar"
                     alt="{% templatetag openvariable %}message.placeholder.name{% templatetag closevariable %}">
                <div class="md-list-item-text">
                    <h3>
                        {% templatetag openvariable %}message.placeholder.name{% templatetag closevariable %}
                        <span ng-if="message.attachment==true" class="attachment-fav">
                            <md-tooltip md-direction="right">
                                Has attachment
                            </md-tooltip>
                            <i class="material-icons">attachment</i>
                        </span>
                    </h3>
                    <p class="md-truncate">
                        {% templatetag openvariable %}message.placeholder.from{% templatetag closevariable %}:
                        {% templatetag openvariable %}message.body{% templatetag closevariable %}
                    </p>
                    <div layout="row" layout-align="end end">
                        <p class="message-time">{% templatetag openvariable %}message.created{% templatetag closevariable %}</p>
                    </div>
                </div>
            </md-list-item>
            </md-virtual-repeat-container>
        </md-list>
        <div ng-show="messages<1" style="text-align: center; color: grey">
            <i class="material-icons" style="font-size: 120px">question_answer</i>
            <h2 class="md-headline">No Messages yet.</h2>
        </div>
    </md-content>
</section>