{% extends 'base.html' %}
{% block title %} Settings - Change Password {% endblock %}
{% block content %}
    <a href="{% url 'core:home' %}" title="Home">Home</a>
    <hr>
    <h3> Change Password </h3>
    <p><i>Tip: When changing password make it includes Numbers, Symbols, Capital Letters, and Lower-Case Letters</i></p>
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <form method="post">
        {% csrf_token %}
        {{ f1.as_p }}
        <button type="submit">Save</button>
    </form>
{% endblock %}