{% extends 'base.html' %}
{% block title %} Confirm Password {% endblock %}
{% block content %}
    <h2>Confirm Password to Proceed</h2>
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Confirm</button>
    </form>
{% endblock %}