{% extends 'base.html' %}
{% load indexer %}
{% load humanize %}
{% block title %}{{ app.title }}{% endblock %}
{% block content %}
    <a href="{% url 'core:home' %}" title="Home">Home</a> |
    <a href="{{ urls.add.href }}" title="Add {{ app.name }}">Add</a> |
    <a href="{{ urls.export.href }}" title="Export {{ app.name }}">Export</a> |
    <a href="{{ urls.import.href }}" title="Import {{ app.name }}">Import</a> |
    {% if urls.assign.href %}
        <a href="{{ urls.assign.href }}" title="Assign Signatory">Assign</a> |
    {% endif %}
    <hr>
    <h3>Manage {{ app.name }} </h3>
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <form method="get" action="{{ urls.action.search.href }}">
        {{ search.as_p }}
        <button type="submit">Search</button>
    </form>
    <ul>
        <li>{{ app.name }} List | Manage</li>
        <li>
            <ul>
            {% if data.referer == 'course' %}
                {% for s in data.list %}
                    <li>
                        {{ s.course }} - {{ s.description }} - {{ s.college }}
                        <a href="{% url 'course:edit' course=s.course %}" title="Edit {{ s.course }}">Edit</a> -
                        <a href="{% url 'course:delete' course=s.course %}" title="Delete {{ s.course }}">Delete</a> -
                    </li>
                {% endfor %}
            {% elif data.referer == 'liability' %}
                {% for s in data.list %}
                    <li>
                        {{ s.liability }} - {{ s.description }} - {{ s.signatory }} - {{ s.course }} - {{ s.sys }}
                        <a href="{% url 'liability:edit' liability=s.liability %}"
                           title="Edit {{ s.liability }}">Edit</a> -
                        <a href="{% url 'liability:delete' liability=s.liability %}" title="Delete {{ s.liability }}">Delete</a>
                    </li>
                {% endfor %}
            {% elif data.referer == 'office' %}
                {% for s in data.list %}
                    <li>
                        {{ s.office }} - {{ s.description }} - {{ s.college }} -
                        <a href="{% url 'office:edit' office=s.office %}"
                           title="Edit {{ s.office }}">Edit</a> -
                        <a href="{% url 'office:delete' office=s.office %}" title="Delete {{ s.office }}">Delete</a>
                    </li>
                {% endfor %}
            {% elif data.referer == 'receipt' %}
                {% for s in data.list %}
                    <li>
                        {{ s.receipt }} - {{ s.number }} - {{ s.remarks }} -
                        {% if s.is_cleared %} Cleared {% else %} Not Cleared {% endif %}
                        - {{ s.received_by }} - {{ s.received_date }} - {{ s.liability }}
                        <a href="{% url 'receipt:export_receipt' receipt=s.receipt sys_id=s.liability.sys %}"
                           title="Export {{ s.receipt }}">Export</a>
                    </li>
                {% endfor %}
            {% elif data.referer == 'semester' %}
                <li>Filter by:
                    <a href="{% url 'semester:filter' ftr='active' %}" title="Active">Active</a> -
                    <a href="{% url 'semester:filter' ftr='inactive' %}" title="Inactive">Inactive</a>
                </li>
                {% for d in data.list %}
                    <li value="{{ d.sys }}">
                        S.Y.20{{ d.school_year|split_start:2 }}-20{{ d.school_year|split_end:2 }} {{ d.semester|ordinal }}
                        Semester -
                        {% if d.active == None or d.active == False %}Inactive -
                            <a href="{% url 'semester:activate_semester' sem=d.sys %}">Activate</a>
                        {% else %}
                            Active <a href="{% url 'semester:deactivate_semester' sem=d.sys %}">Deactivate</a>
                        {% endif %}
                        - <a href="{% url 'semester:delete_semester' sem=d.sys %}">Delete</a>
                        - <a href="{% url 'semester:edit_semester' sem=d.sys %}">Edit</a>
                    </li>
                {% endfor %}
            {% elif data.referer == 'signatory' %}
                {% for s in data.list %}
                    <li>
                        {{ s.signatory }} - {{ s.details }} - {{ s.office }} -
                        <a href="{% url 'signatory:edit' signatory=s.signatory %}"
                           title="Edit {{ s.signatory }}">Edit</a> -
                        <a href="{% url 'signatory:delete' signatory=s.signatory %}" title="Delete {{ s.signatory }}">Delete</a>
                    </li>
                {% endfor %}
            {% endif %}
        </ul>
        </li>
    </ul>
{% endblock %}