{% load static %}
<html lang="en">
<head>
    <base href="/">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="web-push" content="{{ data.vapid_pub_key }}">
    <meta name="current_page" content="{{ page_type }}">
    <meta name="user_type" content="{{ user_type }}">
    <meta name="push_status" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Cleari - BukSU College Clearance">
    <title>Cleari</title>
    <link rel="manifest" href="{% static 'manifest.json' %}">
    <meta name="theme-color" content="#2F3BA2">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">
    <meta name="apple-mobile-web-app-title" content="Cleari">
    <link rel="apple-touch-icon" sizes="60x60" href="{% static 'images/icons/apple-60.png' %}">
    <link rel="apple-touch-icon" sizes="76x76" href="{% static 'images/icons/apple-76.png' %}">
    <link rel="apple-touch-icon" sizes="120x120" href="{% static 'images/icons/apple-120.png' %}">
    <link rel="apple-touch-icon" sizes="152x152" href="{% static 'images/icons/apple-152.png' %}">
    <link rel="apple-touch-icon" sizes="167x167" href="{% static 'images/icons/apple-167.png' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'images/icons/apple-180.png' %}">
    <link rel="icon" href="{% static 'images/cleari.png' %}">
    <style>
        .fade,.loader{top:0;height:100%}.body-freeze{overflow: hidden;}body{font-family:Roboto,sans-serif;font-weight:400;margin:0}.ng-toolbar{z-index:3}.ng-loader{position:absolute;width:100%;left:0;z-index:90}.loader-text{font-weight:300;color:#607D8B}.loader{background-color:#EEE;position:fixed;width:100%;top:0;height:100%;overflow:hidden;z-index:75}.c{-webkit-align-items:center;-webkit-align-content:center;-webkit-box-align:center;-webkit-box-direction:normal;-webkit-box-orient:vertical;-webkit-box-pack:center;-webkit-justify-content:center;-ms-flex-align:center;align-items:center;-ms-flex-line-pack:center;align-content:center;-webkit-box-sizing:border-box;box-sizing:border-box;display:-webkit-box;display:-ms-flexbox;display:flex;-ms-flex-direction:column;flex-direction:column;-ms-flex-pack:center;justify-content:center;max-width:100%}.fade{position:relative;left:0;right:0;opacity:1}.fade.ng-enter,.fade.ng-leave{-webkit-transition:all 1s ease;-o-transition:all 1s ease;transition:all 1s ease}.fade.ng-enter{opacity:0}.fade.ng-enter-active,.fade.ng-leave{opacity:1}.fade.ng-leave-active{opacity:0}.progress{position:relative;height:4px;display:block;width:100%;background-color: rgba(40, 159, 243, 0.52);border-radius:2px;background-clip:padding-box;margin:.5rem 0 1rem;overflow:hidden}  .progress .indeterminate{background-color: #2196f3}  .progress .indeterminate:after,.progress .indeterminate:before{content:'';position:absolute;background-color:inherit;top:0;left:0;bottom:0;will-change:left,right}  .progress .indeterminate:before{-webkit-animation:indeterminate 2.1s cubic-bezier(.65,.815,.735,.395) infinite;animation:indeterminate 2.1s cubic-bezier(.65,.815,.735,.395) infinite}  .progress .indeterminate:after{-webkit-animation:indeterminate-short 2.1s cubic-bezier(.165,.84,.44,1) infinite;animation:indeterminate-short 2.1s cubic-bezier(.165,.84,.44,1) infinite;-webkit-animation-delay:1.15s;animation-delay:1.15s}  @-webkit-keyframes indeterminate{0%{left:-35%;right:100%}100%,60%{left:100%;right:-90%}}  @keyframes indeterminate{0%{left:-35%;right:100%}100%,60%{left:100%;right:-90%}}  @-webkit-keyframes indeterminate-short{0%{left:-200%;right:100%}100%,60%{left:107%;right:-8%}}  @keyframes indeterminate-short{0%{left:-200%;right:100%}100%,60%{left:107%;right:-8%}} .loader {-webkit-transition:all linear 0.5s;transition:all linear 0.5s;}.loader.ng-hide {opacity:0;}
    </style>
</head>
<body ng-controller="mainController" ng-class="{'body-freeze':!progressDisabler}" layout="row" ng-cloak md-swipe-left="onSwipeLeft()" md-swipe-right="onSwipeRight()">
<button class="js-push-btn" style="position: absolute; z-index: -100;" data-url="{% url 'save_webpush_info' %}">
    Enable Push Messaging
</button>
<md-sidenav ng-cloak md-component-id="left" md-is-locked-open="$mdMedia('gt-sm')" md-swipe-left="onSwipeLeft()" md-swipe-right="onSwipeRight()"
            class="togglernav md-sidenav-left md-whiteframe-z2 md-closed ng-isolate-scope _md"
            ng-hide="sidenav_collapse">
    <md-toolbar class="md-theme-indigo nav-toolbar _md _md-toolbar-transitions noselect" layout="column"
                layout-align="end start" layout-align-gt-sm="center stretch">
        <div layout-gt-sm="row" layout-align-gt-sm="space-between center">
            <div class="md-header nav-desktop-title" ng-class="{'nav-dt-hide' : nav_title_collapse }" hide-sm hide-xs>
                Cleari System
            </div>
            <md-button class="md-icon-button md-button md-ink-ripple" hide-sm hide-xs
                       aria-label="Desktop Navigation Collapse" ng-click="toggleCollapse()">
                <md-tooltip ng-bind="nav_collapse_text" md-direction="right"></md-tooltip>
                <i class="material-icons" ng-bind="tc">keyboard_arrow_left</i>
            </md-button>
        </div>
        <div hide-gt-sm>
            <img ng-src="{% templatetag openvariable %}photo{% templatetag closevariable %}" width="50" height="50">
            <h3 class="md-toolbar-tools" ng-bind="username"></h3>
        </div>
    </md-toolbar>
    <md-content role="navigation" class="nav-content _md flex" ng-class="{'nav-desktop-expand':!nav_title_collapse}">
        <div ng-repeat="m in navigation_menus" class="noselect">
            <md-menu-item>
            <md-button layout="row" layout-align="start center" ng-class="{'revert':!nav_title_collapse}" class="nav-menu-item md-button md-ink-ripple"
                       ng-href="{% templatetag openvariable %} m.href {% templatetag closevariable %}" target="_self"
                       role="menuitem" ng-click="toggleLeft()">
                <md-tooltip ng-hide="!nav_collapse" md-direction="right">{% templatetag openvariable %}
                    m.name {% templatetag closevariable %}</md-tooltip>
                <i class="material-icons">{% templatetag openvariable %} m.icon {% templatetag closevariable %}</i>
                <span ng-hide="nav_collapse">{% templatetag openvariable %} m.name {% templatetag closevariable %}</span>
            </md-button>
            </md-menu-item>
            <md-divider ng-hide="!nav_collapse"></md-divider>
        </div>
        <div hide-xs hide-sm ng-repeat="m in navigation_options" class="noselect">
            <md-menu-item>
                <md-button layout="row" layout-align="start center" class="nav-menu-item md-button md-ink-ripple"
                           ng-href="{% templatetag openvariable %} m.href {% templatetag closevariable %}"
                           target="_self" role="menuitem">
                    <md-tooltip ng-hide="!nav_collapse" md-direction="right">{% templatetag openvariable %}
                        m.name {% templatetag closevariable %}</md-tooltip>
                <i class="material-icons">{% templatetag openvariable %} m.icon {% templatetag closevariable %}</i>
                    <span ng-hide="nav_collapse">{% templatetag openvariable %} m.name {% templatetag closevariable %}</span>
            </md-button>
            </md-menu-item>
            <md-divider ng-hide="!nav_collapse"></md-divider>
        </div>
    </md-content>
</md-sidenav>
<div class="layout-fill _md layout-column flex" ng-cloak>
    <md-progress-linear class="ng-loader" md-mode="indeterminate" ng-hide="route_loader"></md-progress-linear>
    <md-toolbar
            class="noselect ng-toolbar md-primary tt_c toggle_toolbar md-hue-2 md-whiteframe-glow-z1 _md _md-toolbar-transitions"
                ng-hide="toolbar_collapse">
        <div class="md-toolbar-tools">
            <md-button ng-hide="page_type === 'Settings' || menu_button" class="md-icon-button md-button md-ink-ripple hide-gt-sm"
                       ng-click="toggleLeft()"
                       aria-label="Menu">
                <i class="material-icons">menu</i>
            </md-button>
            <md-button ng-show="page_type === 'Settings'" class="md-icon-button md-button md-ink-ripple hide-gt-sm"
                       ng-click="go_back()"
                       aria-label="Back">
                <i class="material-icons">arrow_back</i>
            </md-button>
            <md-button ng-hide="!menu_button" class="md-icon-button md-button md-ink-ripple hide-gt-sm"
                       ng-href="#/inbox"
                       aria-label="Go back to Inbox" style="padding-left:0;">
                <i class="material-icons">arrow_back</i>
            </md-button>
            <h2 ng-bind="header_text" ng-bind-html="ht_html" class="ng-binding md-truncate flex" layout="row"
                layout-align="start center"></h2>

            <md-menu hide-md hide-lg ng-hide="page_type === 'Settings'">
                <md-button aria-label="Open menu" class="md-icon-button" ng-click="$mdMenu.open($event)">
                    <i class="material-icons">more_vert</i>
                </md-button>
                <md-menu-content width="4">
                    <md-menu-item ng-repeat="m in navigation_options">
                        <md-button layout="row" layout-align="start center"
                                   class="nav-menu-item md-button md-ink-ripple"
                                   ng-href="{% templatetag openvariable %} m.href {% templatetag closevariable %}"
                                   target="_self" role="menuitem">
                            <i class="material-icons">{% templatetag openvariable %}
                                m.icon {% templatetag closevariable %}</i>
                            <span>{% templatetag openvariable %} m.name {% templatetag closevariable %}</span>
                        </md-button>
                    </md-menu-item>
                </md-menu-content>
            </md-menu>
        </div>
    </md-toolbar>
    <md-content role="main" ng-hide="main_view" id="subContent" class="ng-view ng-scope _md layout-column flex fade"
                md-scroll-y="">
</div>
<noscript>
    <h4 style="font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica;">
        Sorry, JavaScript needs to be enabled in order to run this application.
    </h4>
</noscript>
<div class="noselect loader c" ng-hide="progressDisabler">
    <div style="position:fixed;">
        <img src="{{ app.startup.icon }}">
        <div class="progress">
            <div class="indeterminate"></div>
        </div>
    </div>
</div>
<script src="{% static 'js/app.js' %}" async></script>
<script data-main="{% static 'js/boot.js' %}" src="{% static 'js/require.js' %}"></script>
<script src="{% static 'django_eventstream/eventsource.min.js' %}"></script>
<script src="{% static 'django_eventstream/reconnecting-eventsource.js' %}"></script>
<!-- Global site tag (gtag.js) - Google Analytics
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-98679703-2"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-98679703-2');
</script>
-->

</body>
