{% if user.type == 'student' %}
    <p><b>Name:</b>{{ user.name }}</p>
    <p><b>ID Number:</b>{{ user.id_number }}</p>
    <p><b>Course:</b>{{ user.course }}</p>
    <p><b>College:</b>{{ user.college }}</p>
    <p>Violations: <b>{{ user.has_violation }}</b></p>
    <p>Violation Details:
        <b>
            {% for v in user.violations %}
                {{ v.reason }}
            {% endfor %}
        </b>
    </p>
{% elif user.type == 'signatory' %}
    <p><b>Signatory Name:</b>{{ user.name }}</p>
    <p><b>ID Number:</b>{{ user.id_number }}</p>
    <p><b>College:</b>{{ user.college }}</p>
    <p><b>Office:</b>{{ user.office }}</p>
    <p><b>Position:</b>{{ user.position }}</p>
{% endif %}