{% load indexer %}
{% load qr_code %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
 <style >
        @page {
            size: A4;
            margin: 1cm;
        }
.table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.tr td, .tr th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 3px;
}

.signed td {
    background-color: #009688 !important;
}

.requesting td {
    background-color: #D84315 !important;
}

.restricted td {
    background-color: #E91E63 !important;
}

.requesting td, .signed td, .restricted td {
    color: #FFFFFF !important;
}

.tr:nth-child(even) {
    background-color: #dddddd;
}
    </style>
</head>
<body>
{% if clearance_list %}
<header>
   <table>
       <tr>
           <td style="text-align: center"></td>
           <td style="text-align: center">
               <h1 style="padding: 2px; margin: 2px">{{ college_desc }}</h1>
               <h2 style="padding: 2px; margin: 2px">{{ department_name }}</h2>
               <h2 style="padding: 2px; margin: 2px">{{ sy }}</h2>
           </td>
           <td style="text-align: center"></td>
       </tr>
   </table>
   <div style="border: solid; border-color: #2C80D2; border-width: 2px; margin-top: 50px; margin-bottom: 10px; padding: 10px;">
       <span style="font-size: 15px; margin-bottom: -50px; position: absolute">Student Information:</span><br/><br/>
       <span style="margin:3px; font-size: 16px">Name: <b>{{ name }}</b></span><br/>
       <span style="margin:3px; font-size: 16px">Course: <b>{{ course }}</b></span><br/>
       <span style="margin:3px; font-size: 16px">Year: <b>{{ year }}</b></span><br/>
       <span style="margin:3px; font-size: 16px">College: <b>{{ college }}</b></span><br/>
   </div>
   <div style="border: solid; border-color: #2C80D2; border-width: 2px; margin-top: 10px; margin-bottom: 10px; padding: 10px;">
       <span style="font-size: 15px; margin-bottom: -50px; position: absolute">Clearance Overview:</span><br/><br/>
       <span style="font-size: 16px">Clearance Status: {% if status %} <b style="color: green">Cleared</b> {% else %} <b style="color: red">Not Cleared</b> {% endif %}</span><br/>
       {% if not url == 'unset' %}<span style="font-size: 16px; word-wrap: break-word">Public Verification URL: <a href="{{ url }}" target="_blank">Click Here</a></span>{% endif %}
   </div>
</header>
<table border="0" class="table" style="margin: 10px">
    <tr class="tr">
        <th style="text-align: center; font-size:15px; padding-top: 5px; background-color: #2C80D2; color: white">No.</th>
        <th style="text-align: center; font-size:15px; padding-top: 5px; background-color: #2C80D2; color: white">Requested Date</th>
        <th style="text-align: center; font-size:15px; padding-top: 5px; background-color: #2C80D2; color: white">Signed Date</th>
        <th style="text-align: center; font-size:15px; padding-top: 5px; background-color: #2C80D2; color: white">Liability Status</th>
        <th style="text-align: center; font-size:15px; padding-top: 5px; background-color: #2C80D2; color: white">Group Name</th>
        <th style="text-align: center; font-size:15px; padding-top: 5px; background-color: #2C80D2; color: white">Remarks</th>
    </tr>
    {% for data in clearance_list %}
    <tr class="tr">
        <th width="5%" style="font-size: 12px;padding-top: 7px;text-align: center">{{ forloop.counter }}.</th>
        <td width="15%" style="font-size: 12px;padding-top: 7px;text-align: center">{{ data.requested_date }}</td>
        <td width="15%" style="font-size: 12px;padding-top: 7px;text-align: center">{{ data.received_date }}</td>
        <td width="15%" style="font-size: 12px;padding-top: 7px;text-align: center">{% if data.receipt|validate_receipt %} Signed {% else %} Not Signed {% endif %}</td>
        <td width="20%" style="font-size: 12px;padding-top: 7px;text-align: center">{{ data.signatory.cdt1.name }}</td>
        <td width="30%" style="font-size: 12px;padding-top: 7px;text-align: center">{{ data.remarks }}</td>
    </tr>
    {% endfor %}
</table>
<footer>
    <br/><br/>
    <p style="font-size: 16px">Prepared By: <em style="text-decoration: underline">{{ by }}</em></p>
    <p style="font-size: 16px; text-align: right">Date Report Generated: {{ date }}</p>
</footer>
{% else %}
    <div style="text-align: center;">
        <h2>Opps..</h2>
        <h3>No Results could be generated</h3>
    </div>
{% endif %}
</body>
</html>
