{% load indexer %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
 <style >
        @page {
            size: A4;
            margin: 1cm;
        }
.table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.tr td, .tr th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 3px;
}

.signed td {
    background-color: #009688 !important;
}

.requesting td {
    background-color: #D84315 !important;
}

.restricted td {
    background-color: #E91E63 !important;
}

.requesting td, .signed td, .restricted td {
    color: #FFFFFF !important;
}

.tr:nth-child(even) {
    background-color: #dddddd;
}
    </style>
</head>
<body>
{% if student_list %}
<header>
    <table>
        <tr>
            <td style="text-align: left; font-size: 16px">{{ report_name }}</td>
            <td style="text-align: center; font-size: 16px">{{ type }}</td>
            <td style="text-align: right; font-size: 16px">Course:<em>{{ course }}</em>/ Year: <em>{{ year }}</em></td>
        </tr>
    </table>
</header>
<table border="0" class="table">
    <tr class="tr">
        <th style="text-align: center; padding-top: 5px; background-color: #2C80D2; color: white">No.</th>
        <th style="text-align: center; padding-top: 5px; background-color: #2C80D2; color: white">ID Number</th>
        <th style="text-align: center; padding-top: 5px; background-color: #2C80D2; color: white">Name</th>
        <th style="text-align: center; padding-top: 5px; background-color: #2C80D2; color: white">Clearance Status</th>
        <th style="text-align: center; padding-top: 5px; background-color: #2C80D2; color: white">Signatory Liability Status</th>
        <th style="text-align: center; padding-top: 5px; background-color: #2C80D2; color: white">Remarks</th>
    </tr>
    {% for data in student_list %}
    <tr class="tr" class="{% if data.liability.clearance.clearanceuserstorage_set.first.status and data.receipt|validate_receipt %}signed{% elif data.receipt|validate_receipt %}requesting{% endif %}">
        <th width="5%" style="font-size: 12px;padding-top: 7px;text-align: center">{{ forloop.counter }}.</th>
        <td width="15%" style="font-size: 12px;padding-top: 7px;text-align: center">{{ data.number.number }}</td>
        <td width="30%" style="font-size: 12px;padding-top: 7px;">{{ data.number.last_name }}, {{ data.number.first_name }} {{ data.number.middle_name }}</td>
        <td width="10%" style="font-size: 12px;padding-top: 7px;text-align: center">{% if data.liability.clearance.clearanceuserstorage_set.first.status %} Cleared {% else %} Not Cleared {% endif %}</td>
        <td width="10%" style="font-size: 12px;padding-top: 7px;text-align: center">{% if data.receipt|validate_receipt %} Signed {% else %} Not Signed {% endif %}</td>
        <td width="30%" style="font-size: 12px;padding-top: 7px;text-align: center">{{ data.remarks }}</td>
    </tr>
    {% endfor %}
</table>
<footer>
    <p style="font-size: 16px">Prepared By: <em style="text-decoration: underline">{{ by }}</em></p>
    <p style="font-size: 16px; text-align: right">Date Report Generated: {{ date }}</p>
</footer>
{% else %}
    <div style="text-align: center;">
        <h2>Opps..</h2>
        <h3>No Results could be generated</h3>
    </div>
{% endif %}
</body>
</html>
