{% load indexer %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
 <style >
        @page {
            size: A4;
            margin: 1cm;
        }
.table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.tr td, .tr th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 3px;
}

.signed td {
    background-color: #009688 !important;
}

.requesting td {
    background-color: #D84315 !important;
}

.restricted td {
    background-color: #E91E63 !important;
}

.requesting td, .signed td, .restricted td {
    color: #FFFFFF !important;
}

.tr:nth-child(even) {
    background-color: #dddddd;
}
    </style>
</head>
<body>
{% if signatory_list %}
<header>
    <table>
        <tr>
            <td style="text-align: left; font-size: 16px">{{ report_name }}</td>
            <td style="text-align: center; font-size: 16px">{{ type }}</td>
            <td style="text-align: right; font-size: 16px">Position:<em>{{ position }}</em>
                / Assign: <em>{{ assign }}</em><br/>
                / Group: <em>{{ group }}</em>
                / College: <em>{{ scope }}</em>
            </td>
        </tr>
    </table>
</header>
<table border="0" class="table">
    <tr class="tr">
        <th style="text-align: center; padding-top: 5px; background-color: #2C80D2; color: white">No.</th>
        <th style="text-align: center; padding-top: 5px; background-color: #2C80D2; color: white">Username</th>
        <th style="text-align: center; padding-top: 5px; background-color: #2C80D2; color: white">Name</th>
        <th style="text-align: center; padding-top: 5px; background-color: #2C80D2; color: white">Position</th>
        <th style="text-align: center; padding-top: 5px; background-color: #2C80D2; color: white">Assign Status</th>
        <th style="text-align: center; padding-top: 5px; background-color: #2C80D2; color: white">Group Name</th>
        <th style="text-align: center; padding-top: 5px; background-color: #2C80D2; color: white">College</th>
    </tr>
    {% for data in signatory_list %}
    <tr class="tr">
        <td width="5%" style="">{{ forloop.counter }}.</td>
        <td width="10%" style="font-size: 12px;padding-top: 7px;text-align: center">{{ data.number.number }}</td>
        <td width="50%" style="font-size: 12px;padding-top: 7px;text-align: left">{{ data.number.full_name }}
        <td width="10%" style="font-size: 12px;padding-top: 7px;text-align: center">{{ data.position.position }}</td>
        <td width="10%" style="font-size: 12px;padding-top: 7px;text-align: center">{% if data.assign %}Assigned{% else %}Not Assigned{% endif %}</td>
        <td width="10%" style="font-size: 12px;padding-top: 7px;text-align: center">{{ data.cdt1.abbreviation | upper }}</td>
        <td width="10%" style="font-size: 12px;padding-top: 7px;text-align: center">{{ data.cdt1.college.college | upper }}</td>
    </tr>
    {% endfor %}
</table>
<footer>
    <p style="font-size: 16px">Prepared By: <em style="text-decoration: underline">{{ by }}</em></p>
    <p style="font-size: 16px; text-align: right">Date Report Generated: {{ date }}</p>
</footer>
{% else %}
    <div style="text-align: center;">
        <h2>Opps..</h2>
        <h3>No Results could be generated</h3>
    </div>
{% endif %}
</body>
</html>
