{% load indexer %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
 <style >
        @page {
            size: A4;
            margin: 1cm;
        }
.table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.tr td, .tr th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 3px;
}

.tr:nth-child(even) {
    background-color: #dddddd;
}
    </style>
</head>
<body>
<header>
    <table>
        <tr>
            <td style="text-align: left; font-size: 16px">{{ report_name }}</td>
            <td style="text-align: center; font-size: 16px">{{ type }}</td>
            <td style="text-align: right; font-size: 16px">Course:<em>{{ course }}</em>/ Year: <em>{{ year }}</em></td>
        </tr>
    </table>
</header>
{% if student_list %}
<table border="0" class="table">
    <tr class="tr">
        <th style="text-align: center; padding-top: 5px; background-color: #2C80D2; color: white">No.</th>
        <th style="text-align: center; padding-top: 5px; background-color: #2C80D2; color: white">ID Number</th>
        <th style="text-align: center; padding-top: 5px; background-color: #2C80D2; color: white">Name</th>
        <th style="text-align: center; padding-top: 5px; background-color: #2C80D2; color: white">Year</th>
        <th style="text-align: center; padding-top: 5px; background-color: #2C80D2; color: white">Course</th>
        <th style="text-align: center; padding-top: 5px; background-color: #2C80D2; color: white">College</th>
    </tr>
    {% for data in student_list %}
    <tr class="tr">
        <th width="5%" style="font-size: 12px;padding-top: 7px;text-align: center">{{ forloop.counter }}.</th>
        <td width="15%" style="font-size: 12px;padding-top: 7px;text-align: center">{{ data.number.number }}</td>
        <td width="50%" style="font-size: 12px;padding-top: 7px;">{{ data.number.last_name }}, {{ data.number.first_name }} {{ data.number.middle_name }}</td>
        <td width="10%" style="font-size: 12px;padding-top: 7px;text-align: center">{{ data.year }}</td>
        <td width="10%" style="font-size: 12px;padding-top: 7px;text-align: center">{{ data.course.course | upper }}</td>
        <td width="10%" style="font-size: 12px;padding-top: 7px;text-align: center">{{ data.course.college.college | upper }}</td>
    </tr>
    {% endfor %}
</table>
{% block footer %}{% endblock %}
<footer>
    <p style="font-size: 16px">Prepared By: <em style="text-decoration: underline">{{ by }}</em></p>
    <p style="font-size: 16px; text-align: right">Date Report Generated: {{ date }}</p>
</footer>
{% else %}
<div style="text-align: center;">
        <h2>Opps..</h2>
        <h3>No Results could be generated</h3>
    </div>
{% endif %}
</body>
</html>
