{% load report_filter %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <style >
        @page {
            size: A4;
            margin: 1cm;
        }
.table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.tr td, .tr th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 3px;
}

.signed td {
    background-color: #009688 !important;
}

.requesting td {
    background-color: #D84315 !important;
}

.restricted td {
    background-color: #E91E63 !important;
}

.requesting td, .signed td, .restricted td {
    color: #FFFFFF !important;
}

.tr:nth-child(even) {
    background-color: #dddddd;
}
    </style>
</head>
<body>
{% if violation_list %}
<header>
    <table>
        <tr>
            <td style="text-align: left; font-size: 16px">{{ report_name }}</td>
            <td style="text-align: center; font-size: 16px">{{ type }}</td>
            <td style="text-align: right; font-size: 16px">Course:<em>{{ course }}</em>/ Year: <em>{{ year }}</em></td>
        </tr>
    </table>
</header>
<table>
    <tr>
        <th style="text-align: center; padding-top: 5px; background-color: #2C80D2; color: white">No.</th>
        <th style="text-align: center; padding-top: 5px; background-color: #2C80D2; color: white">ID Number</th>
        <th style="text-align: center; padding-top: 5px; background-color: #2C80D2; color: white">Name</th>
        <th style="text-align: center; padding-top: 5px; background-color: #2C80D2; color: white">User Type</th>
        <th style="text-align: center; padding-top: 5px; background-color: #2C80D2; color: white">Violation Name</th>
        <th style="text-align: center; padding-top: 5px; background-color: #2C80D2; color: white">Status</th>
        <th style="text-align: center; padding-top: 5px; background-color: #2C80D2; color: white">Remarks</th>
        <th style="text-align: center; padding-top: 5px; background-color: #2C80D2; color: white">Semester</th>
        <th style="text-align: center; padding-top: 5px; background-color: #2C80D2; color: white">School Year</th>
    </tr>
    {% for data in violation_list %}
    <tr>
        <td style="font-size: 12px;padding-top: 7px;text-align: center" width="5%">{{ forloop.counter }}.</td>
        <td style="font-size: 12px;padding-top: 7px;text-align: center" width="10%">{{ data.number.number }}</td>
        <td style="font-size: 12px;padding-top: 7px;text-align: left" width="40%">{{ data.number.full_name }}</td>
        <td style="font-size: 12px;padding-top: 7px;text-align: center" width="10%">{{ data.violation | capfirst}}</td>
        <td style="font-size: 12px;padding-top: 7px;text-align: center" width="5%">{% if data.resolve %}Resolve{% else %}Pending{% endif %}</td>
        <td style="font-size: 12px;padding-top: 7px;text-align: left" width="10%">{{ data.reason }}</td>
        <td style="font-size: 12px;padding-top: 7px;text-align: center" width="10%">{{ data.sys_id.school_year | dehydrate_sy }}</td>
        <td style="font-size: 12px;padding-top: 7px;text-align: center" width="10%">{{ data.s.sys_id.semester | dehydrate_sy }}</td>
    </tr>
    {% endfor %}
</table>
<footer>
    <p style="font-size: 16px">Prepared By: <em style="text-decoration: underline">{{ by }}</em></p>
    <p style="font-size: 16px; text-align: right">Date Report Generated: {{ date }}</p>
</footer>
{% else %}
    <div style="text-align: center;">
        <h2>Opps..</h2>
        <h3>No Results could be generated</h3>
    </div>
{% endif %}
</body>
</html>
