<div class="noselect">
    <div class="profile" layout="row" layout-align="space-between">
        <div class="backdrop-box">
            <div class="backdrop"></div>
        </div>
        <div class="photo" layout="row" layout-align="start end">
            <div class="photo-wrapper" layout="row" layout-xs="column" layout-align-xs="center center"
                 layout-align="start center">
                <img ng-src="{% templatetag openvariable %}profile.photo{% templatetag closevariable %}">
                <md-button class="md-fab md-mini" aria-label="Change Profile" ng-click="changePhoto()">
                    <md-tooltip md-direction="bottom">Change Profile Photo</md-tooltip>
                    <i class="material-icons">face</i>
                </md-button>
                <div class="name" layout="column" layout-align-xs="center center" layout-align="center start">
                    <span class="md-display-1">{% templatetag openvariable %}profile.full_name{% templatetag closevariable %}</span>
                    <span class="md-subhead">{% templatetag openvariable %}profile.type | uppercase {% templatetag closevariable %}</span>
                </div>
            </div>
        </div>
        <div class="edit-button" layout="row" layout-align="start end">
            <md-button class="md-fab" aria-label="Edit Profile" ng-click="edit($event)">
                <md-tooltip md-direction="bottom">Edit Profile</md-tooltip>
                <i class="material-icons">create</i>
            </md-button>
        </div>
    </div>
    <md-content class="md-padding card-platform" layout="row" layout-xs="column" layout-sm="column"
                layout-align="space-around stretch">
        <div>
            <span class="md-title">My Information</span>
            <md-card class="user-information">
                <md-card-content>
                    <p layout="row" layout-align="start center">
                        <i class="material-icons">credit_card</i>
                        <md-tooltip md-direction="bottom">My School ID Number</md-tooltip>
                        <span class="f">{% templatetag openvariable %}profile.number{% templatetag closevariable %}</span>
                    </p>
                    <p layout="row" layout-align="start center">
                        <i class="material-icons">perm_identity</i>
                        <md-tooltip md-direction="bottom">My Name</md-tooltip>
                        <span class="f">{% templatetag openvariable %}profile.full_name{% templatetag closevariable %}</span>
                    </p>
                    <p layout="row" layout-align="start center">
                        <i class="material-icons">location_on</i>
                        <md-tooltip md-direction="bottom">My Address</md-tooltip>
                        <span class="f">{% templatetag openvariable %}profile.address{% templatetag closevariable %}</span>
                    </p>
                    <p layout="row" layout-align="start center">
                        <md-tooltip md-direction="bottom">My Birthday</md-tooltip>
                        <i class="material-icons">cake</i>
                        <span class="f">{% templatetag openvariable %}profile.birthday{% templatetag closevariable %}</span>
                    </p>
                </md-card-content>
            </md-card>
        </div>
        <div layout="column">
            {% block extra %}{% endblock %}
        </div>
    </md-content>
</div>