{% extends 'pwa/profile/common.html' %}
{% block extra %}
    <span class="md-title">{% templatetag openvariable %} extra.type {% templatetag closevariable %} Information</span>
    <md-card class="college-information">
        <md-card-content>
            <p layout="row" layout-align="start center">
                <i class="material-icons">account_balance</i>
                <md-tooltip md-direction="top">My {% templatetag openvariable %}
                    extra.type {% templatetag closevariable %}</md-tooltip>
                <span class="f">{% templatetag openvariable %} extra.name {% templatetag closevariable %}</span>
            </p>
            <p layout="row" layout-align="start center">
                <i class="material-icons">local_play</i>
                <md-tooltip md-direction="top">{% templatetag openvariable %} extra.type {% templatetag closevariable %}
                    Description
                </md-tooltip>
                <span class="f">{% templatetag openvariable %} extra.abbreviation {% templatetag closevariable %}</span>
            </p>
            <p layout="row" layout-align="start center">
                <i class="material-icons">account_balance</i>
                <md-tooltip md-direction="top">My College</md-tooltip>
                <span class="f">{% templatetag openvariable %} extra.c_abbreviation {% templatetag closevariable %}</span>
            </p>
            <p layout="row" layout-align="start center">
                <i class="material-icons">local_play</i>
                <md-tooltip md-direction="top">College Description</md-tooltip>
                <span class="f">{% templatetag openvariable %} extra.c_des {% templatetag closevariable %}</span>
            </p>
        </md-card-content>
    </md-card>
{% endblock %}