{% extends 'pwa/profile/common.html' %}
{% block extra %}
    <span class="md-title">Course Information</span>
    <md-card class="course-information">
        <md-card-content>
            <p layout="row" layout-align="start center">
                <i class="material-icons">class</i>
                <md-tooltip md-direction="bottom">Course and Year</md-tooltip>
                <span class="f">{% templatetag openvariable %} extra.c_abbreviation {% templatetag closevariable %} - {% templatetag openvariable %} extra.c_year {% templatetag closevariable %}</span>
            </p>
            <p layout="row" layout-align="start center">
                <i class="material-icons">local_play</i>
                <md-tooltip md-direction="bottom">Course Description</md-tooltip>
                <span class="f">{% templatetag openvariable %} extra.c_des {% templatetag closevariable %}</span>
            </p>
            <p layout="row" layout-align="start center">
                <i class="material-icons">assessment</i>
                <md-tooltip md-direction="bottom">Department</md-tooltip>
                <span class="f">{% templatetag openvariable %} extra.dep_abbreviation {% templatetag closevariable %} - {% templatetag openvariable %} extra.dept_name {% templatetag closevariable %}</span>
            </p>
        </md-card-content>
    </md-card>
    <span class="md-title">College Information</span>
    <md-card class="college-information">
        <md-card-content>
            <p layout="row" layout-align="start center">
                <i class="material-icons">account_balance</i>
                <md-tooltip md-direction="top">My College</md-tooltip>
                <span class="f">{% templatetag openvariable %} extra.c_abbreviation {% templatetag closevariable %}</span>
            </p>
            <p layout="row" layout-align="start center">
                <i class="material-icons">local_play</i>
                <md-tooltip md-direction="top">College Description</md-tooltip>
                <span class="f">{% templatetag openvariable %} extra.c_des {% templatetag closevariable %}</span>
            </p>
        </md-card-content>
    </md-card>
{% endblock %}