{% extends 'base.html' %}
{% block title %}{{ app.title }}{% endblock %}
{% block content %}
    <a href="{% url 'core:home' %}" title="Home">Home</a> |
    <a href="{% url 'college:add' %}" title="Add College">Add</a> |
    <a href="{% url 'college:export' %}" title="Export College">Export</a> |
    <a href="{% url 'college:import' %}" title="Import College">Import</a> |
    <hr>
    <h3>Manage {{ app.name }} </h3>
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <form method="get" action="{% url 'college:search' %}">
        {{ search.as_p }}
        <button type="submit">Search</button>
    </form>
    <ul>
        <li>College List | Manage</li>
        <ul>
            {% for s in college.list %}
                <li>
                    {{ s.college }} - {{ s.description }} -
                    <a href="{% url 'college:edit' college=s.college %}" title="Edit {{ s.college }}">Edit</a> -
                    <a href="{% url 'college:delete' college=s.college %}" title="Delete {{ s.college }}">Delete</a> -
                </li>
            {% endfor %}
        </ul>
    </ul>
{% endblock %}