{% extends 'base.html' %}
{% load indexer %}
{% load humanize %}
{% block title %}Active Semester{% endblock %}
{% block content %}
    <a href="{% url 'core:home' %}" title="Home">Home</a> |
    <a href="{% url 'semester:add_semester' %}" title="Add Semester">Add Semester</a>
    <hr>
    <h3> Activate Semester </h3>
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <i>Note: Only One Semester can be activated</i>
    {% if semesters.lists %}
        <ul>
            {% for d in semesters.lists %}
                <li value="{{ d.sys }}">
                    S.Y.20{{ d.school_year|split_start:2 }}-20{{ d.school_year|split_end:2 }} {{ d.semester|ordinal }}
                    Semester -
                    {% if d.active == None or d.active == False %}Inactive -
                        <a href="{% url 'semester:activate_semester' sem=d.sys %}">Activate</a>
                    {% else %}
                        Active <a href="{% url 'semester:deactivate_semester' sem=d.sys %}">Deactivate</a>
                    {% endif %}
                    - <a href="{% url 'semester:delete_semester' sem=d.sys %}">Delete</a>
                    - <a href="{% url 'semester:edit_semester' sem=d.sys %}">Edit</a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No Semester yet. <a href="{% url 'semester:add_semester' %}">Add Semester Now</a></p>
    {% endif %}
{% endblock %}