{% extends 'base.html' %}
{% load humanize %}
{% load indexer %}
{% block title %}{{ app.title }}{% endblock %}
{% block content %} <a href="{% url 'pwa:message:inbox' %}" title="Inbox">Inbox</a>
    <hr>
    <form method="post">{% csrf_token %}
        <p>Are you sure you want to delete?</p>
        <input type="submit" value="Confirm"/>
    </form>
{% endblock %}