{% extends 'base.html' %}
{% load humanize %}
{% load indexer %}
{% block title %}{{ app.title }}{% endblock %}
{% block content %}
    <a href="{% url 'pwa:message:new_message' %}" title="New Message">New Message</a>  |
    <a href="{% url 'pwa:message:inbox' %}" title="Inbox">Inbox</a>
    <hr>
    <h1>Message {{ app.type }}</h1>
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <ul>
        {% for message in msg %}
            <li><b>{{ request.user.username|get_recipient:message.msg_id }}</b> - {{ message.created|to_date }}
                - {{ message.body }} - <a href="{% url 'pwa:message:chat' msg_id=message.msg_id %}"
                                          title="View Chat">View</a></li>
        {% empty %}
            <li>No messages yet.</li>
        {% endfor %}
    </ul>
{% endblock %}