{% extends 'base.html' %}
{% load humanize %}
{% load indexer %}
{% block title %}{{ app.title }}{% endblock %}
{% block content %}<a href="{% url 'pwa:message:inbox' %}" title="Inbox">Inbox</a>
    <hr>
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <h1>Message {{ app.type }}</h1>
    <h2>{{ request.user.username|get_recipient:chat_id }}</h2>
    <ul>
        {% for message in msg %}
            <li>
                <div style="margin: 10px;width:  max-content;padding: 10px 23px;border-radius: 39px;background-color: #009688;color:  white;">
                    {{ message.sender|get_name:'name' }} <br/> <b>{{ message.body }}</b> {{ message.get_absolute_url }}
                    <br/>
                    {% if message.has_seen and message.is_latest %}
                        Seen {{ message.seen_at|to_date }}
                    {% else %}
                        <i>{{ message.created|to_date }}</i>
                    {% endif %}
                    <a href="{% url 'pwa:message:delete' msg_id=message.msg_id pk=message.pk %}" title="Delete Message">Delete</a>
                </div>
                {% if message.attachment %}
                    <div style="margin: 10px;width:  max-content;padding: 10px 23px;border-radius: 39px;background-color: #009688;color:  white;">
                        <b>{{ message.attachment|get_file_name }}</b><br/><a href="#">Download</a>
                    </div>
                {% endif %}
            </li>
        {% empty %}
            <li>No articles yet.</li>
        {% endfor %}
        <li>
            <form method="post" action="{% url 'pwa:message:reply' msg_id=chat_id %}" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="Send message"/>
            </form>
        </li>
    </ul>
{% endblock %}