{% extends 'base.html' %}
{% load humanize %}
{% load indexer %}
{% block title %}{{ app.title }}{% endblock %}
{% block content %} <a href="{% url 'pwa:message:inbox' %}" title="Inbox">Inbox</a>
    <hr>
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Send message"/>
    </form>
{% endblock %}