{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cleari - {% block title %}{% endblock %}</title>
    {% block resources %}{% endblock %}
</head>
<body>
    {% block content %}{% endblock %}
</body>
</html>