{% extends 'base.html' %}
{% load indexer %}
{% load humanize %}
{% block title %}Assign Signatory{% endblock %}
{% block content %}
    <a href="{% url 'core:home' %}" title="Home">Home</a>
    <hr>
    <h3> Assign Signatory </h3>
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <i>Signatory Users</i>
    {% if data.users %}
        <ul>
            {% for s in data.users %}
                <li>{{ s.number }} - {{ s.full_name }} - <a
                        href="{% url 'signatory:assign_signatory' number=s.number %}" title="Manage {{ s.full_name }}">Manage</a>
                    -
                    {% if s.usersignatory.assigned %}
                        Assigned - {{ s.usersignatory.signatory }}
                    {% else %}
                        Not yet Assigned
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No Signatory Users yet. <a href="{% url 'clients:add_signatory' %}">Add Signatory Now</a></p>
    {% endif %}
    <i>Signatory Positions</i>
    {% if data.signatory %}
        <ul>
            {% for s in data.signatory %}
                <li>{{ s.signatory }} - {{ s.details }} - {{ s.office }}</li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No Signatory Users yet. <a href="{% url 'signatory:add_signatory' %}">Add Signatory Position Now</a></p>
    {% endif %}
{% endblock %}