<md-dialog aria-label="Issue Clearance">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>{% templatetag openvariable %}title{% templatetag closevariable %}</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="hide()">
                <md-tooltip direction="bottom">Close Dialog</md-tooltip>
                <i class="material-icons">close</i>
            </md-button>
        </div>
    </md-toolbar>
    <div class="college-picker">
        <input type='hidden' value="{{ csrf }}" ng-init="form.csrfmiddlewaretoken='{{ csrf }}'">
        <input class="ng-hide" name="course_list" ng-model="form.course_list">
        <input class="ng-hide" name="clearance_id" ng-model="form.clearance_list">
        <md-select ng-disabled="selector" placeholder="Select Courses" ng-change="updateSwitch()"
                   ng-model="courseSelected"
                   style="min-width: 200px;" multiple>
            <md-optgroup label="courses">
                <md-checkbox class="cb_md" md-indeterminate="neutral_selection" ng-click="toggleSwitch()"
                             ng-checked="select_all">Select All
                </md-checkbox>
                <md-option ng-value="c"
                           ng-repeat="c in courses">{% templatetag openvariable %}c.description{% templatetag closevariable %}</md-option>
            </md-optgroup>
        </md-select>
    </div>
    <md-dialog-content class="md-padding">
        <md-subheader>
            <div layout="row" layout-align="start center">
                <i class="material-icons">info</i>
                <span style="padding-left: 12px;">  Issuing Clearance might take few minutes depending on user density</span>
            </div>
        </md-subheader>
        <div layout="row" layout-align="center center" flex>
            <div class="process" ng-hide="p_daemon">
                <span>{% templatetag openvariable %}percentage{% templatetag closevariable %}%</span>
                <md-progress-circular md-mode="determinate"
                                      value="{% templatetag openvariable %}creation_process{% templatetag closevariable %}"
                                      md-diameter="100"></md-progress-circular>
            </div>
            <h2 ng-hide="p_done">You may now close the dialog</h2>
        </div>
        <md-button ng-disabled="confirm_toggler" class="md-raised md-primary" ng-click="confirm()">Confirm Issuance
        </md-button>
    </md-dialog-content>
</md-dialog>