<table style="margin:15px;">
    <tr>
        <th>Signatory</th>
        <th>Position</th>
        <th>Assign</th>
    </tr>
    <tr ng-repeat="data in info_data">
        <td>{% templatetag openvariable %}data.signatory{% templatetag closevariable %}</td>
        <td>{% templatetag openvariable %}data.position{% templatetag closevariable %}</td>
        <td>{% templatetag openvariable %}data.assign{% templatetag closevariable %}</td>
    </tr>
</table>