<md-dialog aria-label="Action Dialog" class="action-dialog">
    <md-dialog-content class="md-dialog-content">
        <h2 class="md-title act-dialog noselect">Message Option</h2>
    </md-dialog-content>
    <md-dialog-actions class="act-dialog-options">
        <div class="action-buttons md-padding">
            <md-button ng-if="ic.attachment.ext == 'webm'
            || ic.instance.attachment.ext == 'mkv' || ic.instance.attachment.ext == 'flv'
            || ic.instance.attachment.ext == 'vob' || ic.instance.attachment.ext == 'ogg'
            || ic.instance.attachment.ext == 'avi' || ic.instance.attachment.ext == 'mov'
            || ic.instance.attachment.ext == 'qt'  || ic.instance.attachment.ext == 'wmv'
            || ic.instance.attachment.ext == 'mp4' || ic.instance.attachment.ext == 'mpeg'
            || ic.instance.attachment.ext == 'mpg' || ic.instance.attachment.ext == 'm4v'
            || ic.instance.attachment.ext == '3gp' || ic.instance.attachment.ext == '3g2'
            || ic.instance.attachment.ext == 'flv'" ng-click="ic.watch()">Watch Attachment Media
            </md-button>
            <md-button ng-click="ic.download()">Download Attachment</md-button>
            <md-button ng-click="ic.detail()">Attachment Details</md-button>
            <md-button ng-click="ic.delete()">Delete</md-button>
        </div>
    </md-dialog-actions>
</md-dialog>