<md-dialog aria-label="Action Dialog" class="action-dialog">
    <md-dialog-content class="md-dialog-content">
        <h2 class="md-title act-dialog noselect">Message Option</h2>
    </md-dialog-content>
    <md-dialog-actions class="act-dialog-options">
        <div class="action-buttons md-padding">
            <md-button ng-click="ic.copy()">Copy Text</md-button>
            <md-button ng-click="ic.detail()">View Details</md-button>
            <md-button ng-click="ic.delete()">Delete</md-button>
        </div>
    </md-dialog-actions>
</md-dialog>