<md-dialog aria-label="New Message Dialog" class="message-dialog">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2 ng-hide="nmc.pre_configured">{{ title }}</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="cancel()">
                <md-tooltip direction="bottom">Close Dialog</md-tooltip>
                <i class="material-icons">close</i>
            </md-button>
        </div>
    </md-toolbar>
    </md-subheader>
    <md-dialog-content class="md-padding">
        <md-input-container class="md-block">
            <label>State</label>
            <md-select ng-model="user.state">
              <md-option ng-repeat="sem in semyear" value="{{sem.id}}">
                {{sem.name}}
              </md-option>
            </md-select>
        </md-input-container>
        <md-input-container>
            <label>Enter date</label>
            <md-datepicker ng-model="startDate"></md-datepicker>
          </md-input-container>
        <md-input-container>
            <label>Enter date</label>
            <md-datepicker ng-model="endDate"></md-datepicker>
          </md-input-container>
    </md-dialog-content>
</md-dialog>