<md-dialog aria-label="Clearance Dialog">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>{{ vcc.name }} Clearance</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="vcc.hide()">
                <md-tooltip direction="bottom">Close Dialog</md-tooltip>
                <i class="material-icons">close</i>
            </md-button>
        </div>
    </md-toolbar>
    <md-dialog-content>
        <div st-table="vcc.displayed" st-pipe="vcc.callServer" refresh-table>
                <md-card-title class="card-paint" ng-class="{'nf': vcc.displayed.length == 0}">
                    <div style="background-color:#4054b5;">
                        <md-button class="md-icon-button ng-hide-wrapper" ng-click="search_panel = !search_panel">
                            <div ng-class="{'ng-hide': search_panel}">
                                <md-tooltip direction="left">Search List</md-tooltip>
                                <i class="material-icons">search</i>
                            </div>
                            <div ng-class="{'ng-hide': !search_panel}">
                                <md-tooltip direction="left">Close Search List</md-tooltip>
                                <i class="material-icons">clear</i>
                            </div>
                        </md-button>
                        <md-button class="md-icon-button" ng-click="vcc.m_refresh()">
                            <md-tooltip direction="left">Manual Refresh</md-tooltip>
                            <i class="material-icons">refresh</i>
                        </md-button>
                    </div>
                </md-card-title>
                <div style="background-color:#4054b5;" class="card-paint ng-hide-wrapper" ng-class="{'card-s-panel': search_panel, 'nf': vcc.displayed.length == 0}"
                     layout="column" layout-align="center center" class="md-padding">
                    <div class="floating-search-box" ng-class="{'ng-hide': !search_panel}">
                        <div class="floating-search-box-wrap">
                            <input st-search="" ng-model="vcc.search" type="text" placeholder="Search List">
                        </div>
                    </div>
                </div>
                <md-table-container>
                    <table class="md-table ng-hide-wrapper" st-safe-src="rowCollection">
                        <thead class="md-head">
                        <tr class="md-row card-th">
                            <th class="md-column th-pointer" st-sort="liability">Liability</th>
                            <th class="md-column th-pointer" st-sort="status.description">Status</th>
                            <th class="md-column th-pointer" st-sort="valid.description">Validation Status</th>
                            <th class="md-column th-pointer" st-sort="office">Office</th>
                            <th class="md-column th-pointer action-th ng-hide-wrapper">
                                <md-button class="md-icon-button" ng-click="filter_panel = !filter_panel">
                                    <div ng-class="{'ng-hide': filter_panel}">
                                        <md-tooltip direction="left">Filter List</md-tooltip>
                                        <i class="material-icons">filter_list</i>
                                    </div>
                                    <div ng-class="{'ng-hide': !filter_panel}">
                                        <md-tooltip direction="left">Close Filter List</md-tooltip>
                                        <i class="material-icons">clear</i>
                                    </div>
                                </md-button>
                            </th>
                        </tr>
                        <tr class="md-row" ng-class="{'ng-hide': !filter_panel}">
                            <th class="md-column">
                                <md-input-container>
                                    <label>Search by Liability</label>
                                    <input st-search="liability" type="text">
                                </md-input-container>
                            </th>
                            <th class="md-column">
                                <md-input-container>
                                    <label>Search by Status</label>
                                    <input st-search="status.description" type="text">
                                </md-input-container>
                            </th>
                            <th class="md-column">
                                <md-input-container>
                                    <label>Search by Validation Status</label>
                                    <input st-search="valid.description" type="text">
                                </md-input-container>
                            </th>
                            <th class="md-column">
                                <md-input-container>
                                    <label>Search by Office</label>
                                    <input st-search="office" type="text">
                                </md-input-container>
                            </th>
                        </tr>
                        </thead>
                        <thead class="md-table-progress">
                        <tr>
                            <th colspan="5">
                                <md-progress-linear ng-show="vcc.isLoading"
                                                    md-mode="indeterminate"></md-progress-linear>
                            </th>
                        </tr>
                        </thead>
                        <tbody class="md-body">
                        <tr ng-repeat="row in vcc.displayed" class="md-row"
                            ng-class="{'requesting': row.request_status_code == 1, 'signed': row.request_status_code == 2, 'restricted': row.request_status_code == 3}">
                            <td data-title="Liability"
                                class="md-cell">{{row.liability}}</td>
                            <td data-title="Status"
                                class="md-cell">{{row.status.description}}</td>
                            <td data-title="Validation Status" class="md-cell">{{row.valid.description}}</td>
                            <td data-title="Office"
                                class="md-cell">{{row.office}}</td>
                            <td class="md-cell action-td">
                                <md-menu>
                                    <md-button aria-label="Open action menu" class="md-icon-button"
                                               ng-click="vcc.openMenu($mdMenu, $event)">
                                        <i class="material-icons">more_vert</i>
                                    </md-button>
                                    <md-menu-content width="3" class="ng-hide-wrapper">
                                        <md-menu-item>
                                            <md-button layout="row" layout-align="start center" aria-label="Delete Data"
                                                       class="nav-menu-item md-button md-ink-ripple"
                                                       ng-click="vcc.info($event, row)">
                                                <i class="material-icons">info</i>
                                                <span>Signatory Info</span>
                                            </md-button>
                                        </md-menu-item>
                                    </md-menu-content>
                                </md-menu>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </md-table-container>
                <div ng-show="vcc.displayed.length == 0" layout="column" layout-align="center center"
                     class="not-found">
                    <i class="material-icons">sentiment_dissatisfied</i>

                    <h3>No results found
                        <span ng-show="vcc.search.length>0">
                            for
                        </span>
                        <em>{{ vcc.searchvcc.search }}</em></h3>
                </div>
                <div ng-if="vcc.displayed.length != 0" class="pagination-controller" layout="row" layout-xs="column"
                     layout-sm="column" layout-align-xs="end stretch" layout-align-sm="end stretch"
                     layout-align="end start">
                    <div class="md-table-pagination">
                        <div class="page-select">
                            <div class="label">Row per page:</div>
                            <md-select ng-model="vcc.itemsByPage" aria-label="Select Item per Page"
                                       class="md-table-select ">
                                <md-option ng-value="ibp" ng-repeat="ibp in vcc.options">{{ ibp }}</md-option>
                            </md-select>
                        </div>
                    </div>
                    <div class="text-center" st-pagination="" st-items-by-page="vcc.itemsByPage"
                         st-template="static/templates/pagination.tmpl.html"></div>
                </div>
            </div>
    </md-dialog-content>
</md-dialog>