<md-dialog aria-label="Report Dialog">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>{{ title }}</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="show = !show">
                <md-tooltip direction="bottom">Toggle Filter</md-tooltip>
                <i class="material-icons fli" ng-hide="show">invert_colors</i>
                <i class="material-icons fli" ng-hide="!show">invert_colors_off</i>
            </md-button>
            <md-button class="md-icon-button" ng-click="hide()">
                <md-tooltip direction="bottom">Close Dialog</md-tooltip>
                <i class="material-icons">close</i>
            </md-button>
        </div>
    </md-toolbar>
    <div class="custom-picker md-padding" layout="column" ng-if="tog">
        <md-input-container class="fli ng-hide" ng-hide="!show">
            <md-select placeholder="Select College" ng-change="college_switch(collegeSelected)"
                   ng-model="collegeSelected"
                   style="min-width: 200px;">
             <md-option value="unset"></md-option>
            <md-option ng-value="c.pk" ng-repeat="c in college_list">{{ c.description }}</md-option>
        </md-select>
        </md-input-container>
        <md-input-container class="fli ng-hide" ng-hide="!show">
            <md-select placeholder="Select Year" ng-change="year_switch(yearSelected)"
                   ng-model="yearSelected"
                   style="min-width: 200px;">
            <md-option value="unset"></md-option>
            <md-option ng-value="c.year" ng-repeat="c in year_list">{{ c.year_ordinal }}</md-option>
        </md-select>
        </md-input-container>
        <md-input-container class="fli ng-hide" ng-hide="!show">
            <md-select placeholder="Select Courses" ng-change="course_switch(courseSelected)"
                   ng-model="courseSelected"
                   style="min-width: 200px;">
             <md-option value="unset"></md-option>
            <md-option ng-value="c.pk" ng-repeat="c in course_list">{{ c.description }}</md-option>
            </md-select>
        </md-input-container>
    </div>
    <div class="custom-picker md-padding" layout="column" ng-if="!tog">
        <md-input-container class="fli ng-hide" ng-hide="!show">
            <md-select placeholder="Select Position" ng-change="position_switch(positionSelected)"
                   ng-model="positionSelected"
                   style="min-width: 200px;">
             <md-option value="unset"></md-option>
            <md-option ng-value="c.pk" ng-repeat="c in position_list">{{ c.description }}</md-option>
        </md-select>
        </md-input-container>
        <md-input-container class="fli ng-hide" ng-hide="!show">
            <md-select placeholder="Select Assign Status" ng-change="assign_switch(assignSelected)"
                   ng-model="assignSelected"
                   style="min-width: 200px;">
            <md-option value="unset"></md-option>
            <md-option ng-value="c.assign" ng-repeat="c in assign_list">{{ c.year_ordinal }}</md-option>
        </md-select>
        </md-input-container>
        <md-input-container class="fli ng-hide" ng-hide="!show">
            <md-select placeholder="Select Group" ng-change="group_switch(groupSelected)"
                   ng-model="groupSelected"
                   style="min-width: 200px;">
             <md-option value="unset"></md-option>
            <md-option ng-value="c.pk" ng-repeat="c in group_list">{{ c.description }}</md-option>
            </md-select>
        </md-input-container>
        <md-input-container class="fli ng-hide" ng-hide="!show">
            <md-select placeholder="Select College" ng-change="college_switch(collegeSelected)"
                   ng-model="collegeSelected"
                   style="min-width: 200px;">
             <md-option value="unset"></md-option>
            <md-option ng-value="c.pk" ng-repeat="c in college_list">{{ c.description }}</md-option>
            </md-select>
        </md-input-container>
    </div>
    <md-dialog-content class="md-padding">
        <md-subheader>
            <div layout="row" layout-align="start center">
                <i class="material-icons">info</i>
                <span style="padding-left: 12px;">Generation Reports might take few minutes depending on user density</span>
            </div>
        </md-subheader>
        <md-button class="md-raised md-primary" ng-click="default()">
            <div layout="row" layout-align="start center">
                <i class="material-icons">archive</i>
                <span style="padding-left: 12px;">Generate Report</span>
            </div>
        </md-button>
        <md-button class="md-raised md-primary" ng-click="preview()">
            <div layout="row" layout-align="start center">
                <i class="material-icons">open_in_new</i>
                <span style="padding-left: 12px;">Preview Report</span>
            </div>
        </md-button>
    </md-dialog-content>
</md-dialog>