<md-dialog aria-label="Email Dialog" class="message-dialog">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2 ng-hide="nmc.pre_configured">Configure Email</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="cancel()">
                <md-tooltip direction="bottom">Close Dialog</md-tooltip>
                <i class="material-icons">close</i>
            </md-button>
        </div>
    </md-toolbar>
    </md-subheader>
    <md-dialog-content class="md-padding" layout="column">
        <md-subheader class="md-no-sticky">Account Email</md-subheader>
        <md-input-container>
          <label>Set Email</label>
          <input required name="emailName" type="email" ng-model="email_set">
        </md-input-container>
        <md-button class="md-primary" ng-disabled="email_set.length<3" ng-click="submit()">Set Email</md-button>
    </md-dialog-content>
</md-dialog>