<md-dialog aria-label="Information Dialog" class="info-dialog">
    <div>
        <div class="backdrop backdrop-info-dialog"></div>
        <md-toolbar class="info-dialog-toolbar">
            <div class="md-toolbar-tools">
                <h2>{{ ic.title }}</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="ic.cancel()">
                    <i class="material-icons">close</i>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <div class="md-dialog-content" layout="column" layout-align="center center">
                <img class="dialog-profile" ng-src="{{ ic.profile }}">
                <h3>{{ ic.name }}</h3>
                <span class="subheader">{{ ic.position }}</span>
                <span class="subheader">{{ ic.office }}</span>
            </div>
        </md-dialog-content>
    </div>

    <md-dialog-actions layout="row">
        <span flex></span>
        <md-button ng-click="ic.message()">
            Message
        </md-button>
        <md-button ng-click="ic.answer('done')">
            Got it!
        </md-button>
    </md-dialog-actions>
</md-dialog>