<md-dialog aria-label="Information Dialog" class="info-dialog">
    <div>
        <div class="backdrop backdrop-info-dialog"></div>
        <md-toolbar class="info-dialog-toolbar">
            <div class="md-toolbar-tools">
                <h2>{{ ic.title }}</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="ic.cancel()">
                    <i class="material-icons">close</i>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <span>Cle</span>
        </md-dialog-content>
    </div>

    <md-dialog-actions layout="row">
        <span flex></span>>
        <md-button ng-click="ic.answer('done')">
            Got it!
        </md-button>
    </md-dialog-actions>
</md-dialog>