<md-dialog aria-label="New Message Dialog" class="message-dialog">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2 ng-hide="nmc.pre_configured">Write new Message</h2>
            <h2 ng-hide="!nmc.pre_configured">Write message to {{ nmc.recipient_name }}</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="nmc.cancel()">
                <md-tooltip direction="bottom">Close Dialog</md-tooltip>
                <i class="material-icons">close</i>
            </md-button>
        </div>
    </md-toolbar>
    <md-subheader ng-hide="!nmc.pre_configured">
         <div layout="row" layout-align="start center">
             <i class="material-icons">warning</i>
             <span style="padding-left:10px;"> {{ nmc.message }}</span>
         </div>
    </md-subheader>
    <md-dialog-content class="md-padding">
        <md-chips ng-hide="nmc.pre_configured" ng-model="nmc.recipient" md-add-on-blur="true"  md-separator-keys="nmc.keys" placeholder="Enter a recipient username"></md-chips>
            <div class="chat-footer">
                <form ng-submit="nmc.send()">
                    <md-input-container class="message-body-wrapper">
            <label class="message-classic-label noselect">Write a message</label>
                <textarea class="message-body" ng-model="nmc.body" md-maxlength="150" rows="5" max-rows="10"></textarea>
            </md-input-container>
                    <div class="message-buttons" layout="row" layout-align="end center" flex>
                <span ng-bind="nmc.attachment['0'].name"></span>
                <input class="ng-hide" type="file" id="fileSelector" ng-model="nmc.attachment" ngf-select="">
                <md-button class="md-icon-button" ng-click="nmc.add_attachment()">
                    <md-tooltip md-direction="top">Attach File</md-tooltip>
                    <i class="material-icons">attachment</i>
                </md-button>
                <md-button ng-hide="!nmc.pre_configured" type="submit" class="md-icon-button md-raised" ng-class="{message_send_active:body.length>0}"
                           ng-disabled="nmc.body.length<1 || nmc.body === undefined">
                    <md-tooltip md-direction="top">Send Message</md-tooltip>
                    <i class="material-icons">send</i>
                </md-button>
                <md-button ng-hide="nmc.pre_configured" type="submit" class="md-icon-button md-raised" ng-class="{message_send_active:body.length>0 && nmc.recipient.length>0}"
                           ng-disabled="nmc.body.length<1 || nmc.body === undefined || nmc.recipient.length<1 || nmc.recipient === undefined">
                    <md-tooltip md-direction="top">Send Message</md-tooltip>
                    <i class="material-icons">send</i>
                </md-button>
            </div>
                </form>
            </div>
    </md-dialog-content>
</md-dialog>