<div ng-if="pages.length >= 2" class="md-table-pagination" layout="row" layout-align-xs="end stretch"
     layout-align-sm="end stretch">
    <div class="page-select">
        <div class="label">Page:</div>
        <md-select ng-model="currentPage" aria-label="Select Page" class="md-table-select ">
            <md-option ng-click="selectPage(page)" ng-value="page" ng-repeat="page in pages">{{ page }}</md-option>
        </md-select>
    </div>
    <div class="buttons">
        <span class="pagination-info itemCount">
     {{(currentPage-1)*stItemsByPage+1}}-
     {{ currentPage*stItemsByPage}}
     of {{ totalItemCount }} Records
        </span>
    </div>
    <div class="buttons">
        <md-button class="md-icon-button" ng-click="selectPage(1)" aria-label="First">
            <md-tooltip direction="bottom">Goto First</md-tooltip>
            <i class="material-icons">first_page</i>
        </md-button>
        <md-button class="md-icon-button" ng-click="selectPage(currentPage-1)" aria-label="Previous">
            <md-tooltip direction="bottom">Previous</md-tooltip>
            <i class="material-icons">chevron_left</i>
        </md-button>
        <md-button class="md-icon-button" ng-click="selectPage(currentPage+1)" aria-label="Next">
            <md-tooltip direction="bottom">Next</md-tooltip>
            <i class="material-icons">chevron_right</i>
        </md-button>
        <md-button class="md-icon-button" ng-click="selectPage(numPages)" aria-label="Last">
            <md-tooltip direction="bottom">Goto Last</md-tooltip>
            <i class="material-icons">last_page</i>
        </md-button>
    </div>
</div>