<md-dialog aria-label="New Message Dialog" class="message-dialog">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2 ng-hide="nmc.pre_configured">Configure Password</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="cancel()">
                <md-tooltip direction="bottom">Close Dialog</md-tooltip>
                <i class="material-icons">close</i>
            </md-button>
        </div>
    </md-toolbar>
    </md-subheader>
    <md-dialog-content class="md-padding" layout="column">
        <md-subheader>Change User Password</md-subheader>
        <md-input-container>
          <label>Old Password</label>
          <input required name="clientName" type="password" ng-model="oldPass">
          <div ng-messages="projectForm.clientName.$error">
            <div ng-message="required">This is required.</div>
          </div>
        </md-input-container>
        <md-input-container>
          <label>New Password</label>
          <input required name="clientName" type="password" ng-model="newPass">
          <div ng-messages="projectForm.clientName.$error">
            <div ng-message="required">This is required.</div>
          </div>
        </md-input-container>
        <md-input-container>
          <label>Retype New Password</label>
          <input required name="clientName" type="password" ng-model="newPass1">
          <div ng-messages="projectForm.clientName.$error">
            <div ng-message="required">This is required.</div>
          </div>
        </md-input-container>
        <p ng-show="newPass != newPass1">Password did not matched</p>
        <md-button class="md-primary" ng-disabled="newPass != newPass1" ng-click="submit()">Change Password</md-button>
    </md-dialog-content>
</md-dialog>