<md-list ng-controller="SettingsCtrl as setting" ng-cloak>
  <md-subheader class="md-no-sticky">Security and Recovery</md-subheader>
    <md-list-item ng-click="setting.setEmail()">
    <i class="material-icons item_icons">email</i>
    <p>Configure Email</p>
  </md-list-item>
  <md-list-item ng-click="setting.setPassword()">
    <i class="material-icons item_icons">security</i>
    <p>Configure Password</p>
  </md-list-item>
  <md-subheader class="md-no-sticky">Push Notification Service</md-subheader>
  <md-list-item ng-click="setting.togglePushWeb()" ng-disabled="pm1">
    <span class="material-icons item_icons">cloud</span>
    <p ng-show="pm">{{ pmm }}</p>
    <p ng-show="!pm"><span ng-hide="setting.enabled">Enable</span><span ng-hide="!enabled">Disable</span> Push Notification</p>
    <md-switch class="md-secondary" ng-disabled="pm1" ng-model="enabled"></md-switch>
  </md-list-item>

  <md-divider></md-divider>
</md-list>