<md-toast>
  <div layout="column" flex>
      <span class="md-toast-text md-truncate">{{ message }}</span>
      <span class="md-toast-text md-truncate">From: {{ from }}</span>
  </div>
  <md-button class="md-highlight" ng-click="openLink()">
    More info
  </md-button>
  <md-button ng-click="closeToast()">
    Close
  </md-button>
</md-toast>