<md-dialog class="watch-md" aria-label="Player Dialog" class="player-dialog">
    <md-dialog-content class="watch-mdc md-dialog-content">
        <h2 class="watch-header md-title act-dialog noselect">{{ ic.instance.attachment.name }}</h2>
        <div class="videogular-container">
            <videogular vg-theme="ic.theme.url">
                <vg-media vg-src='ic.sources'>
                </vg-media>

                <vg-controls>
                    <vg-play-pause-button></vg-play-pause-button>
                    <vg-time-display>{{ currentTime | date:'mm:ss':'+0000' }}</vg-time-display>
                    <vg-scrub-bar>
                        <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
                    </vg-scrub-bar>
                    <vg-time-display>{{ timeLeft | date:'mm:ss':'+0000' }}</vg-time-display>
                    <vg-volume>
                        <vg-mute-button></vg-mute-button>
                        <vg-volume-bar></vg-volume-bar>
                    </vg-volume>
                    <vg-fullscreen-button></vg-fullscreen-button>
                </vg-controls>
                <vg-buffering></vg-buffering>
                <vg-overlay-play></vg-overlay-play>
            </videogular>
        </div>
    </md-dialog-content>
</md-dialog>