{% extends 'base.html' %}
{% block title %}{{ app.title }}{% endblock %}
{% block content %}
    <a href="{% url 'core:home' %}" title="Home">Home</a> |
    <a href="{% url 'clients:export_user' %}" title="Export User">Export</a> |
    <a href="{% url 'clients:import_user' %}" title="Import User">Import</a> |
    <hr>
    <h3>Manage {{ app.name }} </h3>
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <form method="get" action="{% url 'clients:search' %}">
        {{ search.as_p }}
        <button type="submit">Search</button>
    </form>
    <ul>
        <li>Student List | Manage</li>
        <ul>
            {% for s in client.list %}
                <li>
                    {{ s.user.number }} - {{ s.user.full_name }} - {{ s.user.type }}
                    {% if s.s.user.user_type == 'Student' %}
                        {{ s.user.userstudent.course }} - {{ s.user.userstudent.year_level }} -
                        {{ s.user.userstudent.course.college }} -
                    {% elif s.user.user_type == 'Signatory' %}
                        {{ s.user.usersignatory.signatory }} - {{ s.user.usersignatory.signatory.office }} -
                    {% endif %}
                    {% if s.is_active %}
                        Active -
                        <a href="{% url 'clients:deactivate_user' username=s.user.number %}"
                           title="Deactivate {{ s.user.full_name }}">Deactivate</a> -
                    {% else %}
                        Inactive -
                        <a href="{% url 'clients:activate_user' username=s.user.number %}"
                           title="Activate {{ s.user.full_name }}">Activate</a> -
                    {% endif %}
                    <a href="{% url 'clients:edit_user' username=s.user.number %}" title="Edit {{ s.user.full_name }}">Edit</a>
                    -
                    <a href="{% url 'clients:delete_user' username=s.user.number %}"
                       title="Delete {{ s.user.full_name }}">Delete</a>
                </li>
            {% endfor %}
        </ul>
    </ul>
{% endblock %}