{% block content %}
    <md-content class="noselect login_wrap md-padding ng-scope _md" layout="row" layout-align="center center" ng-cloak>
        <md-card class="login_card">
            <md-subheader class="md-primary">
                    <span class="home_time">
                        Time Remaining: <b>{% templatetag openvariable %}timebound_counter{% templatetag closevariable %}</b>
                    </span>
                <span> until clearance signing will be closed</span>
                <span class="home_time_closed" ng-show="countdown_expired">Clearance is already closed</span>
            </md-subheader>
            <img hide-xs ng-src="{% templatetag openvariable %}imagePath{% templatetag closevariable %}"
                 class="md-card-image"
                 alt="University Gate Photo">
            <md-card-title>
                <md-card-title-text layout-align-xs="center center">
                    <span class="md-headline">Login</span>
                </md-card-title-text>
            </md-card-title>
            <form name="UserLoginForm" ng-submit="submit()">
                <md-card-content>
                    <input type='hidden' value="{{ csrf }}" ng-init="form.csrfmiddlewaretoken='{{ csrf }}'"
                           ng-model="form.csrfmiddlewaretoken"/>
                    <md-input-container class="md-block">
                        <label>Username</label>
                        <input md-maxlength="30" required name="username" ng-model="form.username"/>
                        <div ng-messages="UserLoginForm.username.$error" role="alert">
                            <div ng-message-exp="['required']">
                                Username is required.
                            </div>
                            <div ng-message="md-maxlength">
                                Username should not be greater than 30 characters
                            </div>
                            <div ng-message-exp="['md-maxlength']">
                                Username should not be greater than 30 characters
                            </div>
                        </div>
                    </md-input-container>
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Password</label>
                        <input md-maxlength="30" type="password" required name="password" ng-model="form.password"
                               ng-keyup="$event.keyCode == 13 ? submit() : null"/>
                        <div ng-messages="UserLoginForm.password.$error">
                            <div ng-message-exp="['required']">
                                Password is required.
                            </div>
                            <div ng-message-exp="['md-maxlength']">
                                Password should not be greater than 30 characters
                            </div>
                        </div>
                        <div class="error" ng-messages="serverErrors" ng-show="UserLoginForm.$submitted" ng-cloak>
                            <p ng-message="wrongpassword">Wrong Password</p>
                        </div>
                    </md-input-container>
                </md-card-content>
                <md-card-actions layout="row" layout-align="end center">
                    <md-button type="submit" class="md-raised md-primary" ng-bind="submit_text"
                               aria-label="Login User"></md-button>
                </md-card-actions>
            </form>
        </md-card>
    </md-content>
{% endblock %}

